@import "variables/color";
@import "../../../shared/accountant-portal-variables";

.container {
    margin: 0 auto;
    max-width: 750px;
}

.wrapper-card {
    background-color: $color-card-container;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.align-right {
    justify-content: flex-end;
}
