<main class="container">
    <header class="header-container">
        <h1 class="heading">{{'accountant_portal.add_accountant_company.heading' | translate}}</h1>
    </header>

    <mat-card class="wrapper-card padding-v-lg">
        <form novalidate [formGroup]="addAccountantCompanyForm" class="margin-t-lg">
            <mat-card class="padding-t-lg">
                <app-company-form
                    [moreInfo]="true"
                    [isSetupForm]="isSetupForm"
                    (formReady)="formInitialized('companyForm', $event)"></app-company-form>
            </mat-card>

            <div class="flex-container">
                <button mat-raised-button
                        id="accountant_portal.add_accountant_company.save"
                        tabindex="0"
                        color="primary"
                        class="margin-t-md"
                        (click)="saveSettings()">
                    <span>{{'accountant_portal.add_accountant_company.save' | translate}}</span>
                </button>
            </div>
        </form>
    </mat-card>
</main>
