@import "variables/variables";
@import "typography/typography";

$bx-data-table-cell-gap-size: 8px;

.bx-data-table {
    table {
        @extend %typography;
        width: 100%;
        font-family: $base-font-family;
        background: $color-card;

        tr {
            height: 40px;

            // General cell styling (i.e. head & body)
            > th,
            > td {
                vertical-align: middle;
                padding: $bx-data-table-cell-gap-size 0 $bx-data-table-cell-gap-size $bx-data-table-cell-gap-size;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);

                &:first-child {
                    padding-left: 2 * $bx-data-table-cell-gap-size;
                }

                &:last-child {
                    padding-right: 2 * $bx-data-table-cell-gap-size;
                }
            }

            // Header cell styling
            > th {
                font-size: 11px;
                font-weight: bold;
                white-space: nowrap;
                padding-bottom: 0;

                &.bx-header-text-right {
                    @extend .text-right;

                    .mat-sort-header-container {
                        justify-content: flex-end;

                        // Material override: display sort arrow (↑) on the left of right-aligned headers
                        .mat-sort-header-arrow {
                            order: -1;
                            margin: 0 6px 0 0;
                        }
                    }
                }
            }

            // (Body) cell styling
            > td {
                font-size: $base-font-size;

                &.bx-column-ellipsis {
                    max-width: 150px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .add-hover:hover {
        background-color: $color-table-hover;
    }

    mat-paginator {
        background: $color-card;
    }
}
