<bx-spinner *ngIf="loading$ | async"></bx-spinner>
<main [hidden]="loading$ | async">
    <app-loader-overlay [disableLoader]="loaderService.disableLoader$ | async"></app-loader-overlay>
    <app-header [loginUser]="accountantPortalStateService.loginUser$ | async"></app-header>
    <router-outlet></router-outlet>
</main>
