<main class="container">
    <header class="header-container">
        <h1 class="heading">{{'accountant_portal.services' | translate}}</h1>
        <p>{{'accountant_portal.services.description' | translate}}</p>
    </header>

    <section class="services-collection">
        <app-service-card class="service-card"
                          serviceName="firm-it"
                          (showConsentRequest)="onShowConsentDialog($event)">
        </app-service-card>
        <app-service-card class="service-card"
                          serviceName="blueaudit"
                          (showConsentRequest)="onShowConsentDialog($event)">
        </app-service-card>
        <app-service-card-propose-another class="service-card"></app-service-card-propose-another>
    </section>
</main>
