$service-card-space-between: 16px;
$service-cards-per-row: 2;

.container {
    margin: 0 auto;
    max-width: 1168px;
}

.header-container {
    padding: 16px 24px;
}

.services-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .service-card {
        flex: 0 0 calc((100% / #{$service-cards-per-row}) - (#{$service-card-space-between} / 2));
        margin-bottom: $service-card-space-between;
    }
}
