.Tooltip-content {
    max-width: 272px;
    padding: 1.6rem;
    color: rgba(0,0,0,.87);
    text-align: justify;
    background-color: #fcfcfc;
    border-radius: 2px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.14);
    font-size: 1.3rem;
    font-family: Lato,sans-serif;
}

.Tooltip-content--bottom::before {
    content: '';
    position: absolute;
    display: block;    
    width: 0px;        
    left: 50%;
    top: 0;
    border: 12px solid transparent;
    border-top: 0;
    border-bottom: 12px solid #fcfcfc;
    transform: translate(-50%, calc(-100% + 1px));
  }

  .Tooltip-content--right::before {
    content: '';
    position: absolute;
    display: block;    
    width: 0px;        
    left: 0;
    top: 50%;
    border: 12px solid transparent;
    border-left: 0;
    border-right: 12px solid #fcfcfc;
    transform: translate(calc(-100%), -50%);
  }

  .Tooltip-content--left::before {
    content: '';
    position: absolute;
    display: block;    
    width: 0px;        
    right: 0;
    top: 50%;
    border: 12px solid transparent;
    border-right: 0;
    border-left: 12px solid #fcfcfc;
    transform: translate(calc(100%), -50%);  
  }

  .Tooltip-content--top::before {
    content: '';
    position: absolute;
    display: block;    
    width: 0px;        
    left: 50%;
    bottom: 0;
    border: 12px solid transparent;
    border-bottom: 0;
    border-top: 12px solid #fcfcfc;
    transform: translate(-50%, calc(100%));
  }