<mat-card class="card no-padding">
    <section class="card-header">
        <h1 class="card-title card-title-large">{{"billing.overview.payment_history" | translate}}</h1>
    </section>
    <section class="card-content">
        <bx-spinner *ngIf="!invoicesLoaded"></bx-spinner>
        <div *ngIf="invoicesLoaded">
            <p *ngIf="!invoices.length" class="card-message text-disabled">
                {{"billing.overview.payment_history_no_invoices" | translate}}</p>
            <table class="bx-table">
                <tbody>
                <tr *ngFor="let invoice of invoices">
                    <td>
                        <p *ngIf="invoice.isInvoiceType">{{invoice.number}}</p>
                        <p *ngIf="invoice.isCreditNoteType" class="credit-note">{{"billing.overview.credit_earned" | translate}}</p>
                        <p class="caption text-subtle">{{invoice.date | date:'mediumDate'}}</p>
                    </td>
                    <td [class.credit-note]="invoice.isCreditNoteType">{{invoice.currency}} {{invoice.absAmount | number: '1.2-2'}}</td>
                    <td><span *ngIf="invoice.isInvoiceType">{{invoice.state | invoice_state | translate | uppercase}}</span></td>
                    <td><a *ngIf="invoice.isInvoiceType" (click)="downloadInvoice(invoice)">PDF</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</mat-card>
