@import "variables/variables";
@import "placeholders/typography.placeholder";

$cheatsheet-text-color: $color-character-primary-light;
$cheatsheet-font-family: $typo-font-base-family;
$cheatsheet-font-size: $typo-font-base-size;
$cheatsheet-font-weight: $typo-font-base-weight;
$cheatsheet-hotkeys-font-size: 1.6rem;
$cheatsheet-hotkeys-key-padding: 1rem;

.cfp-hotkeys-container {
  .cfp-hotkeys-title {
    color: $cheatsheet-text-color;
    font-family: $cheatsheet-font-family;
    font-size: $cheatsheet-hotkeys-font-size;
    font-weight: 700;
  }

  table {
    width: auto;

    td {
      border: none;
      vertical-align: middle;
      color: $cheatsheet-text-color;
      font-family: $cheatsheet-font-family;
      font-size: $cheatsheet-font-size;
      font-weight: $cheatsheet-font-weight;

      &:not(:first-child) {
        text-align: left;
      }

      .cfp-hotkeys-key {
        padding: $cheatsheet-hotkeys-key-padding;
        white-space: nowrap;
      }
    }
  }
}
