@import "../../../shared/accountant-portal-variables";

.no-clients {
    box-shadow: none;
    background-color: $no-client-background-color;


    .flex-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

