<mat-card class="margin-md margin-t-xl no-clients">
    <div class="flex-container margin-md">
    <img src="{{assetUrl}}/images/empty-state-icon.png"/>
    </div>
    <div class="flex-container margin-md">
        {{'accountant_portal.clients.no_clients.info' | translate}}&nbsp;
        <a (click)="onAddNewClient()">{{'accountant_portal.clients.no_clients.link' | translate}}</a>
    </div>
</mat-card>
