<mat-card class="wrapper-card padding-v-lg">
    <p class="subheading">{{'accountant_portal.join_existing_company.subheading' | translate}}</p>
    <mat-card class="padding-t-lg">
        <div class="flex-container">
            <div class="explanation margin-t-sm text-subtle">{{'accountant_portal.join_existing_company.choose_or_create_company' | translate}}</div>
            <div class="input-wrapper margin-l-xl" [formGroup]="form">
                <label>
                    <div class="label-container">
                        <span class="label-text">{{'accountant_portal.join_existing_company.company_label' | translate}}</span>
                    </div>
                    <app-autocomplete #autocomplete formControlName="company"
                                      [items]="companies"
                                      [isStrict]="false"
                                      [newItemOption]="autocompleteNewItemOption"
                                      [isAriaInvalid]="isAriaInvalid('company')"
                                      menu-size="auto"
                                      (change)="onChange($event)"
                                      (newItemClicked)="onNewItem()"></app-autocomplete>
                </label>
            </div>
            <div *ngIf="this.form.get('company').value">
                <button type="button" mat-icon-button
                        (click)="resetInput()"
                        color="secondary"
                        id="accounant_portal.join_existing_company.empty_input"
                        tabindex="-1" class="reset-input-button">
                    <mat-icon fontSet="far" fontIcon="fa-times"></mat-icon>
                </button>
            </div>
        </div>
    </mat-card>

    <div class="flex-container margin-t-lg action-container">
        <p *ngIf="companySelected" class="no-margin text-subtle">{{'accountant_portal.join_existing_company.send_request_to_company' | translate:{companyName: selectedCompanyName} }}</p>
        <button mat-raised-button
                id="accountant_portal.join_existing_accountant_company.submit_request"
                tabindex="0"
                color="primary"
                class="margin-l-lg"
                (click)="onJoinCompany()"
                [disabled]="!companySelected">
            <span>Anfrage abschicken</span>
        </button>
    </div>
</mat-card>
