@import "variables/color";

.wrapper-card {
    background-color: $color-card-container;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
}

.explanation {
    width: 192px;
}

.input-wrapper {
    flex-grow: 1;
}

.action-container {
    align-items: center;
    justify-content: flex-end;
}

.reset-input-button {
    margin-top: 22px;
}
