@import "placeholders/placeholders";
@import "mixins/mixins";
// mat-card custom
@import "md-card.placeholder";

mat-card {
    &.mat-card {
        @extend %body-regular;
        @include mix-shadow(1, 1);
        margin-bottom: $card-margin;
        border-radius: $card-radius;
        background-color: $card-bgr-color;
        padding: $card-padding;
        letter-spacing: 0;
        color: $card-base-color;

        &:first-child {
            .mat-card-nav {
                @extend %mat-card-nav-pos;
            }
        }

        &.card {
            &.attached-card {
                margin-bottom: 0;
                border-bottom: 1px solid $color-hr;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                & + .card {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
            }

            &.no-top-radius-card {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }
}

.mat-card-nav {
    @extend %mat-card-nav-pos;
    margin-top: 0;
}

body {
    .mat-card-actions {
        @extend %mat-card-actions;
    }

    .mat-card-footer {
        @extend %mat-card-footer;
    }
}
