<div class="grid">
    <div class="cell cell-shrink">
        <button type="button" mat-icon-button
                color="secondary"
                class="search-button"
                id="search_component.open_search"
                tabindex="-1"
                [matTooltip]="'accounting_reports.account_ledger.option_search' | translate"
                mdTooltipPosition="below"
                (click)="toggleSearch()">
            <mat-icon fontSet="far" fontIcon="fa-search" class="search-button-icon"></mat-icon>
        </button>
    </div>
    <div class="cell cell-shrink middle" [class.padding-l-sm]="openSearch">
        <input id="search-input"
               class="search-input"
               [@triggerAnimation]="animationState"
               (blur)="checkOnBlur($event.target.value)">
    </div>
    <div class="cell cell-shrink" *ngIf="isSearchActive" [class.padding-l-sm]="openSearch">
        <button type="button" mat-icon-button
                color="secondary"
                class="search-button"
                id="search_component.cancel_search"
                tabindex="-1"
                [matTooltip]="'accounting_reports.account_ledger.cancel_search' | translate"
                mdTooltipPosition="below"
                (click)="cancelSearch()">
            <mat-icon fontSet="far" fontIcon="fa-times" class="search-button-icon"></mat-icon>
        </button>
    </div>
</div>
