<mat-card class="no-padding">
    <div class="bx-data-table">
        <table matSort mat-table
               [dataSource]="dataSource"
               [matSortActive]="'fullName'"
               [matSortDirection]="'desc'"
               [matSortDisableClear]="true">

            <ng-container matColumnDef="profileImage">
                <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                <td mat-cell *matCellDef="let accountant">
                    <div class="avatar"
                         [style.background-image]="'url(' + (accountant.profileImageUrl ? accountant.profileImageUrl : 'assets/images/bx-default-avatar.png') + ')'">
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'accountant_portal.table_column.name' | translate}}
                </th>
                <td mat-cell *matCellDef="let accountant" class="text-strong">{{ accountant.fullName }}</td>
            </ng-container>

            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'accountant_portal.table_column.role' | translate}}
                </th>
                <td mat-cell *matCellDef="let accountant">
                    <ng-container
                        *ngIf="accountant.id === accountantUser.id; then isLoggedInAccountant; else otherAccountants"></ng-container>
                    <ng-template #isLoggedInAccountant>
                        {{accountant.role | titlecase}}
                    </ng-template>
                    <ng-template #otherAccountants>
                        <ng-container *ngIf="!accountant.isPendingAccountant && accountant.isOnboardingPending; then onboardingPending; else onboardingNotPending"></ng-container>
                        <ng-template #onboardingPending>
                            <span class="text-subtle">{{'accountant_portal.accountants.invite_pending' | translate}}</span>
                        </ng-template>
                        <ng-template #onboardingNotPending>
                            <button mat-button [matMenuTriggerFor]="roleMenu" [disabled]="accountant.roleChangeInProgress"
                                    class="no-l-padding text-left role-trigger">
                                <!--Trick to make button as wide as longer of 2 possible options, language independent-->
                                <span class="invisible-width-helper">{{'accountant_portal.owner' | translate}}</span>
                                <span class="invisible-width-helper">{{'accountant_portal.accountant' | translate}}</span>
                                {{accountant.role | titlecase}}
                                <i class="fa fa-caret-down role-caret"></i>
                            </button>
                            <mat-menu #roleMenu="matMenu">
                                <button mat-menu-item (click)="onRoleChange(accountant.id, ownerRole)"
                                        [class.active-role]="isOwner(accountant.role)">{{'accountant_portal.owner' | translate}}</button>
                                <button mat-menu-item (click)="onRoleChange(accountant.id, accountantRole)"
                                        [class.active-role]="!isOwner(accountant.role)">{{'accountant_portal.accountant' | translate}}</button>
                            </mat-menu>
                        </ng-template>
                    </ng-template>
                </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'accountant_portal.table_column.email' | translate}}
                </th>
                <td mat-cell *matCellDef="let accountant"><a
                    [href]="'mailto:' + accountant.email">{{accountant.email}}</a></td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let accountant" class="text-right">
                    <ng-container *ngIf="accountant.isPendingAccountant">
                        <button mat-raised-button
                                (click)="acceptAccountantInvitation(accountant)"
                                class="margin-r-md"
                                type="button"
                                id="accountant_portal.accountants.accept_invitation"
                                tabindex="0"
                                color="secondary">
                            {{'accountant_portal.accountants.accept_invitation' | translate}}
                        </button>

                        <button mat-raised-button
                                (click)="rejectAccountantInvitation(accountant)"
                                type="button"
                                id="accountant_portal.accountants.reject_invitation"
                                tabindex="0"
                                color="secondary">
                            {{'accountant_portal.accountants.reject_invitation' | translate}}
                        </button>
                    </ng-container>
                    <ng-container *ngIf="!accountant.isPendingAccountant">
                        <ng-container *ngIf="accountant.isOnboardingPending">
                            <button mat-raised-button
                                    (click)="revokeAccountantInvitation(accountant)"
                                    class="margin-r-md"
                                    type="button"
                                    id="accountant_portal.accountants.revoke_invitation"
                                    tabindex="0"
                                    color="secondary">
                                {{'accountant_portal.messages.success.clients.reject' | translate}}
                            </button>

                            <button mat-raised-button
                                    (click)="resendAccountantInvitation(accountant)"
                                    type="button"
                                    id="accountant_portal.accountants.resend_invitation"
                                    tabindex="0"
                                    color="secondary">
                                {{'globals.resend' | translate}}
                            </button>
                        </ng-container>
                        <ng-container *ngIf="!accountant.isOnboardingPending && accountant.id !== accountantUser.id">
                            <div class="tooltip-toggle"
                                 [matTooltip]="!hasConnectedClients(accountant) ? '' : 'accountant_portal.accountants.remove_disabled_explanation' | translate"
                                 matTooltipPosition="above">
                                <button mat-raised-button
                                        (click)="removeAccountant(accountant)"
                                        [disabled]="hasConnectedClients(accountant)"
                                        type="button"
                                        id="accountant_portal.accountants.remove_from_company"
                                        tabindex="0"
                                        color="secondary">
                                    {{'accountant_portal.accountants.remove_from_company' | translate}}
                                </button>
                            </div>
                        </ng-container>
                    </ng-container>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</mat-card>
