@import "variables/color";

@import "../../../shared/accountant-portal-variables";

.avatar {
    border-radius: 50%;
    background: $avatar-background no-repeat 50% 50%;
    background-size: cover;
    width: 40px;
    height: 40px;
}

.role-trigger {
    color: $base-table-font-color;

    &:disabled {
        color: $color-character-disabled-light;
    }
}

.role-caret {
    position: absolute;
    top: 10px;
    right: 2px;
}

.invisible-width-helper {
    display: block;
    margin-right: 8px;
    height: 0;
    overflow: hidden;
}

.active-role {
    color: $color-secondary-blue-light;
}

.tooltip-toggle {
    display: inline-block;
}
