<section class="card-header">
    <h1 class="card-title card-title-large">{{"billing.overview.users" | translate}}</h1>
    &nbsp;
    <a class="card-header-link" [routerLink]="['/user_manager']">{{"billing.overview.manage_users" | translate}}</a>
</section>
<section class="card-content padding-b-md margin-t-sm" *ngIf="user">
    <div class="grid">
        <div class="cell cell-shrink">
            <span class="subheading text-strong">1 {{"billing.overview.default_user" | translate}}</span>
        </div>
        <div class="cell cell-shrink right">
                <span class="subheading text-disabled text-emphasis">
                    {{"billing.overview.included_in_plan" | translate}}
                </span>
        </div>
    </div>

    <hr *ngIf="numberOfAdditionalUsers" class="margin-t-md">

    <div class="grid" *ngIf="numberOfAdditionalUsers">
        <div class="cell cell-shrink">
            <span class="subheading text-strong">{{numberOfAdditionalUsers | pluralize:'additional_users'}}</span>
        </div>
        <div class="cell cell-shrink right">
                <span class="subheading">
                    {{user.currency}} {{user.price * numberOfAdditionalUsers | number: '1.2-2'}} {{"billing.period.per_month" | translate}}
                </span>
        </div>
    </div>
</section>
