@import 'variables/variables';
@import 'placeholders/typography.placeholder';

.overview-users-list {
    margin-bottom: .8rem;
}

.user-price {
    @extend %typography-dark-primary;
    font-size: 1.3rem;
    text-align: right;
    margin-bottom: .8rem;

}

.user-price-included {
    @extend %typography-dark-disabled;
    font-size: 1.3rem;
    font-style: italic;
    text-align: right;
    margin-bottom: .8rem;

}
