<div class="margin-l-lg">
    <h1 class="thanks-msg card-title">{{"billing.thanks_for_buying" | translate}}</h1>
    <h2>{{"billing.thanks.your_next_steps" | translate}}</h2>
</div>

<ng-container *ngIf="!(subscriptionPlan$ | async).isMiniPlan">
    <ng-container *ngIf="(currentUser$ | async).isAccountant; then isAccountant; else notIsAccountant"></ng-container>

    <ng-template #isAccountant>
        <mat-card class="card">
            <div class="grid">
                <section class="cell">
                    <h3 class="thanks-card-title">{{"billing.thanks.dashboard" | translate}}</h3>
                    <span>{{"billing.thanks.dashboard.sentence" | translate}}</span>
                </section>

                <section class="cell cell-shrink right bottom">
                    <a md-button [href]="'/user/dashboard'" class="flat-button" id="billing.thank-you-page.to_dashboard">
                        <span>{{"billing.thanks.dashboard.to_dashboard" | translate}}</span>
                    </a>
                </section>
            </div>
        </mat-card>
    </ng-template>

    <ng-template #notIsAccountant>
        <mat-card class="card">
            <div class="grid">
                <section class="cell">
                    <h3 class="thanks-card-title">{{"billing.addons" | translate}}</h3>
                    <span>{{"billing.thanks.addons_sentence" | translate}}</span>
                </section>

                <section class="cell cell-shrink right bottom">
                    <a href="/admin/apps" mat-button class="flat-button" id="billing.thank-you-page.to_addons">
                        <span>{{"billing.addons.to_addons" | translate}}</span>
                    </a>
                </section>
            </div>
        </mat-card>

        <mat-card class="card">
            <div class="grid">
                <section class="cell">
                    <h3 class="thanks-card-title">{{"billing.thanks.other_users" | translate}}</h3>
                    <span>{{"billing.thanks.add_user_sentence" | translate}}</span>
                </section>

                <section class="cell cell-shrink right bottom">
                    <a [routerLink]="['/user_manager']" mat-button class="flat-button"
                       id="billing.thank-you-page.to_user_manager">
                        <span>{{"billing.thanks.add_user" | translate}}</span>
                    </a>
                </section>
            </div>
        </mat-card>
    </ng-template>
</ng-container>

<mat-card class="card">
    <div class="grid">
        <section class="cell">
            <h3 class="thanks-card-title">{{"billing.thanks.help" | translate}}</h3>
            <span>{{"billing.thanks.help_sentence" | translate}}</span>
        </section>

        <section class="cell cell-shrink right bottom">
            <a href="mailto:support@bexio.com" mat-button class="flat-button" id="billing.thank-you-page.to_help">
                <span>support@bexio.com</span>
            </a>
        </section>
    </div>
</mat-card>

<mat-card class="card ">
    <div class="grid">
        <section class="cell">
            <h3 class="thanks-card-title">{{"billing.thanks.newsletter_sign_up" | translate}}</h3>
            <span>{{"billing.thanks.newsletter_sentence" | translate}}</span>
        </section>

        <section class="cell cell-shrink right bottom">
            <a target="_blank" href="https://www.bexio.com/de-CH/blog.html" mat-button class="flat-button"
               id="thank-you-page.newsletter">
                <span>{{"billing.thanks.sign_up_for_newsletter" | translate}}</span>
            </a>
        </section>
    </div>
</mat-card>
