@import "variables/variables";
@import "placeholders/typography.placeholder";

.dialog-content {
    .radio-button {
        span {
            padding-left: 0;
        }
    }
}

.radio-group {
    display: inline-flex;
    flex-direction: column;
}

.spinner {
    margin: 3.2rem auto;
    position: absolute;
}

.spinner-container {
    height: 120px;
}

.mat-dialog-container {
    max-width: 48rem;
}
