<div class="dialog-title dialog-title-separated">
    <span>
        {{'billing.overview.chang_plan_and_options' | translate}}
    </span>
</div>

<ng-template #loading>
    <div class="dialog-content no-padding spinner-container">
        <bx-spinner class="spinner"></bx-spinner>
    </div>
</ng-template>

<div class="dialog-content padding-t-md padding-b-md" *ngIf="loaded$ | async else loading">
    <section *ngIf="preview$ | async as preview">
        <ng-container *ngIf="!activePlan.isAccountantPlan">
            <div class="grid margin-b-md">
                <div class="cell">
                    <span class="subheading">{{"billing.overview.plan" | translate}} {{preview.plan.name | translate}}</span>
                </div>
                <div class="cell right">
                    <span class="subheading">{{preview.plan.currency}} {{preview.plan.price | number: '1.2-2'}} {{'billing.period.per_month' | translate}}</span>
                </div>
            </div>
        <hr>
        </ng-container>

        <!--OPTIONS-->
        <div class="grid margin-b-md" *ngFor="let productOption of getProductOptions(preview.addons)">
            <div class="cell cell-shrink margin-r-md">
                <span>{{productOption.name | translate}}</span>
            </div>
            <div class="cell right">
                <span>{{preview.plan.currency}} {{productOption.price | number: '1.2-2'}} {{'billing.period.per_month' | translate}}</span>
            </div>
        </div>
        <hr *ngIf="getProductOptions(preview.addons).length > 0">

        <!--USERS-->
        <div class="grid margin-b-md" *ngIf="preview.users">
            <div class="cell cell-shrink margin-r-md">
                <span *ngIf="preview.users.quantity > 0">{{preview.users.quantity | pluralize:'additional_users'}}</span>
            </div>
            <div class="cell right">
                <span>{{preview.users.currency}} {{preview.users.price * preview.users.quantity | number: '1.2-2'}} {{'billing.period.per_month' | translate}}</span>
            </div>
        </div>
        <hr *ngIf="preview.users">

        <!--ADDONS-->
        <div class="grid margin-b-md" *ngIf="hasAddons(preview.addons)">
            <div class="cell">
                <span>{{'billing.addons' | translate}}</span>
            </div>
            <div class="cell right">
                <span>{{preview.plan.currency}} {{addonsTotal(preview.addons) | number: '1.2-2'}} {{'billing.period.per_month' | translate}}</span>
            </div>
        </div>
        <hr *ngIf="hasAddons(preview.addons)">

        <!--TOTAl PRICE-->
        <div class="grid margin-t-lg">
            <div class="cell">
                <span class="title">{{"billing.total_cost" | translate}}</span>
            </div>
            <div class="cell right">
                <span class="title">{{preview.netTotal.currency}} {{preview.netTotal.price | number: '1.2-2'}} {{'billing.period.per_month' | translate}}</span>
            </div>
        </div>
        <div class="grid margin-t-md" *ngIf="preview.plan.isBillingPeriodAnnual">
            <div class="cell">
                <span class="text-disabled text-emphasis">{{"billing.billed_annually" | translate}}</span>
            </div>
            <div class="cell right">
                <span>{{preview.netTotal.currency}} {{preview.netTotal.totalPrice | number: '1.2-2'}} {{'billing.period.per_year' | translate}}</span>
            </div>
        </div>
        <div class="grid">
            <div class="cell cell-shrink right">
                <span class="text-emphasis text-small text-disabled margin-t-md">{{"billing.overview.change_plan_declare_vat" | translate}}</span>
            </div>
        </div>
    </section>
</div>

<span class="text-subtle">{{"billing.overview.switch_plan.explanation" | translate}}</span>

<div class="dialog-actions">
    <div class="grid grid-gap">
        <div class="cell cell-shrink">
            <button mat-raised-button
                    tabindex="-1"
                    color="primary"
                    (click)="closeModal()"
                    id="billing.overview.switch_plan.switch">
                <span>{{'billing.overview.change_plan' | translate}}</span>
            </button>
        </div>
        <div class="cell cell-shrink">
            <button mat-dialog-close mat-raised-button
                    tabindex="-1"
                    color="secondary"
                    id="billing.overview.switch_plan.cancel">
                <span>{{ 'globals.cancel' | translate }}</span>
            </button>
        </div>
    </div>
</div>

