<app-breadcrumbs></app-breadcrumbs>
<div class="page-description">
    <p class="text-subtle">{{'billing.addon_manager.explanation' | translate}}</p>
</div>
<mat-card class="card no-padding">
    <app-addons-list [isTrial]="isTrial$ | async" [activePlan]="activePlan$ | async" [addons]="addons$ | async"
                     [activeAddons]="activeAddons$ | async"
                     [addonsLoadingList]="addonsLoadingList$ | async"
                     (addonActivate)="onActivateAddon($event)"
                     (addonDeactivate)="onDeactivateAddon($event)"
    ></app-addons-list>
</mat-card>
