// tap date
// bexio/common
@import "variables/variables";
@import "placeholders/typography.placeholder";
@import "flexgrid";
@import "form-components/input/input.placeholder";
@import "form-components/label/label.placeholder";

// tap date
$date-error-message-line-height: $typo-font-base-line-height;
$date-year-width: 50px;
$date-inset-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
$date-error-bgr: rgba(200, 25, 25, 0.12);
$date-divider: rgb(242, 242, 242);
$date-message-padding: 0;
$date-message-margin: 0;


%date-container {
    @extend %grid;

    [value="day"],
    [value="month"],
    [value="year"] {
        @extend %grid-cell;
        width: 100%;
    }

    [value="year"] {
        @extend %shrink;
        width: $date-year-width;
    }
}

%date-base {
    .tap-date-item {
        // date field base style
        .mat-input,
        input {
            @extend %input-base;
            background-color: transparent;
        }

        // date field border handling
        // first
        &:not(:last-child) {
            .mat-input,
            input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right-color: $date-divider;
            }
        }

        // not first, not last
        &:not(:nth-child(1)) {
            &:not(:nth-last-child(1)) {
                margin-right: -0.1rem;
                margin-left: -0.1rem;
            }
        }

        // last
        &:not(:first-child) {
            .mat-input,
            input {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left-color: transparent;
            }
        }
    }
}

// validation tap date

// inset shadow when invalid
%validate-invalid-tap-date-item {
    &[aria-invalid="true"] {
        box-shadow: $date-inset-shadow;
    }
}

// date field error state
@mixin validate-date-error($item) {
    border-top-color: $input-border-default;
    border-right-color: $input-border-default;
    border-bottom-color: $input-border-default;
    border-left-color: $input-border-default;
    background-color: $date-error-bgr;
    color: $input-border-error;
    @if ($item == "first") {
        border-left-color: transparent;
    }
    @if ($item == "default") {
        border-right-color: transparent;
        border-left-color: transparent;
    }
    @if ($item == "last") {
        border-right-color: transparent;
    }
}

// date field error state at focus [invalid and focus]
%validate-date-error-focus {
    &:focus,
    &[aria-invalid="true"]:focus {
        border-color: $input-border-focus;
        background-color: transparent;
        color: $input-character-primary;
    }
}

// invalid date field border handling
%validate-invalid-tap-date-group {
    // first
    &:not(:last-child) {
        .mat-input,
        input {
            &[aria-invalid="true"] {
                @include validate-date-error("last");
            }
            @extend %validate-date-error-focus;
        }
    }

    // not first, not last
    &:not(:nth-child(1)) {
        &:not(:nth-last-child(1)) {
            .mat-input,
            input {
                &[aria-invalid="true"] {
                    @include validate-date-error("default");
                }
                @extend %validate-date-error-focus;
            }
        }
    }

    // last
    &:not(:first-child) {
        .mat-input,
        input {
            &[aria-invalid="true"] {
                @include validate-date-error("first");
            }
            @extend %validate-date-error-focus;
        }
    }
}

%validate-tap-date {
    .tap-date {
        .tap-date-item {
            // invalid date field border handling
            @extend %validate-invalid-tap-date-group;

            .mat-input,
            input {
                // inset shadow when invalid
                @extend %validate-invalid-tap-date-item;
            }
        }
    }
}

%tap-date {
    // validation
    @extend %validate-tap-date;
    // base
    display: block;

    .tap-date {
        @extend %date-container;
        @extend %date-base;

        &-message {
            @extend %error-message;

            > div {
                margin-top: 15px;
                margin-bottom: 10px;
            }

            p {
                margin: $date-message-margin;
                padding: $date-message-padding;
                line-height: $date-error-message-line-height;
            }
        }
    }
}

:host {
    @extend %tap-date;
}
