<label [for]="dayInputId">
    <span class="label-text">{{label}}</span>
</label>
<div class="tap-date">
    <div class="tap-date-item" value="day">
        <input #dayInput type="number"
               [id]="dayInputId"
               min="1"
               max="31"
               name="day"
               [value]="day"
               (blur)="onDayChange($event.target.value)"
               (keydown)="onKeyDown($event)"
               align="center"
               [disabled]="disabled"
               [attr.aria-disabled]="disabled"
               [attr.aria-required]="required"
        >
    </div>
    <div class="tap-date-item" value="month">
        <input #monthInput type="number"
               min="1"
               max="12"
               name="month"
               [value]="month"
               (blur)="onMonthChange($event.target.value)"
               (keydown)="onKeyDown($event)"
               align="center"
               [disabled]="disabled"
               [attr.aria-disabled]="disabled"
               [attr.aria-required]="required"
        >
    </div>
    <div class="tap-date-item" value="year">
        <input #yearInput type="number"
               name="year"
               [min]="minYear"
               [max]="maxYear"
               [value]="year"
               (blur)="onYearChange($event.target.value)"
               [disabled]="disabled"
               [attr.aria-disabled]="disabled"
               [attr.aria-required]="required"
        >
    </div>
</div>
