<header class="service-consent-dialog-header">
    <div class="logo-container" *ngIf="accountantCompanyLogo">
        <img class="logo" [src]="accountantCompanyLogo" alt="Logo of {{accountantCompanyName}}"/>
        <i class="fa fa-arrow-right"></i>
        <img class="logo" [src]="serviceLogoPath" alt="Logo of {{serviceName}}"/>
    </div>

    <p class="subtitle"
       [innerHtml]="'accountant_portal.services.consent_request.info' | translate:{companyName:accountantCompanyName, serviceName:serviceDisplayName} | safeHtml">
    </p>
</header>

<mat-dialog-content class="service-consent-dialog-content">
    <h2>{{'accountant_portal.services.consent_request.company_information' | translate}}</h2>
    <p>{{'accountant_portal.services.consent_request.company_information_details' | translate}}</p>
    <hr>

    <h2>{{'accountant_portal.services.consent_request.user_information' | translate}}</h2>
    <p>{{'accountant_portal.services.consent_request.user_information_details' | translate}}</p>
    <hr>

    <p class="details">{{'accountant_portal.services.consent_request.details' | translate}}</p>

</mat-dialog-content>

<mat-dialog-actions class="service-consent-dialog-actions">
    <button mat-raised-button color="primary" [mat-dialog-close]="true" class="action-button">
        {{'accountant_portal.services.consent_request.continue' | translate}}
    </button>
    <button mat-raised-button [mat-dialog-close]="false" class="action-button">
        {{'globals.cancel' | translate}}
    </button>
</mat-dialog-actions>
