@import "variables/base";

$consent-dialog-header-bg: $color-card-container;

.service-consent-dialog-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: -24px -24px 0;
    padding: 32px 64px;
    background-color: $consent-dialog-header-bg;

    .logo-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 40px 0 32px;

        .logo {
            width: 110px;
            height: 50px;
            object-fit: contain;
        }

        .fa-arrow-right {
            font-size: 20px;
            color: rgba(6, 23, 29, 0.25);
        }
    }

    .subtitle {
        margin: 0;
        line-height: 2.1rem;
        font-size: 1.5rem;
        text-align: center;
        color: $color-character-primary-light;
    }
}

.service-consent-dialog-content {
    padding-top: 24px;
    font-size: $base-font-size-caption;

    > :last-child {
        margin-bottom: 0;
    }

    h2 {
        margin: 0 0 0.4rem;
        font-size: 1.5rem;
        color: $color-character-primary-light;
    }

    p {
        margin: 0 0 1em;
        color: $color-character-secondary-light;
    }

    hr {
        margin: 0 0 1em;
    }

    .details {
        margin-top: 32px;
    }
}

.service-consent-dialog-actions {
    .action-button {
        margin-right: 16px;
        margin-left: 0;
    }
}
