@import 'variables/variables';

.spinner {
    position: absolute;
    top: 50%;
    margin-top: -32px;
    left: 50%;
    margin-left: -32px;
    margin-bottom: 0;
}

.credit-card-container {
    position: relative;
    height: 340px;
}

.spinner-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-card;
    z-index: 1;
}

.zuora_payment {
    height: 340px;
    overflow: hidden;
}
