<div class="credit-card-container" [style.width.px]="width">
    <div *ngIf="!isZuoraIframeLoaded" class="spinner-container">
        <bx-spinner class="spinner" id="iframe-spinner"></bx-spinner>
    </div>
    <div id="zuora_payment" class="zuora_payment"></div>
</div>
