// sass-lint:disable no-important

.mat-expansion-panel {
    box-shadow: none !important;
    background: none !important;
}

.mat-expansion-panel-body {
    padding: 0 !important;
}

.mat-expansion-indicator::after {
    margin-top: -8px;
}
