@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-primary: mat-palette($mat-blue);
$app-accent:  mat-palette($mat-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

// Define a custom typography config that overrides the font-family
$custom-typography: mat-typography-config(
    $font-family: "'Lato', sans-serif"
);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

// import bexio layout relevant modules

// variables
@import "variables/variables";

// placeholder
@import "placeholders/placeholders";

// mixin
@import "mixins/mixins";

// forms
@import "form-components/form-components";

// material-custom
@import "md-override";

// layout
@import "flexgrid";
@import "links/links";
@import "table/table";
@import "dialog/dialog";
@import "utils/utils";
