<mat-card class="card no-padding no-top-radius-card">
    <mat-card-title class="empty-state-title" *ngIf="!listEntriesLoaded && !listEntriesLoading">
        {{'accounting_reports.account_ledger_list.no_search' | translate}}
    </mat-card-title>

    <div class="loading-container-overlay" *ngIf="isOverlaySpinnerShown">
        <mat-progress-spinner aria-hidden="true" diameter="24" mode="indeterminate"></mat-progress-spinner>
        <div @spinnerTextTrigger class="loading-container-text">
            {{'accounting_reports.account_ledger_list.loading' | translate}}
        </div>
    </div>

    <div class="bx-data-table">
        <mat-tab-group class="bx-tab" *ngIf="showListAccounts"
                       [selectedIndex]="getListAccountIndex(selectedAccount)"
                       (selectedIndexChange)="onSelectIndex($event)">
            <ng-container *ngFor="let account of listAccounts">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span [matTooltip]="account.name" matTooltipPosition="above">{{account.number}}</span>
                    </ng-template>
                </mat-tab>
            </ng-container>
        </mat-tab-group>

        <div class="loading-container-initial" *ngIf="listEntriesLoading && !hasListEntriesOrCarryover">
            <mat-progress-spinner aria-hidden="true" diameter="24" mode="indeterminate"></mat-progress-spinner>
            <div @spinnerTextTrigger class="loading-container-text">
                {{'accounting_reports.account_ledger_list.loading' | translate}}
            </div>
        </div>

        <mat-card-title class="empty-state-title" *ngIf="listEntriesLoaded && !hasListEntriesOrCarryover">
            {{'accounting_reports.account_ledger_list.no_results' | translate}}
        </mat-card-title>

        <table mat-table [dataSource]="dataSource"
               matSort [matSortActive]="listSort.active" [matSortDirection]="listSort.direction"
               matSortDisableClear="true" matSortDisabled="{{isIncludeCarryoverChecked}}"
               (matSortChange)="onSort($event)">

            <!-- Attachment -->
            <ng-container matColumnDef="attachment">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let entry" class="no-padding text-center">
                    <div *ngIf="entry.attachments?.length > 1">
                        <ng-template #attachmentsListTooltip class="no-inner-padding attachments-tooltip">
                            <div class="attachment-list">
                                <div *ngFor="let attachment of entry.attachments"
                                     class="padding-md attachment"
                                     (click)="onOpenAttachment(attachment.link)">
                                    {{attachment.name}}
                                </div>
                            </div>
                        </ng-template>
                        <button appTooltip
                                [content]="attachmentsListTooltip"
                                [placement]="tooltipPlacement.RIGHT"
                                [matTooltip]="'accounting_reports.show_attachments' | translate"
                                type="button" mat-icon-button
                                color="secondary"
                                class="attachment-button"
                                id="accounting_reports.account_ledger.attachment_list"
                                tabindex="-1">
                            <mat-icon fontSet="far" fontIcon="fa-paperclip" class="attachment-icon"></mat-icon>
                        </button>
                    </div>
                    <button *ngIf="entry.attachments?.length == 1"
                            (click)="onOpenAttachment(entry.attachments[0].link)"
                            [matTooltip]="'accounting_reports.show_attachments' | translate"
                            type="button" mat-icon-button
                            color="secondary"
                            class="attachment-button"
                            id="accounting_reports.account_ledger.attachment"
                            tabindex="-1">
                        <mat-icon fontSet="far" fontIcon="fa-paperclip" class="attachment-icon"></mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Date -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'accounting_reports.account_ledger_row.date' | translate}}
                </th>
                <td (click)="doJournalRedirect(entry)" mat-cell *matCellDef="let entry">{{entry.date | date: dateFormat}}</td>
            </ng-container>

            <!-- Contra Account -->
            <ng-container matColumnDef="contraAccount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'accounting_reports.account_ledger_row.contra_account' | translate}}
                </th>
                <td (click)="doJournalRedirect(entry)" mat-cell *matCellDef="let entry">{{entry.contraAccount}}</td>
            </ng-container>

            <!-- Contra Account Description -->
            <ng-container matColumnDef="contraAccountDescription">
                <th mat-header-cell *matHeaderCellDef>
                    {{'accounting_reports.account_ledger_row.contra_account_description' | translate}}
                </th>
                <td (click)="doJournalRedirect(entry)" mat-cell *matCellDef="let entry">{{entry.contraAccountDescription}}</td>
            </ng-container>

            <!-- Reference -->
            <ng-container matColumnDef="reference">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'accounting_reports.account_ledger_row.reference' | translate}}
                </th>
                <td mat-cell *matCellDef="let entry" class="bx-column-ellipsis">
                    <a [href]="entry.reference.link" target="_blank">{{entry.reference?.name}}</a>
                </td>
            </ng-container>

            <!-- Contact -->
            <ng-container matColumnDef="contact">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'accounting_reports.account_ledger_row.contact' | translate}}
                </th>
                <td (click)="doJournalRedirect(entry)" mat-cell *matCellDef="let entry" class="bx-column-ellipsis">
                    {{entry.contact}}
                </td>
            </ng-container>

            <!-- Description -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'accounting_reports.account_ledger_row.description' | translate}}
                </th>
                <td (click)="doJournalRedirect(entry)" mat-cell *matCellDef="let entry" class="bx-column-ellipsis">
                    {{entry.description}}
                </td>
            </ng-container>

            <!-- VAT -->
            <ng-container matColumnDef="vat">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'accounting_reports.account_ledger_row.vat' | translate}}
                </th>
                <td (click)="doJournalRedirect(entry)" mat-cell *matCellDef="let entry">{{entry.vat?.name}}</td>
            </ng-container>

            <!-- Debit -->
            <ng-container matColumnDef="debit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="bx-header-text-right">
                    {{'accounting_reports.account_ledger_row.debit' | translate}}
                </th>
                <td (click)="doJournalRedirect(entry)" mat-cell *matCellDef="let entry" class="text-right">
                    <span *ngIf="null !== entry.debitAmount">{{entry.debitAmount | number: numberFormat}}</span>
                </td>
            </ng-container>

            <!-- Credit -->
            <ng-container matColumnDef="credit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="bx-header-text-right">
                    {{'accounting_reports.account_ledger_row.credit' | translate}}
                </th>
                <td (click)="doJournalRedirect(entry)" mat-cell *matCellDef="let entry" class="text-right">
                    <span *ngIf="null !== entry.creditAmount">{{entry.creditAmount | number: numberFormat}}</span>
                </td>
            </ng-container>

            <!-- Balance -->
            <ng-container matColumnDef="balance">
                <th mat-header-cell *matHeaderCellDef class="bx-header-text-right">
                    {{'globals.balance' | translate}}
                </th>
                <td (click)="doJournalRedirect(entry)" mat-cell *matCellDef="let entry" class="text-right">
                    <span *ngIf="showBalance">{{entry.balance | number: numberFormat}}</span>
                </td>
            </ng-container>

            <!-- Currency -->
            <ng-container matColumnDef="currency">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="bx-header-text-right">
                    {{'accounting_reports.account_ledger_row.currency' | translate}}
                </th>
                <td (click)="doJournalRedirect(entry)" mat-cell *matCellDef="let entry" class="text-right">
                    {{isBaseCurrency(entry.currency)? '' : entry.currency}}
                </td>
            </ng-container>

            <!-- Currency Exchange Rate -->
            <ng-container matColumnDef="currencyExchangeRate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="bx-header-text-right">
                    {{'accounting_reports.account_ledger_row.change_rate' | translate}}
                </th>
                <td (click)="doJournalRedirect(entry)" mat-cell *matCellDef="let entry" class="text-right">
                    {{isBaseCurrency(entry.currency) ? '' : entry.currencyExchangeRate | number: '1.4-4'}}
                </td>
            </ng-container>

            <!-- Foreign Currency Amount -->
            <ng-container matColumnDef="foreignCurrencyAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="bx-header-text-right">
                    {{'accounting_reports.account_ledger_row.foreign_currency_amount' | translate }}
                </th>
                <td (click)="doJournalRedirect(entry)" mat-cell *matCellDef="let entry" class="text-right">
                    {{isBaseCurrency(entry.currency) ? '' : entry.foreignCurrencyAmount | number: numberFormat}}
                </td>
            </ng-container>

            <!-- Carryover header -->
            <ng-container matColumnDef="carryoverEmptyCell">
                <td mat-header-cell *matHeaderCellDef></td>
            </ng-container>

            <ng-container matColumnDef="carryoverDate">
                <td mat-header-cell *matHeaderCellDef>{{carryover?.date | date: dateFormat}}</td>
            </ng-container>

            <ng-container matColumnDef="carryoverType">
                <td mat-header-cell *matHeaderCellDef class="text-strong" [colSpan]="showAccountDescriptionChecked ? 2 : 1">
                    {{carryover?.carryoverType | translate}}
                </td>
            </ng-container>

            <ng-container matColumnDef="carryoverReference">
                <td mat-header-cell *matHeaderCellDef [colSpan]="hasVat ? 4 : 3" >
                    <a [href]="carryover?.reference?.link" target="_blank">{{carryover?.reference?.name}}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="carryoverDebit">
                <td mat-header-cell *matHeaderCellDef class="text-right">
                    <span *ngIf="carryover?.debitAmount > 0 || carryover?.creditAmount === 0">{{carryover?.debitAmount | number: numberFormat}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="carryoverCredit">
                <td mat-header-cell *matHeaderCellDef class="text-right">
                    <span *ngIf="carryover?.creditAmount > 0">{{carryover?.creditAmount | number: numberFormat}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="carryoverEmptySpace">
                <td mat-header-cell *matHeaderCellDef [colSpan]="areAllEntriesInBaseCurrency ? 1 : 4"></td>
            </ng-container>

            <!-- Totals -->
            <ng-container matColumnDef="totalDate">
                <td mat-footer-cell *matFooterCellDef [colSpan]="carryOverTotalDateColSpan">{{'globals.balance' | translate}} &nbsp;
                    {{filteredDateRange.fromDate | date: dateFormat}} - {{filteredDateRange.toDate | date: dateFormat}}
                </td>
            </ng-container>

            <ng-container matColumnDef="totalDebit">
                <td mat-footer-cell *matFooterCellDef class="text-right">{{listTotals.debitAmount | number: numberFormat}}</td>
            </ng-container>

            <ng-container matColumnDef="totalCredit">
                <td mat-footer-cell *matFooterCellDef class="text-right">{{listTotals.creditAmount | number: numberFormat}}</td>
            </ng-container>

            <ng-container matColumnDef="totalBalance">
                <td mat-footer-cell *matFooterCellDef class="text-right">{{listTotals.balanceAmount | number: numberFormat}}</td>
            </ng-container>

            <ng-container matColumnDef="totalCurrency">
                <td mat-footer-cell *matFooterCellDef>
                    <div *ngFor="let currencyTotal of totalsForForeignCurrencies" class="padding-b-sm text-right">
                        <span>{{currencyTotal.currency}}</span>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="totalAmount" *ngIf="!areAllEntriesInBaseCurrency">
                <td mat-footer-cell *matFooterCellDef colspan="2">
                    <div *ngFor="let currencyTotal of totalsForForeignCurrencies" class="padding-b-sm text-right">
                        <span>{{currencyTotal.amount | number: numberFormat}}</span>
                    </div>
                </td>
            </ng-container>

            <tr [class.hidden]="!hasListEntriesOrCarryover" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr [class.hidden]="!hasCarryover" mat-header-row *matHeaderRowDef="carryoverColumns"></tr>
            <tr [class.hidden]="!hasListEntries" mat-row *matRowDef="let row; columns: displayedColumns;" class="entry-row add-hover"></tr>
            <tr [class.hidden]="!hasListEntries && !hasCarryover" mat-footer-row *matFooterRowDef="totalDisplayedColumns" class="totals-row"></tr>
        </table>

        <mat-paginator class="paginator"
                       [class.hidden]="!hasListEntriesOrCarryover"
                       [length]="listPaginationLength"
                       [pageSize]="listPaginationPageSize"
                       [pageSizeOptions]="listPaginationPageSizeOptions"
                       [pageIndex]="listPaginationPageIndex"
                       (page)="onPagination($event)">
        </mat-paginator>
    </div>
</mat-card>
