@import "variables/variables";
@import "placeholders/typography.placeholder";

%initial-loading-state {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 198px;
}

$loading-container-rgba: rgba(252,252,252, 0.8);

:host {
    display: block;
}

.mat-cell {
    cursor: pointer;
}

.info-message {
    border-bottom: 1px dashed $typo-color-dark-secondary;
    cursor: pointer;
    line-height: 2.4rem;
}

.attachment {
    color: $color-secondary-blue-light;

    &:hover {
        background-color: $color-table-hover;
        cursor: pointer;
    }
}

.attachment-button {
    .attachment-icon {
        font-size: 1.5rem;
    }
}

.loading-container-initial {
    @extend %initial-loading-state;
}

.loading-container-overlay {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    opacity: 0.7;
    z-index: 2;
    background-color: $loading-container-rgba;
    padding: 70px 0;
    width: 100%;
    height: 100%;
}

.loading-container-text {
    z-index: 2;
    padding-top: 24px;
    text-align: center;
}

.mat-progress-spinner {
    margin: 0 auto;
}

.empty-state-title {
    @extend %initial-loading-state;

    opacity: 0.54;
    margin-bottom: 0;
}

.totals-row {
    font-weight: 700;

    > td {
        padding-top: 12px;
        padding-bottom: 8px;
        vertical-align: top;
    }
}

[class~="entry-row"]:last-of-type > .mat-column-balance {
    font-weight: bold;
}

.paginator {
    font-size: 1.3rem;
}
