@import "../../../shared/accountant-portal-variables";

.dialog-image {
    background-color: $image-wrapper;
}

.avatar {
    margin: 0 auto;
    border-radius: 50%;
    background: $image-wrapper no-repeat 50% 50%;
    background-size: cover;
    width: 80px;
    height: 80px;
}
