<div class="dialog-image padding-v-lg">
    <div class="avatar"
         [style.background-image]="'url(' + (accountant.profileImageUrl ? accountant.profileImageUrl : 'assets/images/bx-default-avatar.png') + ')'"></div>
</div>
<div class="dialog-title">{{'accountant_portal.accountants.delete_accountant' | translate}}</div>

<div class="dialog-content">
    <span [innerHTML]="'accountant_portal.accountants.delete_accountant_explanation' | translate:{fullName: accountant.fullName} | safeHtml"></span>
</div>

<div class="margin-t-lg">
    <button mat-raised-button
            (click)="deleteAccountant()"
            id="accountant_portal.delete_accountant_dialog.delete"
            tabindex="0"
            color="primary"
            class="margin-r-md">{{'globals.delete' | translate}}</button>
    <button mat-dialog-close mat-raised-button
            type="button"
            id="accountant_portal.delete_accountant_dialog.cancel"
            tabindex="0"
            color="secondary">
        <span>{{'globals.cancel' | translate}}</span>
    </button>
</div>