@import "variables/variables";

// placeholder radio

$radio-label-title-color: $color-character-primary-light;
$radio-label-text-color: $color-character-secondary-light;
$radio-label-disabled-color: $color-character-disabled-light;
$radio-label-line-height: 1.2;
$radio-color-inner-circle: $color-button-primary-bgr;
$radio-color-outer-circle: $color-character-secondary-light;
$radio-color-inner-circle-active: $color-button-primary-bgr;
$radio-color-outer-circle-active: $color-button-primary-bgr;
$radio-color-inner-circle-disabled: $color-character-disabled-light;
$radio-color-outer-circle-disabled: $color-character-disabled-light;
$radio-color-ripple: $color-radio-ripple;
$radio-color-ripple-disabled: $color-radio-ripple-disabled;
$radio-size: 1.6rem;
$radio-ripple-radius: 1.6rem;

%radio-circle-base {
    .mat-radio-container {
        width: $radio-size;
        height: $radio-size;
    }

    .mat-radio-outer-circle,
    .mat-radio-inner-circle {
        width: $radio-size;
        height: $radio-size;
    }

    .mat-radio-outer-circle {
        border-color: $radio-color-outer-circle;
    }

    .mat-radio-inner-circle {
        border-color: $radio-color-inner-circle;
    }

    .mat-radio-ripple {

        top: $radio-size / 2 - $radio-ripple-radius;
        left: $radio-size / 2 - $radio-ripple-radius;
        border-radius: 50%;
        width: $radio-ripple-radius * 2;
        height: $radio-ripple-radius * 2;

        .mat-ripple-element {
            // sass-lint:disable no-important
            background-color: $radio-color-ripple !important;
        }
    }
}

%radio-circle-active {
    .mat-radio-outer-circle {
        // sass-lint:disable no-important
        border-color: $radio-color-outer-circle-active !important;
    }

    .mat-radio-inner-circle {
        // sass-lint:disable no-important
        background-color: $radio-color-inner-circle-active !important;
    }
}

%radio-label-text {
    .mat-radio-label-content {
        width: 100%;
        font-family: $base-font-family;
        pointer-events: none;

        span {
            display: block;
            padding-right: 0.8rem;
            padding-left: 0.8rem;
            width: calc(100% - 0.8rem);
            line-height: $radio-label-line-height;
            white-space: normal;
            color: $radio-label-text-color;

            &:nth-child(2) {
                color: $radio-label-title-color;
            }

            &:not(:first-child) {
                margin-top: 0.5rem;
            }
        }
    }
}

%radio-disabled {
    .mat-radio-disabled {
        .mat-radio-label .mat-radio-label-content span {
            color: $radio-label-disabled-color;
        }

        .mat-radio-outer-circle {
            // sass-lint:disable no-important
            border-color: $radio-color-outer-circle-disabled !important;
        }

        .mat-radio-inner-circle {
            // sass-lint:disable no-important
            background-color: $radio-color-inner-circle-disabled !important;
        }
    }
}

%radio-ripple {
    .mat-ripple-element {
        opacity: 1;
        border-radius: 50%;
        overflow: visible;
    }
}
