@import "placeholders/placeholders";
// radio
@import "md-radio.placeholder";

mat-radio-group {
    @extend %radio-disabled;
}

mat-radio-button {
    @extend %noselect;
    @extend %radio-circle-base;
    @extend %radio-label-text;

    &.mat-radio-checked {
        @extend %radio-circle-active;
    }
}

.centered-radio-label {
    position: relative;
    bottom: 2px;
}

.label-margin-xs {
    .mat-checkbox-label {
        margin-left: 4px;
    }
}
