<mat-card class="card attached-card no-padding">
    <section class="card-header">
        <h1 class="card-title">{{"billing.check_billing_address" | translate}}</h1>
    </section>
    <section class="card-content">

        <div class="billing-address-form-wrapper">
            <p class="margin-t-sm">{{"billing.checkout.billing_address_required_fields" | translate}}</p>
            <h1 class="margin-b-md text-strong">{{"billing.billing_address" | translate}}</h1>
            <app-billing-address-form [companyProfile]="checkoutBillingInfo" [countries]="countries" [touchedFormValidation]="false"
                                      (changeForm)="onBillingInfoChange($event)" (changeFormValidity)="onBillingInfoChangeValidity($event)"></app-billing-address-form>
        </div>

    </section>
</mat-card>

<mat-card class="card attached-card no-padding">
    <section class="card-header">
        <h1 class="card-title">{{"billing.checkout.payment_method" | translate}}</h1>
    </section>
    <section class="card-content">
        <mat-radio-group [ngModel]="paymentMethod.type" (ngModelChange)="changePaymentMethod($event)">
            <div class="grid grid-flex grid-gap">

                <section class="cell cell-shrink no-padding-b"
                         *ngIf="plan.isLocalCurrency">
                    <div>
                        <img class="payment-method-img" src="{{assetUrl}}/images/esr_thumbnail_checkout.png"
                             [attr.alt]="'billing.checkout.payment_esr' | translate">
                        <div class="payment-method-option">
                            <mat-radio-button id="billing.checkout.payment_esr" value="invoice">{{"billing.checkout.payment_esr" | translate}}</mat-radio-button>
                        </div>
                    </div>
                </section>

                <section class="cell cell-shrink payment-method"
                         *ngIf="!plan.isLocalCurrency">
                    <div>
                        <img class="payment-method-img" src="{{assetUrl}}/images/bx-icon-bank-transfer.svg"
                             [attr.alt]="'billing.payment_method.bank_transfer' | translate">
                        <div class="payment-method-option">
                            <mat-radio-button value="invoice">{{"billing.payment_method.bank_transfer" |
                                translate}}
                            </mat-radio-button>
                        </div>
                    </div>
                </section>

                <section class="cell cell-shrink payment-method">
                    <div>
                        <img class="payment-method-img" src="{{assetUrl}}/images/bx-illustration-creditcard.svg"
                             [attr.alt]="'billing.checkout.payment_credit_card' | translate">
                        <div class="payment-method-option">
                            <mat-radio-button id="billing.checkout.payment_credit_card" value="card">{{"billing.checkout.payment_credit_card" | translate}}
                            </mat-radio-button>
                        </div>
                    </div>
                </section>

                <section class="cell cell-shrink bottom payment-method" *ngIf="paymentMethod.isCard">
                    <span class="text-subtle text-emphasis">{{"billing.payment_method.info" | translate}}</span>
                </section>

            </div>
        </mat-radio-group>
    </section>
</mat-card>

<mat-card class="card no-padding">
    <ng-content select="[data-checkout-summary]"></ng-content>
</mat-card>
