<main>
    <mat-card>
        <app-booking-form-container></app-booking-form-container>
    </mat-card>

    <div class="entries-header">
        <div class="grid">
            <div class="cell middle">
                <h3>{{'globals.manual_entries.title' | translate}}</h3>
            </div>
            <div class="cell cell-shrink middle right">
                <a href="/accountingReport/showJournalReport">{{'globals.manual_entries.journal_link.title' | translate}}</a>
            </div>
        </div>
    </div>
    <mat-card>
        <app-list [listEntries]="listEntries$ | async" [columnConfig]="columnConfig$ | async"
                  (sort)="onSort($event)" (select)="onSelect($event)"></app-list>
    </mat-card>
</main>
<hotkeys-cheatsheet [title]="'globals.keyboard_shortcut.panel_title' | translate"></hotkeys-cheatsheet>
