<div class="dialog-image padding-v-lg">
    <img src="{{assetUrl}}/images/disconnect-icon.png" alt="{{'accountant_portal.clients.disconnect' | translate}}"/>
</div>
<div class="dialog-title">{{'accountant_portal.accountants.disconnect_accountant' | translate}}</div>

<div class="dialog-content">
    {{ 'accountant_portal.accountants.disconnect_accountant_explanation' | translate:{ clientName: client.name } }}
</div>

<div class="margin-t-lg buttons">
    <button mat-raised-button
            (click)="disconnectAccountant()"
            id="accountant_portal.disconnect_accountant_dialog.delete"
            tabindex="0"
            color="primary"
            class="margin-r-md">{{'accountant_portal.clients.disconnect' | translate}}</button>
    <button mat-dialog-close mat-raised-button
            type="button"
            id="accountant_portal.disconnect_accountant_dialog.cancel"
            tabindex="0"
            color="secondary">
        <span>{{'globals.cancel' | translate}}</span>
    </button>
</div>
