@import 'variables/variables';
@import 'placeholders/typography.placeholder';

mat-card.card {
    border-radius: 3px;

    &.attached-card {
        margin-bottom: 0;
        border-bottom: 1px solid rgba(121, 132, 102, 0.14);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        & + .card {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    &.disabled-card:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        background-color: $color-card;
        opacity: $color-opacity-secondary;
        z-index: 1;
    }

    .card-header {
        padding: 2.4rem 2.4rem 1.6rem 2.4rem;

        .card-title {
            @extend %typography-dark-primary;
            font-size: 1.5rem;
            margin: 0;
            display: inline-flex;

        }

        .card-title-large {
            font-size: 2rem;
        }

        .card-header-link {
            margin-left: 1.6rem;
        }

        p {
            @extend %typography-dark-primary;
            margin-top: .8rem;
            margin-bottom: 0;
        }
    }

    .card-content {
        padding: 0 2.4rem 2.4rem 2.4rem;
    }

    .card-content-list {
        padding: .8rem 0 0 0;
    }

    .card-message {
        margin-bottom: 0;
        font-size: 1.3rem;
    }

    .card-message-spaced {
        margin-top: 1.6rem;
    }

    .card-actions {
        padding: 0 2.4rem 2.4rem 2.4rem;
    }

    bx-spinner {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: -32px;
    }

}
