@import "variables/variables";

%dialog {
    .dialog-back-arrow {
        cursor: pointer;
    }

    .dialog-actions {
        border-top: none !important;
    }

    .dialog-content {
        padding-top: 0;
    }

    .dialog-title {
        border-bottom: none;
    }

    .dialog-title-separated {
        font-size: 1.5rem;
        border-bottom: 1px solid $color-hr;
        padding-bottom: 1.6rem;
    }

    .mat-dialog-container {
        max-width: 60rem;
    }

}
