@import "variables/variables";
@import "placeholders/typography.placeholder";

mat-list.mat-list {
    .mat-list-item {
        border-top: solid 1px $color-intermediate;
        padding: 0 .8rem;

        .mat-list-item-content {
            @extend %body-regular;
            letter-spacing: .01rem !important;
        }

        .mat-list-text {

            @extend %typography;

            .mat-line {
                &:first-child {
                    margin-bottom: .4rem;
                }

                &:not(.caption):nth-child(n+2) {
                    @extend %body-regular;
                    letter-spacing: .01rem !important;
                }
            }
        }

        .mat-list-avatar {
            border-radius: 0;
            width: 3.2rem;
            height: 3.2rem;
        }

        .list-actions {
            min-width: 50%;

            .list-action {
                margin: 0 .8rem;
                display: inline-block;
                line-height: 2.4rem;
            }

            .list-action-right {
                float: right;
            }
        }
    }
}

