<main class="container">
    <form novalidate [formGroup]="form" class="no-header">
        <mat-card class="wrapper-card padding-t-xl padding-b-lg">
            <p class="subheading">{{'accountant_portal.setup.create_new_accountant.create_accountant' | translate}}</p>
            <mat-card class="padding-t-lg padding-b-xl">
                <div class="form-group">
                    <div class="margin-t-sm margin-b-xl text-subtle">
                        {{'accountant_portal.setup.create_new_accountant.description' | translate}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="info-wrapper margin-t-sm text-subtle"></div>
                    <div class="input-wrapper margin-l-xl">
                        <label data-required="true" [attr.data-invalid]="isAriaInvalid('salutationType')">
                            <div class="label-container">
                                <span class="label-text">{{'accountant_portal.setup.create_new_accountant.salutation' | translate}}</span>
                            </div>
                            <select formControlName="salutationType"
                                    tabindex="1"
                                    id="accountant_portal.setup.create_new_accountant.salutation"
                                    class="bx-mat-select"
                                    [attr.aria-invalid]="isAriaInvalid('salutationType')">

                                <option
                                    value="male">{{'accountant_portal.setup.create_new_accountant.salutation.male' | translate}}</option>
                                <option
                                    value="female">{{'accountant_portal.setup.create_new_accountant.salutation.female' | translate}}</option>
                            </select>
                            <span class="label-message">
                                <span [attr.aria-live]="ariaLive('salutationType','required')">{{'globals.required' | translate}}</span>
                            </span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="info-wrapper margin-t-sm text-subtle"></div>
                    <div class="input-wrapper margin-l-xl">
                        <label data-required="true" [attr.data-invalid]="isAriaInvalid('firstName')">
                            <div class="label-container">
                                <span class="label-text">{{'accountant_portal.setup.create_new_accountant.firstname' | translate}}</span>
                            </div>
                            <input formControlName="firstName"
                                   appTrimOnBlur
                                   tabindex="2"
                                   type="text"
                                   id="accountant_portal.setup.create_new_accountant.firstname"
                                   [attr.aria-invalid]="isAriaInvalid('firstName')">
                            <span class="label-message">
                                <span [attr.aria-live]="ariaLive('firstName','required')">{{'globals.required' | translate}}</span>
                            </span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="info-wrapper margin-t-sm text-subtle"></div>
                    <div class="input-wrapper margin-l-xl">
                        <label data-required="true" [attr.data-invalid]="isAriaInvalid('lastName')">
                            <div class="label-container">
                                <span class="label-text">{{'accountant_portal.setup.create_new_accountant.lastname' | translate}}</span>
                            </div>
                            <input formControlName="lastName"
                                   appTrimOnBlur
                                   tabindex="3"
                                   type="text"
                                   id="accountant_portal.setup.create_new_accountant.lastname"
                                   [attr.aria-invalid]="isAriaInvalid('lastName')">
                            <span class="label-message">
                                <span [attr.aria-live]="ariaLive('lastName','required')">{{'globals.required' | translate}}</span>
                            </span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="info-wrapper margin-t-sm text-subtle"></div>
                    <div class="input-wrapper margin-l-xl">
                        <label data-required="true">
                            <div class="label-container">
                                <span class="label-text">{{'accountant_portal.setup.create_new_accountant.email' | translate}}</span>
                            </div>
                            <input formControlName="email"
                                   readonly="readonly"
                                   tabindex="4"
                                   type="text"
                                   id="accountant_portal.setup.create_new_accountant.email">
                            <span class="label-message"></span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="info-wrapper margin-t-sm text-subtle">
                        {{'accountant_portal.setup.create_new_accountant.password_requirements' | translate}}
                    </div>
                    <div class="input-wrapper margin-l-xl">
                        <label data-required="true"
                               [attr.data-invalid]="isAriaInvalid('password') || form.hasError('notSame')">
                            <div class="label-container">
                                <span class="label-text">{{'accountant_portal.setup.create_new_accountant.password' | translate}}</span>
                            </div>
                            <input formControlName="password"
                                   tabindex="5"
                                   type="password"
                                   [attr.aria-invalid]="isAriaInvalid('password') || form.hasError('passwordNotStrong')"
                                   id="accountant_portal.setup.create_new_accountant.password">
                            <div class="label-message error-container">
                                <span
                                    [attr.aria-live]="ariaLive('password', 'passwordNotStrong')">{{'accountant_portal.setup.not_strong_password' | translate}}</span>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="info-wrapper margin-t-sm text-subtle"></div>
                    <div class="input-wrapper margin-l-xl">
                        <label data-required="true"
                               [attr.data-invalid]="isAriaInvalid('password') || form.hasError('notSame')">
                            <div class="label-container">
                                <span class="label-text">{{'accountant_portal.setup.create_new_accountant.password_repeat' | translate}}</span>
                            </div>
                            <input formControlName="passwordRepeat"
                                   tabindex="6"
                                   type="password"
                                   [attr.aria-invalid]="isAriaInvalid('password') || form.hasError('notSame')"
                                   id="accountant_portal.setup.create_new_accountant.passwordRepeat">
                            <span class="label-message">
                                <span
                                    [attr.aria-live]="passwordsNotSame">{{'accountant_portal.setup.passwords_dont_match' | translate}}</span>
                            </span>
                        </label>
                    </div>
                </div>
            </mat-card>

            <div class="text-right">
                <button mat-raised-button
                        id="accountant_portal.setup.password.form.submit"
                        tabindex="7"
                        color="primary"
                        class="margin-t-md"
                        [disabled]="form.invalid"
                        (click)="saveSettings()">
                    <span>{{'accountant_portal.setup.password.form.submit' | translate}}</span>
                </button>
            </div>
        </mat-card>
    </form>
</main>
