@import "variables/color";

@import "../../../shared/accountant-portal-variables";

.header-wrapper {
    background-color: $color-primary-blue-dark;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1240px;
    height: 88px;
    color: $warning-font-color;

    > .flex-item {
        align-self: flex-end;
    }

    .header-sub-item {
        display: inline-flex;
        vertical-align: top;
    }

    .bx-logo {
        margin: 0 16px 16px 0;
        width: 24px;
    }

    .user-info {
        margin-right: 38px;
        margin-bottom: 6px;

        .menu {
            margin-top: 8px;

            .menu-icon {
                padding-top: 3px;
            }
        }

        .avatar {
            border-radius: 50%;
            background: $avatar-background no-repeat 50% 50%;
            background-size: cover;
            width: 40px;
            height: 40px;
        }
    }
}
