<div class="header-wrapper" *ngIf="isValidSession$ | async">
    <div class="header-content">
        <div class="flex-item" *ngIf="isNotTokenUser$ | async">
            <img src="{{assetUrl}}/images/bx-small-logo.svg" class="bx-logo header-sub-item"/>
            <app-navbar class="header-sub-item"
                        [accessPermissions]="accountantPortalStateService.accessPermissions$ | async"
                        [accountantUser]="accountantPortalStateService.accountantUser$ | async"></app-navbar>
        </div>
        <div class="flex-item user-info" *ngIf="isNotTokenUser$ | async">
            <div class="menu header-sub-item">
                <button mat-button [matMenuTriggerFor]="userMenu">
                    {{ loginUser.firstName }} {{ loginUser.lastName }}
                    <mat-icon fontSet="fa" fontIcon="fa-caret-down" class="menu-icon"></mat-icon>
                </button>
                <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
                    <button mat-menu-item
                            (click)="goToMyProfile()">{{'accountant_portal.user_menu.edit_profile' | translate}}</button>
                    <button mat-menu-item
                            (click)="gotToLogout()">{{'accountant_portal.user_menu.logout'| translate}}</button>
                </mat-menu>
            </div>

            <div class="avatar header-sub-item"
                 [style.background-image]="'url(' + (loginUser.profileImageUrl ? loginUser.profileImageUrl : 'assets/images/bx-default-avatar.png') + ')'">
            </div>
        </div>
    </div>
</div>
