@import "variables/variables";
@import "placeholders/placeholders";

$file-upload-file-drop-zone-color: rgba(0, 0, 0, 0.26);
$file-upload-error-color: #c81919;
$file-upload-progress-bar-color: rgba(0, 0, 0, 0.12);
$file-upload-dialog-section-background-color: rgba(0, 0, 0, 0.03);
$file-upload-dialog-section-line-height: 1.2;

$mat-icon-inline-text-font-size: 1.6rem;

@mixin flex-center-contents($justify: center) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: $justify;
}

// sass-lint:disable variable-for-property
@mixin bx-upload-ui($with-padding: true) {
    @if ($with-padding) {
        padding: 1rem;
    }
    border: 1px $file-upload-file-drop-zone-color dotted;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    color: $file-upload-file-drop-zone-color;
    box-sizing: border-box;
}

.bx-file-selected-section {
    max-height: 160px;
    overflow-y: auto;
}

.bx-inbox {
    background-color: $file-upload-dialog-section-background-color;
    color: $color-character-disabled-light;
}

.bx-inbox-list {
    max-height: 19.2rem;
    font-size: $typo-font-size-caption;
    overflow-y: auto;
}

.bx-empty-list {
    padding: 1.6rem 0;
    text-align: center;
    line-height: $file-upload-dialog-section-line-height;
}

.bx-file-list {
    border-bottom: 1px solid $color-hr;
    padding: 0.8rem 2.4rem;
    font-size: $typo-font-size-caption;

    .icon-button-delete {
        margin-right: -0.6rem;
    }
}

.bx-upload-container {
    height: 104px;
    color: $file-upload-file-drop-zone-color;

    .bx-upload {
        @include flex-center-contents(space-between);
        height: 84px;

        span,
        img {
            display: block;
        }

        img {
            max-width: 50px;
            max-height: 50px;
        }
    }

    .information {
        color: $file-upload-file-drop-zone-color;
        font-size: $typo-font-size-label-emphasis;
    }

    .error {
        color: $file-upload-error-color;
        font-size: $typo-font-size-label-emphasis;
    }
}

.bx-upload-actions {
    padding: 1.6rem 0;
}

.bx-collapse-content-padding {
    padding: 0.8rem 2.4rem 0;
}

// sass-lint:disable variable-for-property
.bx-file-drop-zone {
    @include bx-upload-ui();

    &.is-file-over {
        border-color: $color-secondary-blue-light;
        cursor: copy;
    }
}

// sass-lint:disable variable-for-property
.bx-progress-bar {
    @include bx-upload-ui(false);
    z-index: 100;
    margin: 2.5rem 0 1rem;
    background-color: $file-upload-progress-bar-color;
    width: 270px;
    height: 10px;

    .bx-progress-bar-progress {
        background-color: $color-secondary-blue-light;
        height: 100%;
    }
}

// sass-lint:disable variable-for-property
.bx-upload-error {
    @include bx-upload-ui();

}

// hide browser vendor file input and maintain accessibility
.bx-upload-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
}

.info-file-formats {
    cursor: pointer;

    .mat-icon {
        padding-right: 0.4rem;
        width: $mat-icon-inline-text-font-size;
        height: $mat-icon-inline-text-font-size;
        vertical-align: bottom;
        line-height: $mat-icon-inline-text-font-size;
        font-size: $mat-icon-inline-text-font-size;
    }

    span {
        border-bottom: 1px dashed;
    }
}

.bx-upload-dialog-actions {
    padding-bottom: 2.4rem;
}

.inbox-filter-container {
    position: relative;
    padding-top: 0;
    padding-bottom: 16px;
}

.inbox-filter-icon {
    position: absolute;
    top: 6px;
    right: 30px;
    opacity: $color-opacity-secondary;
    width: 19px;
    font-size: 1.9rem;
}

.inbox-filter {
    padding-right: 2.8rem;
    width: 100%;
    box-sizing: border-box;
}

