<div mat-dialog-title>{{'file_upload_dialog.add_file' | translate}}</div>
<mat-dialog-content class="bx-dialog-content bx-not-scrollable">
    <div class="bx-dialog-scroll-container">
        <bx-collapse>
            <bx-collapse-item [isVisible]="true" [title]="'file_upload_dialog.add_file_description' | translate">
                <div class="bx-collapse-content-padding">
                    <div class="bx-upload-container" ng2FileDrop
                         [uploader]="uploader"
                         (fileOver)="onFileOver($event)">
                        <div class="bx-file-drop-zone" *ngIf="!uploadError && !uploader.isUploading"
                             [class.is-file-over]="isFileOver">
                            <div class="bx-upload">
                                <span>{{'file_upload_dialog.drag_file' | translate}}</span>
                                <img class="icon" src="{{assetUrl}}/icons/file-placeholder.svg"
                                     alt="{{'file_upload_dialog.choose_file' | translate}}">
                                <span class="max-size">{{'file_upload_dialog.max_size' | translate:{max_size_mb: maxFileSize} }}</span>
                            </div>
                        </div>
                        <div class="bx-file-upload" *ngIf="!uploadError && uploader.isUploading">
                            <div class="bx-upload">
                                <div class="bx-progress-bar">
                                    <div class="bx-progress-bar-progress" role="progressbar"
                                         [style.width.%]="uploader.progress"></div>
                                </div>
                                <span class="max-size">{{'file_upload_dialog.max_size' | translate:{max_size_mb: maxFileSize} }}</span>
                            </div>
                        </div>
                        <div class="bx-upload-error" *ngIf="uploadError">
                            <div class="bx-upload">
                                <span>{{'file_upload_dialog.drag_file' | translate}}</span>
                                <img class="icon" src="{{assetUrl}}/icons/icon-failed-upload.svg" alt="uploadError">
                                <span class="error">{{uploadError}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="grid bx-upload-actions">
                        <div class="cell">
                            <button mat-raised-button (keyup)="uploadInput.focus()" (click)="uploadInput.click()"
                                    color="secondary" tabindex="-1">
                                <span>{{'file_upload_dialog.choose_file' | translate}}</span>
                                <form>
                                    <input class="bx-upload-input" #uploadInput [accept]="accept" type="file"
                                           ng2FileSelect [uploader]="uploader"
                                           multiple/>
                                </form>
                            </button>
                        </div>
                        <div class="cell cell-shrink middle right">
                            <label class="info-file-formats" matTooltip="{{'file_upload_dialog.suffix' | translate}}">
                                <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                                <span>{{'globals.file_format' | translate}}</span>
                            </label>

                        </div>
                    </div>
                </div>
            </bx-collapse-item>

            <bx-collapse-item [title]="'file_upload_dialog.choice_file' | translate">
                <div *ngIf="inboxFilesCount > inboxFilesCountLimit"
                     class="inbox-filter-container bx-collapse-content-padding">
                    <i class="fa fa-search inbox-filter-icon" aria-hidden="true"></i>
                    <input type="text" tabindex="0" class="inbox-filter" [(ngModel)]="inboxFilter.name">
                </div>
                <div class="bx-inbox">
                    <div class="grid no-bottom-gap bx-inbox-list bx-collapse-content-padding" *ngIf="inboxFilesCount">
                        <div class="cell xs12" *ngFor="let file of inboxFiles | filterBy: inboxFilter">
                            <mat-checkbox (change)="onCheckFile($event, file)" [checked]="isSelected(file)">
                                {{file.format()}}
                                <small
                                        [innerHtml]="'file_upload_dialog.uploaded_by' | translate:{name: file.uploader()} | safeHtml"></small>
                            </mat-checkbox>
                        </div>
                    </div>
                    <div *ngIf="!inboxFilesCount" class="bx-empty-list"
                         [innerHtml]="'file_upload_dialog.no_doc_in_inbox' | translate | safeHtml"></div>
                    <div *ngIf="inboxFilesCount && (inboxFiles | filterBy: inboxFilter).length === 0"
                         class="bx-empty-list"
                         [innerHtml]="'file_upload_dialog.no_matching_filter_in_inbox' | translate | safeHtml"></div>
                </div>
            </bx-collapse-item>
        </bx-collapse>
    </div>
    <div class="bx-file-selected-section">
        <div class="bx-file-list grid grid-gap no-bottom-gap" *ngFor="let file of files | reverse">
            <a class="cell middle" appFilePreview [file]="file">{{file.format()}}</a>
            <button type="button" mat-icon-button
                    color="secondary"
                    class="icon-button-delete"
                    tabindex="-1"
                    (click)="onRemoveFile(file)">
                <mat-icon fontSet="fa" fontIcon="fa-unlink"
                          [matTooltip]="'file_upload_dialog.tooltip.detach_attachment' | translate">
                </mat-icon>
            </button>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="bx-upload-dialog-actions">
    <div class="grid grid-gap no-bottom-gap">
        <div class="cell cell-shrink">
            <button mat-raised-button tabindex="0" color="primary"
                    (click)="closeDialog()">
                <span>{{'file_upload_dialog.submit' | translate}}</span>
            </button>
        </div>
        <div class="cell cell-shrink">
            <button mat-dialog-close mat-raised-button tabindex="0" color="secondary">
                <span>{{ 'globals.cancel' | translate }}</span>
            </button>
        </div>
    </div>
</mat-dialog-actions>
