@import "variables/base";
@import "mixins/mixins";
@import "breakpoints.mixin";

:host {
    // cell width
    // sass-lint:disable no-important
    display: block;
    padding-bottom: 0 !important;

    .cell {
        padding-bottom: 0 !important;

        &:nth-child(1),
        &:nth-child(3) {
            label,
            .label-text,
            app-debit-credit-md2-autocomplete {
                @include media-breakpoint-down(lg) {
                    width: 9.8rem;
                }
                width: 10.8rem;
            }
        }

        &:nth-child(2) {
            .label-container {
                width: 0;
            }
        }

        &:nth-child(4) {
            .label-container {
                width: 100%;
            }
        }

        &:nth-child(5) {
            label {
                width: 9.6rem;
            }
        }

        &:nth-child(7) {
            label {
                width: 7.4rem;
            }
        }

        &:nth-child(8) {
            label {
                @include media-breakpoint-down(lg) {
                    width: 6.4rem;
                }
                width: 8.4rem;
            }
        }

        &:nth-child(6),
        &:nth-child(9) {
            label {
                @include media-breakpoint-down(lg) {
                    width: 10rem;
                }
                width: 16rem;
            }
        }
    }
}

.inline-icon {
    display: inline;
    cursor: pointer;
    padding: 4px;
    width: 0;
    height: 0;
}
