<div class="grid grid-gap" [formGroup]="entry">
    <div class="cell cell-shrink">
        <label data-required="true" [attr.data-invalid]="!isAccountValid(debitAccountSelect)">
            <span class="label-text">{{ 'entry_row.debit' | translate }}
                <span *ngIf="showCompoundLabel('debitAccountId')">
                    <mat-icon class="inline-icon" fontSet="fa" fontIcon="fa-question-circle" [matTooltip]="'entry_row.compound_account' | translate" matTooltipPosition="right"></mat-icon>
                </span>
            </span>
            <app-account-autocomplete #debit formControlName="debitAccountId"
                                      [accounts]="getActiveAccounts(debitAccountSelect.value)"
                                      [isValid]="isAccountValid(debitAccountSelect, validateIsAccount)"
                                      [accountGroupsLoaded]="accountGroupsLoaded" [config]="accountAutocompleteConfig"
                                      (change)="onSelectAccount($event)">
            </app-account-autocomplete>
            <span class="label-message message" *ngIf="hasAccount(debitAccount)">
                <span>{{debitAccount.balanceAmount | toNumber | number: '1.2-2'}} {{debitAccount.currency?.name}}</span>
            </span>
            <span class="label-message" *ngIf="!isAccountValid(debitAccountSelect, validateIsAccount)">
                <span>{{'globals.accounts.error.invalid_account'| translate}}</span>
            </span>
        </label>
    </div>
    <div class="cell cell-shrink">
        <div class="label-container">
            <button type="button" mat-icon-button
                    color="secondary"
                    class="icon-button-switch"
                    (click)="onSwitchAccounts()"
                    tabindex="-1"
                    [disabled]="isLocked"
                    [matTooltip]="'entry_row.tooltip.switch_account' | translate"
                    matTooltipPosition="below">
                <mat-icon fontSet="fa" fontIcon="fa-exchange-alt"></mat-icon>
            </button>
        </div>
    </div>
    <div class="cell cell-shrink">
        <label data-required="true" [attr.data-invalid]="!isAccountValid(creditAccountSelect)">
            <span class="label-text">{{ 'entry_row.credit' | translate }}
                <span *ngIf="showCompoundLabel('creditAccountId')">
                    <mat-icon class="inline-icon" fontSet="fa" fontIcon="fa-question-circle" [matTooltip]="'entry_row.compound_account' | translate" matTooltipPosition="right"></mat-icon>
                </span>
            </span>
            <app-account-autocomplete #credit formControlName="creditAccountId"
                                      [accounts]="getActiveAccounts(creditAccountSelect.value)"
                                      [isValid]="isAccountValid(creditAccountSelect, validateIsAccount)"
                                      [accountGroupsLoaded]="accountGroupsLoaded" [config]="accountAutocompleteConfig"
                                      (change)="onSelectAccount($event)">
            </app-account-autocomplete>
            <span class="label-message message" *ngIf="hasAccount(creditAccount)">
                <span>{{creditAccount.balanceAmount | toNumber | number: '1.2-2'}} {{creditAccount.currency?.name}}</span>
            </span>
            <span class="label-message" *ngIf="!isAccountValid(creditAccountSelect, validateIsAccount)">
                <span>{{'globals.accounts.error.invalid_account'| translate}}</span>
            </span>
        </label>
    </div>
    <div class="cell">
        <label [attr.data-invalid]="isAriaInvalid('description')">
            <span class="label-text">{{ 'entry_row.description' | translate }}</span>
            <app-autocomplete formControlName="description" [items]="descriptions" [isStrict]="false" [isAriaInvalid]="isAriaInvalid('description')" menu-size="auto"></app-autocomplete>
            <span class="label-message">
                <span [attr.aria-live]="ariaLive('description', 'maxlength')">{{'globals.description.error.max_length' | translate}}</span>
            </span>
        </label>
    </div>
    <div class="cell cell-shrink">
        <label>
            <span class="label-text">{{ 'entry_row.vat' | translate }}</span>
            <app-autocomplete formControlName="taxId" [items]="taxes" menu-size="auto"></app-autocomplete>
        </label>
    </div>
    <div class="cell cell-shrink">
        <label data-required="true" [attr.data-invalid]="isAriaInvalid('amount')">
            <span class="label-text">{{ 'entry_row.amount' | translate }}</span>
            <input align="right"
                   type="text"
                   tabindex="0"
                   [ngModel]=""
                   (blur)="amountBlur.emit()"
                   appInputSelectValue
                   appCurrencyInput
                   [customFormat]="getDecimalFormat()"
                   formControlName="amount"
                   [attr.aria-invalid]="isAriaInvalid('amount')"
                   (change)="calculate($event.target.value)"
                   (input)="baseCurrencyAmountFromAmount()">
            <span class="label-message inline-error">
                <span [attr.aria-live]="ariaLive('amount', 'smallerthan')">{{'entry_row.amount.error.max_amount' | translate}}</span>
            </span>
        </label>
    </div>
    <div class="cell cell-shrink">
        <label [attr.data-invalid]="isAriaInvalid('currencyId')" data-required="true">
            <span class="label-text">{{ 'entry_row.currency' | translate }}</span>
            <mat-select formControlName="currencyId" class="bx-mat-select" (ngModelChange)="onSelectCurrency($event)"
                        appPreventKeyDown="backspace">
                <mat-option *ngFor="let currency of currencies" [value]="currency.id">{{currency.name}}</mat-option>
            </mat-select>
            <span class="label-message inline-error">
                <span [attr.aria-live]="ariaLive('currencyId', 'required')">{{'globals.currency.error.required' | translate}}</span>
            </span>
        </label>
    </div>
    <div class="cell cell-shrink">
        <label [attr.data-invalid]="isAriaInvalid('currencyFactor')"
               [attr.data-required]="entry.get('currencyFactor').enabled">
            <span class="label-text">{{ 'entry_row.ex_rate' | translate }}</span>
            <input align="right"
                   appInputSelectValue
                   type="text"
                   appCurrencyInput
                   [defaultValue]="1"
                   formControlName="currencyFactor"
                   tabindex="0"
                   [attr.aria-invalid]="isAriaInvalid('currencyFactor')"
                   (input)="baseCurrencyAmountFromCurrency($event.target.value)">
            <span class="label-message inline-error">
                <span [attr.aria-live]="ariaLive('currencyFactor', 'largerthan')">{{'globals.currency_factor.error.required' | translate}}</span>
            </span>
        </label>
    </div>
    <div class="cell cell-shrink">
        <label [attr.data-invalid]="isAriaInvalid('baseCurrencyAmount')">
            <span class="label-text">{{ 'entry_row.amount' | translate }} {{baseCurrency?.name}}</span>
            <input align="right"
                   appInputSelectValue
                   [customFormat]="getDecimalFormat()"
                   type="text"
                   appCurrencyInput
                   formControlName="baseCurrencyAmount"
                   tabindex="0"
                   [attr.aria-invalid]="isAriaInvalid('baseCurrencyAmount')"
                   (input)="currencyFactorFromBaseCurrencyAmount()">
            <span class="label-message inline-error">
                <span [attr.aria-live]="ariaLive('baseCurrencyAmount', 'smallerthan')">{{'entry_row.amount.error.max_base_currency_amount' | translate}}</span>
            </span>
        </label>
    </div>
</div>
<div class="grid grid-gap" *ngIf="formAriaInvalid(['debitAccountId', 'creditAccountId'], 'fieldsnotequal')">
    <div class="cell label-container" data-invalid="true">
        <span class="label-message">
               <span aria-live="assertive">{{'globals.debit_credit.error.not_equal' | translate}}</span>
        </span>
    </div>
</div>
