<main class="container">
    <header class="padding-l-lg">
        <h1 class="heading">{{'accountant_portal.company' | translate}}</h1>
    </header>
    <app-company-settings-form
        [companySettings]="accountantPortalStateService.companySettings$ | async"
        [logoUploaded]="accountantPortalStateService.companyLogoUploaded$ | async"
        [pdfUploaded]="accountantPortalStateService.companyPdfUploaded$ | async"
        [companyLogoChanged]="accountantPortalStateService.companyLogoChanged$ | async"
        [companyPdfChanged]="accountantPortalStateService.companyPdfChanged$ | async"></app-company-settings-form>
</main>
