<div class="autocomplete-trigger" [class.is-focused]="inputFocused || isMenuVisible">
    <input #input [(ngModel)]="inputValue" type="text" tabs="false" autocomplete="off" [attr.aria-readonly]="readonly"
           [readonly]="readonly" [tabindex]="disabled ? -1 : tabindex" [disabled]="disabled"
           class="autocomplete-input" (focus)="handleFocus()" (blur)="handleBlur()"
           (keydown)="handleKeyDown($event)" (keyup)="handleKeyup($event, $event.target.value)"
           [attr.aria-invalid]="isAriaInvalid" (change)="$event.stopPropagation()"/>
    <span class="autocomplete-placeholder" [class.has-value]="inputValue"> {{ placeholder }} </span>
</div>
<ul tabindex="-1" *ngIf="isMenuVisible" class="autocomplete-menu" (mouseenter)="handleMouseEnter()"
    (mouseleave)="handleMouseLeave()">
    <li class="option new-item-option" *ngIf="newItemOption">
        <div class="grid top">
            <div class="cell">
                <a class="option-text" (click)="onNewItem()">{{newItemOption | translate}}</a>
            </div>
        </div>
    </li>
    <li class="option" *ngFor="let item of list; let i = index;" [class.focus]="focusedOption === i"
        (click)="selectOption($event, i)">
        <div class="grid top">
            <div class="cell">
                <span class="option-text" [innerHtml]="formatValue(item) | highlight:inputValue"></span>
            </div>
        </div>
    </li>
    <li class="option grip top" *ngIf="!list.length && isStrict">
        <div class="grid middle">
            <div class="cell">
                <span class="option-not-found">{{'globals.autocomplete.noResultFound' | translate:{value: inputValue} }}</span>
            </div>
        </div>
    </li>
</ul>
