.option-button {
    width: 40px;
    height: 40px;

    .option-button-icon {
        font-size: 1.6rem;
    }
}

.grid {
    justify-content: flex-end;
}

.container {
    display: flex;
    justify-content: space-between;
}