<div class="container">
    <mat-chip-list>
        <mat-basic-chip *ngFor="let filter of chippableFilters"
                        [removable]="true" (removed)="remove(filter)">
            <span>{{getTranslationKey(filter) | translate}}</span>
            <mat-icon matChipRemove fontSet="fa" fontIcon="fa-times"></mat-icon>
        </mat-basic-chip>
    </mat-chip-list>
    <div>
        <div class="grid margin-l-md">
            <div class="cell cell-shrink">
                <button type="button" mat-icon-button
                        (click)="onPdfExport()"
                        color="secondary"
                        class="option-button"
                        id="accounting_reports.account_ledger.export_pdf_option"
                        tabindex="-1"
                        [disabled]="!isFilterActive"
                        [matTooltip]="'accounting_reports.account_ledger.option_export_pdf' | translate"
                        mdTooltipPosition="below">
                    <mat-icon fontSet="fas" fontIcon="fa-file-pdf" class="option-button-icon"></mat-icon>
                </button>
            </div>
            <div class="cell cell-shrink">
                <button type="button" mat-icon-button
                (click)="onExcelExport()"
                        color="secondary"
                        class="option-button"
                        id="accounting_reports.account_ledger.export_excel_option"
                        tabindex="-1"
                        [disabled]="!isFilterActive"
                        [matTooltip]="'accounting_reports.account_ledger.option_export_excel' | translate"
                        mdTooltipPosition="below">
                    <mat-icon fontSet="fas" fontIcon="fa-file-excel" class="option-button-icon"></mat-icon>
                </button>
            </div>
            <!--<app-search [isSearchActive]="isSearchActive"-->
                        <!--(search)="onSearch($event)"></app-search>-->
        </div>
    </div>
</div>
