@import "variables/variables";
@import "placeholders/typography.placeholder";

#zuora_payment > iframe { // sass-lint:disable-line no-ids
    height: 340px;
}

.checkbox-wrapper mat-checkbox {

    > label {
        @extend %typography-dark-primary;

        > .mat-checkbox-inner-container {
            transform: scale(0.8);
            margin-left: 0;
        }
    }
}

.radio-group label {
    @extend %typography-dark-primary;
}



