<div class="heading margin-b-xl">{{"billing.buy_bexio" | translate}}</div>
<app-checkout-step-1 *ngIf="isCheckoutStartStep"
                     [activePlan]="checkoutPlan$ | async"
                     [plans]="plans$ | async"
                     [users]="users$ | async"
                     [activeAddons]="activeAddons$ | async"
                     [paidAddons]="paidAddons$ | async"
                     (planChange)="onPlanChange($event)"
                     (componentLoaded)="onCheckoutStartStepLoaded()">

    <app-plan-options data-checkout-options
                      [activePlan]="checkoutPlan$ | async"
                      [addons]="addons$ | async"
                      [activatedProductOptions]="checkoutProductOptions$ | async"
                      [activatedProductOptionsAttributes]="checkoutProductOptionsAttributes$ | async"
                      [companyProfile]="companyProfile$ | async"
                      scope="checkout"
                      (checkProductOption)="onCheckProductOption($event)"
                      (uncheckProductOption)="onUncheckProductOption($event)"
                      (payrollAttributesEndingUnitChange)="onPayrollAttributesEndingUnitChange($event)"></app-plan-options>

    <app-addons-checkout data-checkout-addon-list
                         [activeAddons]="activeAddons$ | async"
                         [paidAddons]="paidAddons$ | async"
                         [activePlan]="checkoutPlan$ | async"></app-addons-checkout>

    <app-voucher data-checkout-voucher
                 [preview]="checkoutPreview$ | async"
                 [loaded]="checkoutPreviewLoaded$ | async"
                 [enteredVoucher]="voucher$ | async"
                 (voucherChange)="onVoucherChange($event)"></app-voucher>

    <app-summary-list data-checkout-summary
                      [preview]="checkoutPreview$ | async"
                      [previewLoaded]="checkoutPreviewLoaded$ | async"></app-summary-list>
</app-checkout-step-1>


<app-checkout-step-2 *ngIf="isChoosePaymentMethodStep"
                     [paymentMethod]="checkoutPaymentMethod$ | async"
                     [checkoutBillingInfo]="checkoutBillingInfo$ | async"
                     [countries]="countries$ | async"
                     [plan]="checkoutPlan$ | async"
                     (paymentMethodChange)="onPaymentMethodChange($event)"
                     (addressOptionChange)="onBillingInfoChange($event)"
                     (billingInfoChangeValidity)="onBillingInfoChangeValidity($event)"
                     (componentLoaded)="onChoosePaymentMethodStepLoaded()">

    <app-summary-list data-checkout-summary
                      [preview]="checkoutPreview$ | async"
                      [previewLoaded]="checkoutPreviewLoaded$ | async"></app-summary-list>
</app-checkout-step-2>

<mat-card class="card" *ngIf="isCreditCardStep">
    <app-credit-card [rsaSignature$]="rsaSignature$" [creditCardFormSubmit$]="creditCardFormSubmit$"
                     (fetchSignature)="onFetchSignature()"
                     (creditCardClear)="onCreditCardClear()"
                     (creditCardChange)="onCreditCardChange($event)"
                     (creditCardError)="onCreditCardError()"
                     (creditCardLoadError)="onCreditCardLoadError($event)"
                     (creditCardFormLoaded)="onCreditCardFormLoaded()"
                     (componentLoaded)="onCreditCardStepLoaded()"></app-credit-card>
</mat-card>

<app-checkout-actions [step]="step"
                      [activePlan]="checkoutPlan$ | async"
                      [paymentMethod]="checkoutPaymentMethod$ | async"
                      [creditCardFormLoaded]="creditCardFormLoaded"
                      [creditCardFormSubmitted]="creditCardFormSubmitted"
                      [billingInfoAddressValid]="billingInfoAddressValid"
                      [checkoutRequestProcessing]="checkoutRequestProcessing | async"
                      [isCheckoutProductOptionsSelectCountValid]="isCheckoutProductOptionsSelectCountValid$ | async"
                      [paymentMethodChange]="paymentMethodChanged$"
                      (stepChange)="onStepChange($event)"
                      (orderNow)="onOrderNow()"></app-checkout-actions>
