.breadcrumbs {
    margin: 0;
    padding: 0 16px;
    list-style: none;
}

.breadcrumbs-item {
    display: inline-block;
    font-size: 1.1rem;
}

.breadcrumbs-active-item {
    display: block;
    font-size: 1.5rem;
    margin-top: 0.6rem;
}

.breadcrumbs-divider {
    padding: 0 3px;
    font-size: 0.9rem;
}

.breadcrumbs-item-link {
    font-size: 1.1rem;
}
