<ul class="breadcrumbs">
    <ng-template ngFor let-breadcrumb [ngForOf]="breadcrumbs$ | async" let-isLast="last">
        <li *ngIf="!isLast" class="breadcrumbs-item">
            <a [href]="breadcrumb.url" class="breadcrumbs-item-link">{{breadcrumb.translationKey | translate}}</a>
            <span class="breadcrumbs-divider">&gt;</span>
        </li>
        <li *ngIf="isLast" class="breadcrumbs-item breadcrumbs-active-item">{{breadcrumb.translationKey | translate}}
        </li>
    </ng-template>
</ul>
