@import 'placeholders/typography.placeholder';

.info-message {
  cursor: pointer;
  line-height: 2.4rem;
  border-bottom: 1px dashed $typo-color-dark-secondary;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
}

.flex-cell {
    flex-shrink: 1;
    align-self: center;
}
