<div class="flex-container">
    <div class="flex-cell">
        <ng-template #maxNumberOfUsersReachedTooltip>
            <p>{{'billing.user_manager.cant_add_users_tooltip' | translate:{users: maxNumberOfUsers | pluralize:'users'} }}</p>
            <a [routerLink]="['/overview']" [queryParams]="{redirect_to: 'user_manager', upgrade_plan: true}">{{'billing.user_manager.upgrade_now' | translate}}</a>
        </ng-template>

        <ng-template #maxNumberOfUserUpgradeForProPlusTooltip>
            <p>{{'billing.user_manager.pro_plus.upgrade_max_user_tooltip' | translate:{users: maxNumberOfUsers | pluralize:'users'} }}</p>

            <a href="{{upgradeUserMailToLink}}">{{'billing.user_manager.pro_plus.upgrade_max_user_link' | translate}}</a>
        </ng-template>

        <p *ngIf="maxNumberOfUsersReached"
           appTooltip [content]="plan.isProPlusPlan ? maxNumberOfUserUpgradeForProPlusTooltip : maxNumberOfUsersReachedTooltip"
           [placement]="tooltipPlacement.BOTTOM" class="info-message text-subtle no-b-margin">
            {{"billing.user_manager.cant_add_users" | translate}}
        </p>

    </div>
    <div class="flex-cell margin-l-lg">
        <button type="button" mat-raised-button
                id="billing.user_menager.add_user"
                tabindex="-1"
                color="special"
                class="margin-r-lg"
                [disabled]="maxNumberOfUsersReached"
                (click)="onClick()">
            <span>{{ 'billing.user_management.invite_user' | translate}}</span>
        </button>
    </div>
</div>
