<form novalidate [formGroup]="form" class="no-required-sign" name="manualEntriesForm">
    <div class="booking-form-header grid grid-gap">
        <div class="cell cell-shrink">
            <div class="label"
                 [attr.data-invalid]="isAriaInvalid('date')"
                 data-required="true">
                <app-tap-date #tapDate
                              [label]="'globals.date' | translate"
                              formControlName="date"
                              (dateChange)="onDateChange($event)"></app-tap-date>
                <span class="label-message">
                    <span
                        [attr.aria-live]="ariaLive('date', 'invalidDate')">{{'globals.date.error.date' | translate}}</span>
                    <span [attr.aria-live]="ariaLive('date', 'yearOutOfBoundMax')">{{'globals.date.error.year_max' | translate}}</span>
                    <span [attr.aria-live]="ariaLive('date', 'yearOutOfBoundMin')">{{'globals.date.error.year_min' | translate}}</span>
                </span>
            </div>
        </div>
        <div class="cell cell-shrink">
            <label [attr.data-invalid]="isAriaInvalid('referenceNr')">
                <span class="label-text">{{"entry_header.narration" | translate}}</span>
                <input name="nextRefNumber"
                       type="text"
                       formControlName="referenceNr"
                       tabindex="0"
                       [attr.aria-invalid]="isAriaInvalid('referenceNr')">
                <span class="label-message">
                    <span [attr.aria-live]="ariaLive('referenceNr', 'maxlength')">{{'globals.reference_number.max_length' | translate}}</span>
                </span>
            </label>
        </div>
        <div class="cell middle right" *ngIf="isExistingEntryCollection">
            <button type="button" mat-icon-button
                    color="secondary"
                    class="icon-button-delete"
                    tabindex="-1"
                    (click)="openEntryDeleteDialog()"
                    [attr.aria-disabled]="isLocked"
                    [disabled]="isLocked"
                    [matTooltip]="'entry_row.tooltip.delete_entry' | translate"
                    matTooltipPosition="below">
                <mat-icon fontSet="fa" fontIcon="fa-trash-alt"></mat-icon>
            </button>
        </div>
        <div class="cell cell-shrink middle right">
            <button type="button" tabindex="-1"
                    [matMenuTriggerFor]="templateSelectMenu"
                    class="template-selector"
                    *ngIf="hasTemplates">
                <span>{{'globals.templates' | translate}} <mat-icon fontSet="fa" fontIcon="fa-sort-down"></mat-icon></span>
            </button>
            <mat-menu #templateSelectMenu="matMenu" class="context-menu-panel" [overlapTrigger]="false"
                     x-position="before">
                <div class="context-menu-item" *ngFor="let template of templates">
                    <div class="main-action">
                        <button mat-menu-item (click)="onSelectTemplate(template.id)">{{template.name}}</button>
                    </div>
                    <div class="sub-action">
                        <button mat-icon-button (click)="onDeleteTemplate(template.id)">
                            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                        </button>
                    </div>
                </div>
            </mat-menu>
        </div>
    </div>
    <div formArrayName="entries" class="entries" [attr.data-type]="entryTypeAttribute">
        <hr/>
        <div class="grid grid-gap" *ngFor="let entry of entries.controls; let i = index">
            <div class="booking-row cell" [formGroupName]="i">
                <app-booking-entry [entry]="entry"
                                   [type]="entryType"
                                   [date]="form.value.date"
                                   [index]="i"
                                   [isLocked]="isLocked"
                                   [accounts]="accounts"
                                   [currencies]="currencies"
                                   [taxes]="taxes"
                                   [company]="company"
                                   [accountGroupsLoaded]="accountGroupsLoaded"
                                   [autofillDescriptions]="autofillDescriptions"
                                   (amountBlur)="onAutoAddEntryRow(entry, i)">
                </app-booking-entry>
                <div *ngIf="hasCollectiveAccountError(i)" class="cell label-container" data-invalid="true">
                        <span class="label-message">
                            <span
                                aria-live="assertive">{{'globals.debit_credit.error.collective_account' | translate}}</span>
                        </span>
                </div>
            </div>
            <div class="cell cell-shrink bx-attach">
                <div class="label-container" *ngIf="showAttachmentIcon(i)">
                    <button type="button" mat-icon-button
                            color="secondary"
                            class="icon-button-attachment"
                            id="fibu.manual.form.attachment"
                            tabindex="-1"
                            (mousedown)="beforeDialogOpens(i)"
                            (click)="openFileUploadDialog(i)"
                            [matTooltip]="'entry_row.tooltip.file_upload' | translate" mdTooltipPosition="below">
                        <mat-icon fontSet="fa" fontIcon="fa-paperclip"></mat-icon>
                    </button>
                    <i *ngIf="countAttachedFiles(i)" class="attachment-count-icon">{{ countAttachedFiles(i) }}</i>
                </div>
            </div>
            <div class="cell cell-shrink">
                <div class="label-container">
                    <button type="button" mat-icon-button
                            color="secondary"
                            class="icon-button-delete"
                            id="fibu.manual.form.delete"
                            tabindex="-1"
                            [matTooltip]="'globals.delete_row' | translate" mdTooltipPosition="below"
                            [attr.aria-disabled]="isRemoveEntryDisabled(i)" [disabled]="isRemoveEntryDisabled(i)"
                            (click)="onRemoveEntry(i)">
                        <mat-icon fontSet="fa" fontIcon="fa-times"></mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <mat-card-actions class="grid grid-gap no-bottom-gap middle right">
        <div class="cell">
            <button type="button" mat-raised-button tabindex="-1"
                    color="secondary"
                    [disabled]="isLocked"
                    (click)="onAddEntryRow()">
                <span>
                    {{ 'globals.add_row' | translate }}
                </span>
            </button>
        </div>
        <div class="cell cell-shrink bottom" *ngIf="isCompoundEntryCollection && !isDebitCreditSumDifferenceGreaterMaxAmount">
            <div class="booking-form-compound-summary" [attr.data-invalid]="!areEntriesBalanced">
                <div class="compound-summary-wrapper">
                    <strong>{{ 'compound-summary.total-debit' | translate }}</strong>
                    <div class="compound-summary-value-container bottom">
                        <span>{{debitSum | toNumber | number: compoundFormat }}</span>
                    </div>
                </div>
                <div class="compound-summary-wrapper">
                    <strong>{{ 'compound-summary.total-credit' | translate }}</strong>
                    <div class="compound-summary-value-container bottom">
                        <span>{{creditSum | toNumber | number: compoundFormat}}</span>
                    </div>
                </div>
                <div class="compound-summary-wrapper">
                    <strong>{{ 'compound-summary.difference' | translate }}</strong>
                    <div class="compound-summary-value-container bottom">
                        <span>{{debitCreditSumDifference | toNumber | number: compoundFormat}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell cell-shrink" *ngIf="!isExistingEntryCollection">
            <button type="button" mat-raised-button
                    id="fibu.manual.form.submit"
                    tabindex="0" color="primary"
                    [disabled]="isEntryCreateDisabled"
                    [attr.aria-disabled]="isEntryCreateDisabled"
                    [attr.data-status]="form.get('status').value"
                    (click)="onSubmit()">
                <mat-progress-spinner diameter="22" mode="indeterminate"></mat-progress-spinner>
                <span>{{ 'globals.add_entry' | translate}}</span>
            </button>
        </div>
        <div class="cell cell-shrink" *ngIf="isExistingEntryCollection">
            <button type="button" mat-raised-button
                    id="fibu.manual.form.submit_edit"
                    tabindex="0" color="primary"
                    [disabled]="isEntryUpdateDisabled"
                    [attr.aria-disabled]="isEntryUpdateDisabled"
                    [attr.data-status]="form.get('status').value"
                    (click)="onSubmit()">
                <mat-progress-spinner diameter="22" mode="indeterminate"></mat-progress-spinner>
                <span>{{ 'globals.save' | translate }}</span>
            </button>
        </div>
        <div class="cell cell-shrink" *ngIf="isCreatingNewEntry">
            <button type="button" mat-raised-button
                    id="fibu.manual.form.cancel"
                    tabindex="0"
                    color="secondary"
                    (click)="onCancelCreate()">
                <span>{{ 'globals.cancel' | translate }}</span>
            </button>
        </div>
        <div class="cell cell-shrink" *ngIf="isExistingEntryCollection">
            <button type="button" mat-raised-button
                    id="fibu.manual.form.cancel_edit"
                    tabindex="0"
                    color="secondary"
                    (click)="onCancelEdit()">
                <span>{{ 'globals.cancel' | translate }}</span>
            </button>
        </div>
        <div class="cell cell-shrink">
            <app-overlay-menu [actions]="menuActions" (menuSelect)="onMenu($event)"></app-overlay-menu>
        </div>
    </mat-card-actions>

    <mat-card-footer class="bx-card-footer" align="center" *ngIf="form.get('isLocked').value">
        <p *ngIf="isClosedTaxPeriod">{{ 'entry_row.message.closed_tax_period' | translate }}</p>
        <p *ngIf="isClosedBusinessYear">{{ 'entry_row.message.close_business_year' | translate }}</p>
    </mat-card-footer>
</form>
