@import "variables/variables";
@import "placeholders/placeholders";

$booking-form-entry-row-compound-bgr: rgba(0, 0, 0, 0.05);
$booking-form-compound-summary-gap: 4.8rem;
$booking-form-compound-summary-value-margin: 1.6rem;

$attachment-icon-font-size: 0.9rem;
$attachment-icon-background-color: rgba(0, 0, 0, 0.54);

.booking-form-header {
    &.grid.grid-gap > .cell {
        padding-bottom: 0.8rem;

        &:nth-child(1) {
            .label {
                width: 12.5rem;
            }
        }

        &:nth-child(2) {
            .label-container,
            label {
                width: 21.6rem;
            }
        }
    }

    button[mat-icon-button].icon-button-delete {
        margin-top: 1rem;
    }
}

app-booking-form {
    .ellipsis-right-aligned {
        margin-right: -1.3rem;
        margin-left: -1.2rem;
    }

    .bx-card-footer {
        margin-top: $base-padding;
        background-color: $color-card-message;
        color: $color-character-secondary-light;
    }

    hr:first-child {
        margin-bottom: 0.8rem;
    }

    .entries {
        > .grid,
        > .grid.grid-gap {
            margin-right: -$base-padding;
            margin-left: -$base-padding;

            > .cell {
                padding-top: 0.8rem;
                padding-bottom: 2.4rem;

                &:first-child {
                    padding-left: $base-padding;
                }

                &:last-child {
                    padding-right: $base-padding;
                }
            }
        }

        .bx-attach {
            min-width: 2.2rem;
        }

        &[data-type="manual_compound_entry"] > .grid:first-of-type {
            background-color: $booking-form-entry-row-compound-bgr;
        }
    }

    .booking-form-compound-summary {
        margin-right: $booking-form-compound-summary-gap;

        .compound-summary-wrapper {
            border-bottom: 1px solid $color-hr;
            padding-bottom: 0.6rem;

            &:not(:last-child) {
                margin-right: $booking-form-compound-summary-gap;
            }
        }

        .compound-summary-value-container {
            display: inline-block;
            margin-left: $booking-form-compound-summary-value-margin;
            width: 82px;
            vertical-align: bottom;

            span {
                float: right;
            }
        }

        &[data-invalid="true"] .compound-summary-wrapper:last-of-type span {
            color: $color-status-border-error;
        }
    }
}

.button-container {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

button {
    &.template-selector {
        border: none;
        background-color: transparent;
        padding-top: 1.8rem;

        &:focus {
            outline: 0;
        }

        .mat-icon {
            vertical-align: top;
        }
    }
}

.attachment-count-icon {
    position: absolute;
    bottom: 16px;
    left: 6px;
    border-radius: 50%;
    background-color: $color-character-secondary-light;
    width: 16px;
    height: 16px;
    text-align: center;
    color: $color-typ-special;
    font-family: $typo-font-base-family;
    font-size: $attachment-icon-font-size;
    font-style: normal;
}
