 <mat-card class="service-card">
    <header class="service-card-header">
        <i class="fa fa-chart-line service-logo"></i>
        <mat-card-subtitle>{{'accountant_portal.services.propose_another.abstract' | translate}}</mat-card-subtitle>
    </header>

    <mat-card-content>
        <p [innerHtml]="'accountant_portal.services.propose_another.description' | translate"></p>
    </mat-card-content>

    <mat-card-actions>
        <a [href]="ideasPortalUrl" target="_blank">{{'accountant_portal.services.propose_another.to_ideas_portal' | translate}}</a>
        <button class="invisible" mat-raised-button color="primary">&nbsp;</button>
    </mat-card-actions>
</mat-card>
