@import "../service-card/service-card.variables";
@import "../service-card/service-card.component.scss";

.service-card {
    height: 100%;
    background-color: transparent;
    box-shadow: initial;
    border: 1px dashed rgba(0, 0, 0, 0.12);

    .service-card-header {
        background-image: initial;
    }

    mat-card-content {
        margin-bottom: 40px;
    }

    mat-card-actions {
        position: absolute;
        bottom: $service-card-padding;
    }
}
