@import 'variables/variables';

$account-filter-color: #e9e9e7;
$advanced-filter-color: #f4f4f4;
$disabled-link-rgba: rgba(0, 0, 0, 0.26);
$label-text-rgba: rgba(0, 0, 0, 0.87);

mat-icon {
    width: auto;
    height: auto;
    font-size: 1.6rem;
}

.account-filter-container {
    background-color: $account-filter-color;
}

.filter-container {
    background-color: $advanced-filter-color;
}

.datepicker-toggle {
    position: relative;
    top: -32px;
    left: calc(100% - 32px);
}

.datepicker-invalid-message-container {
    margin-top: -3.2rem;
}

.datepicker-invalid-message {
    display: inline-block;
    padding-top: 8px;
}

.grid > .double-width-cell {
    flex-grow: 2;
}

.grid > .triple-width-cell {
    flex-grow: 3;
}

.decimal-places {
    min-width: 250px;
}

.label-text-wrapper {
    position: relative;
}

.label-text {
    color: $label-text-rgba;
}

.range-separator {
    font-size: 1.1rem;
}

.multiple-select {
    padding-left: 4px;
}

.advanced-filter-title {
    font-size: 1.3rem;
}

.datepicker-cell {
    max-width: 130px;
}

.periodselect-cell {
    max-width: 200px;
}

.disabled-link {
    cursor: default;
    color: $disabled-link-rgba;

    &:hover {
        text-decoration: none;
    }
}

.select-all {
    position: absolute;
    top: -1px;
    left: 5.4rem;
    z-index: 1;
    font-size: 1.1rem;
}

.advanced-filter {
    align-items: flex-end;

    .range-separator {
        margin-bottom: 6px;
    }
}

.separator  {
    border-bottom: 1px solid $color-hr;
}