<form novalidate [formGroup]="form">
    <mat-card class="card attached-card no-top-radius-card padding-b-md account-filter-container">
        <div class="grid grid-gap no-bottom-gap">
            <ng-container formGroupName="accountRange">

                <!-- fromAccount -->
                <div class="cell">
                    <label data-required="true" [attr.data-invalid]="isAccountAriaInvalid('fromAccount')">
                        <div class="label-text-wrapper">
                            <span class="label-text">
                                {{'globals.account' | translate}}
                            </span>
                            <a (click)="selectAllAccounts()" [class.disabled-link]="!accounts.length" class="select-all">{{'accounting_reports.filter.select_all_accounts' |
                                translate}}
                            </a>
                        </div>
                        <app-account-autocomplete formControlName="fromAccount"
                                                  [accounts]="accounts"
                                                  [accountGroupsLoaded]="accountGroupsLoaded"
                                                  [config]="accountAutocompleteConfig"
                                                  [isValid]="!isAccountAriaInvalid('fromAccount')"
                                                  (change)="onSelectAccount($event, 'fromAccount')">
                        </app-account-autocomplete>
                        <ng-container [attr.aria-live]="accountAriaLive('fromAccount', 'required')" *ngIf="isAccountAriaInvalid('fromAccount')">
                            <span class="label-message">{{"accounting_reports.filter.required" | translate}}</span>
                        </ng-container>
                    </label>
                </div>

                <div class="cell cell-shrink">
                    <label>
                        <span class="label-text">&nbsp;</span>
                        <div class="padding-t-sm range-separator">
                            <span>{{'globals.to' | translate}}</span>
                        </div>
                    </label>
                </div>

                <!-- toAccount -->
                <div class="cell padding-l-md">
                    <label [attr.data-invalid]="form.get('accountRange').hasError('accountRange')">
                        <span class="label-text">{{'globals.account' | translate}}</span>
                        <app-account-autocomplete formControlName="toAccount"
                                                  [accounts]="accounts"
                                                  [accountGroupsLoaded]="accountGroupsLoaded"
                                                  [config]="accountAutocompleteConfig"
                                                  [isValid]="!form.get('accountRange').hasError('accountRange')"
                                                  (change)="onSelectAccount($event, 'toAccount')">
                        </app-account-autocomplete>
                        <ng-container [attr.aria-live]="ariaLive('accountRange', 'accountRange')" *ngIf="form.get('accountRange').hasError('accountRange')">
                            <span class="label-message">{{"accounting_reports.account_ledger.account_range_invalid" | translate}}</span>
                        </ng-container>
                    </label>
                </div>
            </ng-container>
            <ng-container formGroupName="dateRange">
                <div class="cell margin-l-xl datepicker-cell">
                    <label data-required="true" [attr.data-invalid]="isDateAriaInvalid('fromDate') || form.get('dateRange').hasError('dateRange')">
                        <span class="label-text date-from">{{'accounting_reports.filter.date_from' | translate}}</span>
                        <input [matDatepicker]="fromDatepicker"
                               [min]="minDate"
                               [max]="maxDate"
                               formControlName="fromDate"
                               (keyup)="doSubmitFormOnReturn($event)"
                               [attr.aria-invalid]="isAriaInvalid('dateRange.fromDate') || form.get('dateRange').hasError('dateRange')">
                        <mat-datepicker-toggle tabindex="-1" class="datepicker-toggle" [for]="fromDatepicker">
                            <mat-icon matDatepickerToggleIcon class="far fa-calendar-alt"></mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #fromDatepicker></mat-datepicker>
                        <span class="label-message datepicker-invalid-message-container">
                            <span class="datepicker-invalid-message" *ngIf="form.get('dateRange').hasError('dateRange')">{{'accounting_reports.filter.invalid_date_range' | translate}}</span>
                            <span class="datepicker-invalid-message" [attr.aria-live]="datepickerRequiredAndEmpty('fromDate')">{{'accounting_reports.filter.date_is_mandatory' | translate}}</span>
                            <span class="datepicker-invalid-message" [attr.aria-live]="dateAriaLive('fromDate', 'matDatepickerParse')">{{'accounting_reports.filter.invalid_date_format' | translate}}</span>
                            <span class="datepicker-invalid-message" [attr.aria-live]="dateAriaLive('fromDate', 'matDatepickerMin')" [innerHTML]="'accounting_reports.filter.select_date_after' | translate:{date: minDate|date} | safeHtml"></span>
                            <span class="datepicker-invalid-message" [attr.aria-live]="dateAriaLive('fromDate', 'matDatepickerMax')" [innerHTML]="'accounting_reports.filter.select_date_before' | translate:{date: maxDate|date} | safeHtml"></span>
                        </span>
                    </label>
                </div>
                <div class="cell datepicker-cell">
                    <label data-required="true" [attr.data-invalid]="isDateAriaInvalid('toDate')">
                        <span class="label-text date-to">{{'accounting_reports.filter.date_to' | translate}}</span>
                        <input [matDatepicker]="toDatepicker"
                               [min]="minDate"
                               [max]="maxDate"
                               formControlName="toDate"
                               (keyup)="doSubmitFormOnReturn($event)"
                               [attr.aria-invalid]="isAriaInvalid('dateRange.toDate') || form.get('dateRange').hasError('dateRange')">
                        <mat-datepicker-toggle tabindex="-1" class="datepicker-toggle" [for]="toDatepicker">
                            <mat-icon matDatepickerToggleIcon class="far fa-calendar-alt"></mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #toDatepicker></mat-datepicker>
                        <span class="label-message datepicker-invalid-message-container">
                            <span class="datepicker-invalid-message" [attr.aria-live]="datepickerRequiredAndEmpty('toDate')">{{'accounting_reports.filter.date_is_mandatory' | translate}}</span>
                            <span class="datepicker-invalid-message" [attr.aria-live]="dateAriaLive('toDate', 'matDatepickerParse')">{{'accounting_reports.filter.invalid_date_format' | translate}}</span>
                            <span class="datepicker-invalid-message" [attr.aria-live]="dateAriaLive('toDate', 'matDatepickerMin')" [innerHTML]="'accounting_reports.filter.select_date_after' | translate:{date: minDate|date} | safeHtml"></span>
                            <span class="datepicker-invalid-message" [attr.aria-live]="dateAriaLive('toDate', 'matDatepickerMax')" [innerHTML]="'accounting_reports.filter.select_date_before' | translate:{date: maxDate|date} | safeHtml"></span>
                        </span>
                    </label>
                </div>
                <div class="cell periodselect-cell">
                    <label>
                        <span class="label-text date-from">{{'accounting_reports.filter.choose_period' | translate}}</span>
                        <mat-select
                            class="bx-mat-select bx-select-arrow form-input"
                            formControlName="periods"
                            [compareWith]="comparePeriods"
                            [panelClass]="'mat-select-panel-max-height'"
                            [placeholder]="'accounting_reports.filter.choose_period' | translate"
                            (selectionChange)="onPeriodChanges($event.value)">
                            <mat-option
                                *ngFor="let period of selectPeriods"
                                [value]="period"
                                [ngClass]="{ 'separator': period.separator }"
                            >
                                {{ period.viewValue | translate }}
                            </mat-option>
                        </mat-select>
                    </label>
                </div>
            </ng-container>
        </div>
    </mat-card>
    <mat-card class="card attached-card filter-container no-padding">
        <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header expandedHeight="40px" collapsedHeight="40px">
                <mat-panel-title class="advanced-filter-title">
                    {{'accounting_reports.advanced_filter.expansion_panel_title' | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="grid grid-gap no-bottom-gap padding-h-lg padding-v-md advanced-filter">
                <div class="cell">
                    <label>
                        <span class="label-text">{{ 'accounting_reports.filter.amount_from' | translate }} ({{clientInfo.currency}})</span>
                        <input id="accounting_reports.filter.amount_from" type="number" tabindex="0"
                               formControlName="fromAmount" (keyup)="doSubmitFormOnReturn($event)"/>
                    </label>
                </div>
                <div class="cell cell-shrink">
                    <label>
                        <span class="label-text">&nbsp;</span>
                        <div class="range-separator">
                            <span>{{'globals.to' | translate}}</span>
                        </div>
                    </label>
                </div>
                <div class="cell">
                    <label>
                        <span class="label-text">{{ 'accounting_reports.filter.amount_to' | translate }} ({{clientInfo.currency}})</span>
                        <input id="accounting_reports.filter.amount_to" type="number" tabindex="0"
                               formControlName="toAmount" (keyup)="doSubmitFormOnReturn($event)" />
                    </label>
                </div>

                <div class="cell triple-width-cell padding-l-lg" *ngIf="clientInfo.hasVat">
                    <label>
                        <span class="label-text">{{ 'accounting_reports.account_ledger.vat_rate_filter_label' | translate }}</span>
                        <mat-select formControlName="taxId"
                                    class="bx-mat-select bx-select-arrow">
                            <mat-option *ngFor="let filteredTax of filteredTaxes" [value]="filteredTax.id">
                                {{filteredTax.name}}
                            </mat-option>
                        </mat-select>
                    </label>
                </div>

                <div class="cell padding-l-lg" *ngIf="clientInfo.hasVat">
                    <label>
                        <span class="label-text">{{ 'accounting_reports.account_ledger.vat_digit_filter_label' | translate }}</span>
                        <mat-select #digits multiple
                                    [value]="preselectedVatDigits"
                                    formControlName="vatDigits"
                                    class="bx-mat-select bx-select-arrow multiple-select">
                            <mat-option *ngFor="let vatDigit of vatDigits" [value]="vatDigit">
                                {{vatDigit}}
                            </mat-option>
                            <mat-select-trigger>
                        <span *ngIf="digits.value" class="mat-select-custom-trigger">
                            {{digits.value[0]}}
                        </span>
                                <span *ngIf="digits.value?.length > 1" class="mat-select-more-count">
                            + {{digits.value.length - 1}} {{'accounting_reports.account_ledger.vat_digit_more_count' | translate}}
                        </span>
                            </mat-select-trigger>
                        </mat-select>
                    </label>
                </div>

                <div class="cell double-width-cell padding-l-lg">
                    <label>
                        <span class="label-text">{{ 'accounting_reports.account_ledger.entry_type_filter_label' | translate }}</span>
                        <mat-select #entrys [value]="preselectedEntryTypes" formControlName="entryTypes" class="bx-mat-select bx-select-arrow multiple-select" multiple>
                            <mat-option *ngFor="let entryType of entryTypes" [value]="entryType">
                                {{'accounting_reports.account_ledger.entry_type_' + entryType | translate}}
                            </mat-option>
                            <mat-select-trigger>
                        <span *ngIf="entrys.value" class="mat-select-custom-trigger">
                            {{'accounting_reports.account_ledger.entry_type_' + entrys.value[0] | translate }}
                        </span>
                                <span *ngIf="entrys.value?.length > 1" class="mat-select-more-count">
                            + {{entrys.value.length - 1}} {{'accounting_reports.account_ledger.entry_type_more_count' | translate}}
                        </span>
                            </mat-select-trigger>
                        </mat-select>
                    </label>
                </div>

                <div class="cell double-width-cell padding-l-lg">
                    <label>
                        <span class="label-text">{{ 'accounting_reports.filter.reference-no' | translate }}</span>
                        <input id="accounting_reports.filter.reference-no" type="text" tabindex="0"
                               formControlName="referenceNo" (keyup)="doSubmitFormOnReturn($event)"/>
                    </label>
                </div>

                <div class="cell double-width-cell padding-l-lg">
                    <label>
                        <span class="label-text">{{ 'accounting_reports.filter.description' | translate }}</span>
                        <input id="accounting_reports.filter.description" type="text" tabindex="0"
                               formControlName="description" (keyup)="doSubmitFormOnReturn($event)"/>
                    </label>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-card>
    <mat-card class="card attached-card filter-container padding-t-lg">
        <div class="grid">
            <div class="cell cell-shrink">
                <button mat-raised-button
                        (click)="onFilterSubmitButton()"
                        type="button"
                        id="accounting_reports.account-ledger.apply_filter"
                        tabindex="0"
                        color="primary">
                    <div>{{'accounting_reports.filter.apply_filter' | translate}}</div>
                </button>
            </div>

            <div class="cell cell-shrink margin-l-md">
                <button mat-raised-button
                        (click)="onFilterReset()"
                        [disabled]="this.isFormInDefaultState()"
                        type="button"
                        id="accounting_reports.account-ledger.clear_filter"
                        tabindex="0"
                        color="secondary">
                    <div>{{'accounting_reports.filter.clear_filter' | translate}}</div>
                </button>
            </div>
        </div>
    </mat-card>
</form>
<form novalidate [formGroup]="instantFilterForm">
    <mat-card class="card attached-card padding-b-sm padding-t-sm">
        <div class="grid grid-gap no-bottom-gap middle">
            <div class="cell cell-shrink padding-r-xl">
                <label>
                    <mat-checkbox (change)="onInstantFilterValueChange({includeCarryover: $event.checked})"
                                  formControlName="includeCarryover">
                        {{'accounting_reports.filter.include_carryover' | translate}}
                    </mat-checkbox>
                </label>
            </div>
            <div class="cell cell-shrink no-b-padding">
                <label>
                    <mat-checkbox (change)="onInstantFilterValueChange({showZeroAmountEntries: $event.checked})"
                                  formControlName="showZeroAmountEntries">
                        {{'accounting_reports.filter.show_zero_values' | translate}}
                    </mat-checkbox>
                </label>
            </div>
            <div class="cell cell-shrink no-b-padding">
                <label>
                    <mat-checkbox (change)="onInstantFilterValueChange({showOnlyAccountsWithTransactions: $event.checked})"
                                  formControlName="showOnlyAccountsWithTransactions">
                        {{'accounting_reports.filter.show_only_accounts_with_transactions' | translate}}
                    </mat-checkbox>
                </label>
            </div>
            <div class="cell cell-shrink no-b-padding">
                <label>
                    <mat-checkbox (change)="onInstantFilterValueChange({showAccountDescription: $event.checked})"
                                  formControlName="showAccountDescription">
                        {{'accounting_reports.filter.show_account_description' | translate}}
                    </mat-checkbox>
                </label>
            </div>
            <div *ngIf="!isIndagiaActive"
                 class="cell cell-shrink decimal-places padding-l-xl">
                <label>
                    <mat-select formControlName="decimalPlaces"
                                class="bx-mat-select bx-select-arrow"
                                (selectionChange)="onInstantFilterValueChange({decimalPlaces: $event.value})">
                        <mat-option *ngFor="let option of decimalPlacesOptions"
                                    [value]="option"
                                    [innerHtml]="option | pluralize:'decimal_places' | safeHtml">
                        </mat-option>
                    </mat-select>
                </label>
            </div>
            <div *ngIf="!isIndagiaActive"
                 class="cell cell-shrink no-b-padding">
                <label>
                    <mat-icon
                        fontSet="far"
                        fontIcon="fa-question-circle"
                        [matTooltip]="'accounting_reports.filter.decimals.tooltip' | translate"
                        matTooltipPosition="above"></mat-icon>
                </label>
            </div>
        </div>
    </mat-card>
</form>
