$size-small: .8rem;

$size-medium: 1.6rem;

$size-large: 2.4rem;

$size-extra-large: 3.2rem;

$sizes: ("sm": $size-small, "md": $size-medium, "lg": $size-large, "xl": $size-extra-large);

$positions: ("top", "right", "bottom", "left");

$properties: ("margin", "padding");

@each $property in $properties {
    @each $key, $size in $sizes {
        @each $position in $positions {
            .#{$property}-#{str-slice($position,0 , 1)}-#{$key} {
                #{$property}-#{$position}: $size !important;
            }
        }

        .#{$property}-h-#{$key} {
            #{$property}-left: $size !important;
            #{$property}-right: $size !important;
        }

        .#{$property}-v-#{$key} {
            #{$property}-top: $size !important;
            #{$property}-bottom: $size !important;
        }

        .#{$property}-#{$key} {
            #{$property}: $size !important;
        }
    }

    @each $position in $positions {
        .no-#{str-slice($position,0 , 1)}-#{$property} {
            #{$property}-#{$position}: 0 !important;
        }
    }
    .no-h-#{$property} {
        #{$property}-left: 0 !important;
        #{$property}-right: 0 !important;
    }

    .no-v-#{$property} {
        #{$property}-top: 0 !important;
        #{$property}-bottom: 0 !important;
    }

    .no-#{$property} {
        #{$property}: 0 !important;
    }
}
