// debit credit autocomplete component
// debit credit autocomplete
// autocomplete
// @bx-client/common
@import "variables/variables";
@import "placeholders/typography.placeholder";
@import "mixins/shadow.mixin";

$autocomplete-margin-zero: 0;
$autocomplete-padding-zero: 0;

// color, fonts
$autocomplete-menu-caret-color: $color-character-primary-light;
$autocomplete-menu-color: $color-character-primary-light;
$autocomplete-menu-disabled-color: $color-character-disabled-light;
$autocomplete-menu-font-family: $typo-font-base-family;
$autocomplete-menu-font-size: $typo-font-base-size;
$autocomplete-menu-font-weight: $typo-font-base-weight;
$autocomplete-menu-line-height: 1.5;
$autocomplete-menu-bgr: $color-card;

$autocomplete-menu-option-hover: $color-select-menu-active;
$autocomplete-menu-balance-color: $color-character-disabled-light;
$autocomplete-menu-highlight-bgr: rgba(0, 161, 223, 0.26);

// menu base values
$autocomplete-menu-padding: 0.5rem;
$autocomplete-menu-max-height: 24.6rem;

// menu width options in [rem]
$autocomplete-menu-max-width: 50.0;
$autocomplete-menu-small-width: 8.0;
$autocomplete-menu-medium-width: 16.0;
$autocomplete-menu-large-width: 32.0;
$autocomplete-menu-xlarge-width: 50.0;

$autocomplete-menu-option-side-padding: 1.6rem;
$autocomplete-menu-option-h-padding: 0.4rem;
$autocomplete-menu-option-v-padding: 0.8rem;
$autocomplete-menu-option-padding: $autocomplete-menu-option-v-padding $autocomplete-menu-option-h-padding;

$autocomplete-highlighted-text-margin: -$autocomplete-menu-option-v-padding 0;
$autocomplete-highlighted-text-padding: $autocomplete-menu-option-v-padding 0;

// input
%autocomplete {
    display: block;
    position: relative;
    width: inherit;
    backface-visibility: hidden;
    user-select: none;
}

%autocomplete-disabled {
    .account-autocomplete-trigger {
        &::after {
            color: $autocomplete-menu-disabled-color;
        }
    }
}

// menu
%autocomplete-menu {
    @include mix-shadow(4, null);
    display: block;
    position: absolute;
    z-index: 10;
    margin: $autocomplete-margin-zero;
    background-color: $autocomplete-menu-bgr;
    cursor: pointer;
    padding: $autocomplete-padding-zero;
    width: auto;
    max-height: $autocomplete-menu-max-height;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;

    // ie11 menu width correction
    @media all and (-ms-high-contrast: none) {
        width: #{$autocomplete-menu-xlarge-width}rem;
    }
}

// menu option
@mixin autocomplete-option-items() {
    &-not-found {
        @extend %autocomplete-option-text;
        padding: $autocomplete-menu-option-v-padding $autocomplete-menu-option-side-padding;
    }

    &-text {
        @extend %autocomplete-option-text;
        padding: $autocomplete-menu-option-padding;
        padding-right: $autocomplete-menu-option-side-padding;
        padding-left: $autocomplete-menu-option-side-padding;
    }
}

@mixin autocomplete-option() {
    padding: $autocomplete-padding-zero;

    .account-option {
        &:hover,
        &:focus,
        &.focus {
            background-color: $autocomplete-menu-option-hover;
        }

        &:first-child {
            margin-top: $autocomplete-menu-padding;
        }

        &:last-child {
            margin-bottom: $autocomplete-menu-padding;
        }
        @include autocomplete-option-items();
    }
}

// menu width
%option-multiline {
    &[menu-multiline] {
        .account-autocomplete-menu {
            .account-option .account-option-text {
                white-space: normal;
            }
        }
    }
}

@mixin option-width($rem) {
    @if $rem == auto {
        .account-autocomplete-menu {
            .account-option {
                .account-option-text,
                .account-option-not-found {
                    width: $rem;
                    max-width: #{$autocomplete-menu-max-width}rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    // firefox width correction
                    @-moz-document url-prefix() {
                        padding-right: 3.4rem;
                    }
                }
            }
        }
    } @else {
        .account-autocomplete-menu {
            .account-option {
                .account-option-text,
                .account-option-not-found {
                    width: #{$rem}rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    // firefox width correction
                    @-moz-document url-prefix() {
                        $autocomplete-menu-option-firefox-width: ($rem + 8.2);
                        width: #{$autocomplete-menu-option-firefox-width}rem;
                    }
                }
            }
        }
        @extend %option-multiline;
    }
}

%autocomplete-menu-width {
    // menu
    &[menu-size="auto"] {
        @include option-width(auto);
    }

    &[menu-size="small"] {
        @include option-width($autocomplete-menu-small-width);
    }

    &[menu-size="medium"] {
        @include option-width($autocomplete-menu-medium-width);
    }

    &[menu-size="large"] {
        @include option-width($autocomplete-menu-large-width);
    }

    &[menu-size="xlarge"] {
        @include option-width($autocomplete-menu-xlarge-width);
    }
}

%autocomplete-highlighted-text {
    display: inline-block;
    margin: $autocomplete-highlighted-text-margin;
    background-color: $autocomplete-menu-highlight-bgr;
    padding: $autocomplete-highlighted-text-padding;
    color: $autocomplete-menu-color;
}

%autocomplete-option-text {
    display: block;
    line-height: $autocomplete-menu-line-height;
    color: $autocomplete-menu-color;
    font-family: $autocomplete-menu-font-family;
    font-size: $autocomplete-menu-font-size;
    font-weight: $autocomplete-menu-font-weight;
}

// validation autocomplete

$autocomplete-input-error-color: $color-status-border-error;

// icon (caret) react at label aria
%validate-invalid-autocomplete-icon {
    // handle caret color when invalid
    &[data-invalid="true"] {
        .account-autocomplete-trigger {
            &::after {
                color: $autocomplete-input-error-color;
            }
        }
    }
}

%disabled-autocomplete-icon {
    // handle caret color when disabled or readonly
    .account-autocomplete-trigger {
        &::after {
            color: $autocomplete-menu-disabled-color;
        }
    }
}

%validate-disabled-autocomplete-icon {
    &[data-disabled="true"] {
        @extend %disabled-autocomplete-icon;
    }
}

%validate-readonly-autocomplete-icon {
    &[data-readonly="true"] {
        @extend %disabled-autocomplete-icon;
    }
}

// react at input aria
%validate-disabled-autocomplete {
    &[aria-disabled="true"] {
        @extend %autocomplete-disabled;
    }
}

%validate-readonly-autocomplete {
    &[aria-readonly="true"] {
        @extend %autocomplete-disabled;
    }
}

// validation lable
@mixin validate-autocomplete() {
    // label
    label,
    .label,
    .label-container {
        @extend %validate-invalid-autocomplete-icon;
        @extend %validate-disabled-autocomplete-icon;
        @extend %validate-readonly-autocomplete-icon;
    }
}

// validation input
%validate-autocomplete {
    @extend %validate-disabled-autocomplete;
    @extend %validate-readonly-autocomplete;
}

// validation (handling at label placed aria)
@include validate-autocomplete();

%account-autocomplete {

    // base
    @extend %autocomplete;

    .account-autocomplete-trigger {
        width: inherit;

        &::after {
            display: inline;
            position: absolute;
            top: 0.9rem;
            right: 1.0rem;
            text-rendering: auto;
            color: $autocomplete-menu-caret-color;
            font: normal normal normal 1.4rem/1 FontAwesome;
            font-size: $autocomplete-menu-font-size;
            -webkit-font-smoothing: antialiased;
        }

        .account-autocomplete-input {
            padding-right: 2.8rem;
        }
    }

    &[disabled],
    &[disabled="disabled"],
    &[readonly] {
        @extend %autocomplete-disabled;
    }

    // menu
    .account-autocomplete-menu {
        @extend %autocomplete-menu;

        .highlight {
            @extend %autocomplete-highlighted-text;
        }
        @include autocomplete-option();
    }

    &.account-autocomplete-disabled {
        cursor: default;
        pointer-events: none;
    }

    // validation (handling at input placed aria)
    @extend %validate-autocomplete;
}

// placeholder debit credit autocomplete

$debit-credit-autocomplete-menu-width: 50.0rem;

%debit-credit-autocomplete-menu-width {
    // menu
    .account-autocomplete-menu {
        width: $debit-credit-autocomplete-menu-width;
    }
}

@mixin debit-credit-autocomplete-option-items() {
    .account-option {
        &-number {
            @extend %autocomplete-option-text;
            padding: $autocomplete-menu-option-padding;
            padding-left: $autocomplete-menu-option-side-padding;
        }

        &-divider {
            @extend %autocomplete-option-text;
            padding: $autocomplete-menu-option-padding;
        }

        &-description {
            @extend %autocomplete-option-text;
            padding: $autocomplete-menu-option-padding;
        }

        &-value {
            @extend %autocomplete-option-text;
            padding: $autocomplete-menu-option-padding;
            color: $autocomplete-menu-balance-color;
        }

        &-currency {
            @extend %autocomplete-option-text;
            padding: $autocomplete-menu-option-padding;
            color: $autocomplete-menu-balance-color;
        }
    }
}

%debit-credit-autocomplete {
    @extend %debit-credit-autocomplete-menu-width;
    @extend %account-autocomplete;
    @include debit-credit-autocomplete-option-items();
}

app-account-autocomplete {
    @extend %debit-credit-autocomplete;

    .loading {
        width: inherit;
        min-width: inherit;
        max-width: inherit;

        li {
            padding-left: calc(50% - 11px) !important;
        }

        mat-progress-spinner {
            height: 20px;
        }
    }
}
