<div class="account-autocomplete-trigger" [class.is-focused]="inputFocused || isMenuVisible">
    <input #input [(ngModel)]="inputValue"
           type="text" tabs="false"
           autocomplete="off"
           [attr.aria-readonly]="readonly"
           [attr.aria-invalid]="!isValid"
           [readonly]="readonly"
           [tabindex]="disabled ? -1 : tabindex"
           [disabled]="disabled"
           class="account-autocomplete-input"
           (focus)="handleFocus($event)"
           (blur)="handleBlur()"
           (keydown)="handleKeyDown($event)"
           (keyup)="handleKeyup($event, $event.target.value)"
           (change)="$event.stopPropagation()"/>
    <span class="account-autocomplete-placeholder" [class.has-value]="inputValue"> {{ placeholder }} </span>
</div>
<ul tabindex="-1" *ngIf="isLoadingSpinnerVisible" class="account-autocomplete-menu loading">
    <li class="padding-sm">
        <mat-progress-spinner mode="indeterminate" [diameter]="22"></mat-progress-spinner>
    </li>
</ul>
<ul tabindex="-1" *ngIf="isAccountListVisible" class="account-autocomplete-menu" (mouseenter)="handleMouseEnter()"
    (mouseleave)="handleMouseLeave()">
    <li class="account-option" *ngFor="let account of list; let i = index;" [class.focus]="focusedOption === i"
        (click)="selectOption($event, i)">
        <div class="grid top">
            <div class="cell cell-shrink" *ngIf="config.listAccountNo">
                <span class="account-option-number" [innerHtml]="account.accountNo | highlight:inputValue"></span>
            </div>
            <div class="cell cell-shrink" *ngIf="config.listAccountNo && config.listAccountName">
                <span class="account-option-divider">-</span>
            </div>
            <div class="cell" *ngIf="config.listAccountName">
                <span class="account-option-description" [innerHtml]="account.name | highlight:inputValue"></span>
            </div>
            <div class="cell cell-shrink" *ngIf="config.listAccountAmount">
                <span class="account-option-value" [innerHtml]="account.balanceAmount | number: '1.2-2'"></span>
            </div>
            <div class="cell cell-shrink" *ngIf="config.listAccountAmount">
                <span class="account-option-currency">{{account.currency?.name}}</span>
            </div>
        </div>
    </li>
    <li class="account-option grip top" *ngIf="!list.length">
        <div class="grid middle">
            <div class="cell">
                <span class="account-option-not-found">{{'globals.autocomplete.noResultFound' | translate:{value: inputValue} }}</span>
            </div>
        </div>
    </li>
</ul>
