@import 'variables/variables';
@import 'placeholders/typography.placeholder';


.label {
    margin-bottom: 6px;
    display: inline-block;
}

.form_wrapper {
    width: 100%;
}

.postcode-cell {
    width: 25%;
}

.autocomplete-input {
    @extend %typography-dark-primary;
}

mat-option {
    font-size: 1.3rem;
}

label {
    display: block;
}
