<form novalidate [formGroup]="form" class="no-required-sign">
    <input type="hidden" formControlName="accountantCompanyName" />

    <section class="form_wrapper">
        <label class="padding-b-sm" data-required="true" [attr.data-invalid]="isAriaInvalid('name')">
            <span class="label-text">{{"billing.address_form.company_name" | translate}}</span>
            <input id="billing.address_form.company_name" type="text" tabindex="0" formControlName="name"
                   [attr.aria-invalid]="isAriaInvalid('name')"/>
            <span class="label-message">
                <span [attr.aria-live]="ariaLive('name', 'required')">{{'billing.address_form.company_name_required' | translate}}</span>
            </span>
        </label>

        <div class="grid grid-gap">
            <div class="cell no-b-padding">
                <label class="padding-b-sm" data-required="true" [attr.data-invalid]="isAriaInvalid('firstname')">
                    <span class="label-text">{{"billing.address_form.first_name" | translate}}</span>
                    <input id="billing.address_form.first_name" type="text" tabindex="0" formControlName="firstname"
                           [attr.aria-invalid]="isAriaInvalid('firstname')"/>
                    <span class="label-message">
                <span [attr.aria-live]="ariaLive('firstname', 'required')">{{'billing.address_form.first_name_required' | translate}}</span>
            </span>
                </label>
            </div>
            <div class="cell no-b-padding">
                <label class="padding-b-sm" data-required="true" [attr.data-invalid]="isAriaInvalid('lastname')">
                    <span class="label-text">{{"billing.address_form.last_name" | translate}}</span>
                    <input id="billing.address_form.last_name" type="text" tabindex="0" formControlName="lastname"
                           [attr.aria-invalid]="isAriaInvalid('lastname')"/>
                    <span class="label-message">
                <span [attr.aria-live]="ariaLive('lastname', 'required')">{{'billing.address_form.last_name_required' | translate}}</span>
            </span>
                </label>
            </div>
        </div>

        <label class="padding-b-sm" data-required="true" [attr.data-invalid]="isAriaInvalid('address')">
            <span class="label-text">{{"billing.address_form.address" | translate}}</span>
            <input id="billing.address_form.address" type="text" tabindex="0" formControlName="address"
                   [attr.aria-invalid]="isAriaInvalid('address')"/>
            <span class="label-message">
                <span [attr.aria-live]="ariaLive('address', 'required')">{{'billing.address_form.address_required' | translate}}</span>
            </span>
        </label>

        <div class="grid grid-gap">
            <div class="cell cell-shrink no-b-padding postcode-cell">
                <label class="padding-b-sm" data-required="true" [attr.data-invalid]="isAriaInvalid('postcode')">
                    <span class="label-text">{{"billing.address_form.postcode" | translate}}</span>
                    <input id="billing.address_form.postcode" type="number" tabindex="0" formControlName="postcode"
                           [attr.aria-invalid]="isAriaInvalid('postcode')"/>
                    <span class="label-message">
                <span [attr.aria-live]="ariaLive('postcode', 'required')">{{'billing.address_form.postcode_required' | translate}}</span>
            </span>
                </label>
            </div>
            <div class="cell no-b-padding">
                <label class="padding-b-sm" data-required="true" [attr.data-invalid]="isAriaInvalid('city')">
                    <span class="label-text">{{"billing.address_form.city" | translate}}</span>
                    <input id="billing.address_form.city" type="text" tabindex="0" formControlName="city"
                           [attr.aria-invalid]="isAriaInvalid('city')"/>
                    <span class="label-message">
                <span [attr.aria-live]="ariaLive('city', 'required')">{{'billing.address_form.city_required' | translate}}</span>
            </span>
                </label>
            </div>
        </div>

        <label data-required="true" [attr.data-invalid]="isAriaInvalid('countryCode')">
            <span class="label-text">{{"billing.address_form.country" | translate}}</span>
            <input id="billing.address_form.country" type="text" mdInput formControlName="countryCode" [matAutocomplete]="countriesAutocomplete"
                   (input)="checkCountry($event.target.value)" class="autocomplete-input"
                   [attr.aria-invalid]="isAriaInvalid('countryCode')"/>
            <span class="label-message">
                <span [attr.aria-live]="ariaLive('countryCode', 'required')">{{'billing.address_form.country_required' | translate}}</span>
                <span [attr.aria-live]="ariaLive('countryCode', 'isInArray')">{{'billing.address_form.country_unknown' | translate}}</span>
            </span>
            <mat-autocomplete #countriesAutocomplete="matAutocomplete" [displayWith]="countryDisplay">
                <mat-option *ngFor="let country of filteredCountries$ | async" [value]="country.id">
                    {{country.name}}
                </mat-option>
            </mat-autocomplete>
        </label>

        <div class="grid grid-gap margin-t-md">
            <div class="cell cell-shrink no-b-padding md4">
                <label data-required="false" [attr.data-invalid]="isAriaInvalid('phoneMobile')">
                    <span class="label-text">{{"billing.address_form.phone_number" | translate}}</span>
                    <input id="billing.address_form.phone_number" type="tel" pattern="^\+?[0-9]+(\s|-|[0-9])*$" tabindex="0" formControlName="phoneMobile" [attr.aria-invalid]="isAriaInvalid('phoneMobile')"/>
                    <span class="label-message">
                        <span [attr.aria-live]="ariaLive('phoneMobile', 'pattern')">{{'billing.address_form.phone_incorrect' | translate}}</span>
                    </span>
                </label>
            </div>
            <div class="cell no-b-padding">
                <label data-required="true" [attr.data-invalid]="isAriaInvalid('mail')">
                    <span class="label-text">{{"billing.address_form.email" | translate}}</span>
                    <input id="billing.address_form.email" type="text" tabindex="0" formControlName="mail" [attr.aria-invalid]="isAriaInvalid('mail')"/>
                    <span class="label-message">
                        <span [attr.aria-live]="ariaLive('mail', 'required')">{{'billing.address_form.mail_required' | translate}}</span>
                        <span [attr.aria-live]="ariaLive('mail', 'email')">{{'billing.address_form.mail_incorrect' | translate}}</span>
                    </span>
                </label>
            </div>
        </div>
    </section>
</form>
