@import "variables/variables";
@import "placeholders/placeholders";
@import "dialog/dialog";

$dialog-title-minus-margin: -$base-padding;
$dialog-title-margin: 0 $dialog-title-minus-margin;
$dialog-title-padding: 0 $base-padding $base-margin;
$dialog-content-padding: 0;

// sass-lint:disable no-important
// !important is required to override Material styles
.mat-dialog-title {
    margin: $dialog-title-margin !important;
    border-bottom: $dialog-hr;
    padding: $dialog-title-padding;
    font-size: $dialog-font-title-size !important;
    font-weight: $dialog-font-weight !important;
}

.mat-dialog-container {
    padding-bottom: 2.4rem !important;
}

.bx-dialog-content.bx-not-scrollable {
    @extend %dialog-base;
    padding: $dialog-content-padding;
    overflow: hidden;

    .bx-dialog-scroll-container {
        overflow: auto;
    }
}

// sass-lint:disable no-important
// !important is required to override Material styles
.bx-dialog-actions {
    @extend %dialog-actions;
    padding-right: $base-padding !important;
    padding-left: $base-padding !important;
}
