<mat-card class="card attached-card padding-v-sm no-top-radius-card">
    <app-options-bar [isSearchActive]="accountLedgerState.isSearchActive$ | async"
                     [isFilterActive]="accountLedgerState.isFilterActive$ | async"
                     [chippableFilters]="chipsToShow$ | async"
                     (search)="onSearch($event)"
                     (cancelSingleFilter)="onCancelSingleFilter($event)"></app-options-bar>
</mat-card>
<app-report-filter [accountsInput]="ledgerAccountState.ledgerAccounts$  | async"
                   [accountGroupsInput]="ledgerAccountState.ledgerAccountGroups$  | async"
                   [startYear]="dateRangeState.startYear$ | async"
                   [endYear]="dateRangeState.endYear$ | async"
                   [taxes]="taxState.taxes$ | async"
                   [entryTypes]="entryTypesState.entryTypes$ | async"
                   [accountGroupsLoaded]="ledgerAccountState.ledgerAccountGroupsLoaded$  | async"
                   [isFilterActive]="accountLedgerState.isFilterActive$ | async"
                   [advancedFiltersUsed]="accountLedgerState.advancedFiltersUsed$ | async"
                   [clientInfo]="accountLedgerState.clientInfo$ | async"
                   [currentBusinessYear]="accountLedgerState.currentBusinessYear$ | async"
                   [inBusinessDateRange]="accountLedgerState.inBusinessDateRange$ | async"
                   [periods]="periods$ | async"
                   [resetFilterField]="resetFilterField$"
                   [storedFilter]="storedFilter$ | async"
                   (applyFilter)="onApplyFilter($event)"
                   (resetFilter)="onResetFilter()"
                   (instantFilter)="onInstantFilter($event)">
</app-report-filter>
<app-account-ledger-list [dataSource]="accountLedgerListDataSource"
                         [listEntriesLoaded]="accountLedgerState.listEntriesLoaded$ | async"
                         [listEntriesLoading]="accountLedgerState.listEntriesLoading$ | async"
                         [listAccounts]="listAccounts$ | async"
                         [selectedAccount]="accountLedgerState.selectedAccountNo$ | async"
                         [carryover]="accountLedgerState.listCarryover$ | async"
                         [listTotals]="accountLedgerState.listTotals$ | async"
                         [currenciesTotals]="accountLedgerState.listCurrenciesTotals$ | async"
                         [listSort]="accountLedgerState.listSort$ | async"
                         [listPaginationLength]="accountLedgerState.listPaginationLength$ | async"
                         [listPaginationPageSize]="accountLedgerState.listPaginationPageSize$ | async"
                         [listPaginationPageSizeOptions]="accountLedgerState.listPaginationPageSizeOptions$ | async"
                         [listPaginationPageIndex]="accountLedgerState.listPaginationPageIndex$ | async"
                         [isFilterActive]="accountLedgerState.isFilterActive$ | async"
                         [isIncludeCarryoverChecked]="accountLedgerState.isIncludeCarryoverChecked$ | async"
                         [showAccountDescriptionChecked]="accountLedgerState.showAccountDescription$ | async"
                         [filteredDateRange]="accountLedgerState.filterDateRange$ | async"
                         [decimalPlaces]="accountLedgerState.filterDecimalPlaces$ | async"
                         [entries]="accountLedgerState.listEntries$ | async"
                         [baseCurrency]="accountLedgerState.baseCurrency$ | async"
                         [hasVatRecords]="accountLedgerState.hasVatRecords$ | async"
                         [showBalance]="accountLedgerState.showBalance$ | async"
                         [dateFormat]="dateFormat"
                         (selectAccount)="onSelectAccount($event)"
                         (sort)="onSort($event)"
                         (page)="onPagination($event)">
</app-account-ledger-list>
