<mat-card>
    <form novalidate [formGroup]="companySettingsForm">
        <app-company-form
            [companyLogo]="accountantPortalStateService.companyLogo$ | async"
            [companyLogoChanged]="accountantPortalStateService.companyLogoChanged$ | async"
            [companyPdf]="accountantPortalStateService.companyPdf$ | async"
            [companyPdfChanged]="accountantPortalStateService.companyPdfChanged$ | async"
            (logoChanged)="onLogoChanged($event)"
            (pdfChanged)="onPdfChanged($event)"
            (formReady)="formInitialized('companyForm', $event)"></app-company-form>

        <button mat-raised-button
                id="accountant_portal.company_settings.save"
                tabindex="0"
                color="primary"
                class="margin-t-md"
                (click)="saveSettings()"
                [disabled]="companySettingsForm.invalid || !companySettingsForm.dirty">
            <span>{{'accountant_portal.company_settings.save' | translate}}</span>
        </button>
    </form>
</mat-card>
