<section class="card-description">
    <div class="card-header">
        <h1 class="card-title">{{"billing.checkout.discount_code" | translate}}</h1>
        <p>{{"billing.checkout.discount_code_description" | translate}}</p>
    </div>
</section>

<section class="card-content grid">
    <div class="cell cell-shrink">
        <input #voucherCode
               id="billing.checkout.discount_code"
               type="text"
               tabindex="0"
               class="voucher-input"
               [ngModel]="previousCodeValue"
               [class.voucher-valid]="preview.isVoucherValid && loaded"
               [class.voucher-invalid]="preview.isVoucherNotAvailable && loaded && voucherCode.value !== ''"
               (input)="voucherInputChange$.next($event.target.value)"/>
        <mat-icon *ngIf="preview.isVoucherValid && loaded" fontSet="fa" fontIcon="fa-check"></mat-icon>
        <mat-icon *ngIf="preview.isVoucherNotAvailable && loaded && voucherCode.value !== ''" fontSet="fa" fontIcon="fa-times"></mat-icon>
    </div>
    <div class="cell" [class.middle]="preview.isVoucherInvalid && loaded && voucherCode.value !== ''">
        <span *ngIf="preview.isVoucherInvalid && loaded && voucherCode.value !== ''">{{"billing.checkout.invalid_discount_code" | translate}}</span>
        <span *ngIf="preview.hasNoResponse && loaded && voucherCode.value !== ''" [innerHTML]="'billing.checkout.voucher_no_response' | translate | safeHtml"></span>
    </div>
</section>
