@import "variables/variables";

.voucher-input {
    display: inline-block;
    width: 256px;
}

.voucher-valid {
    border-color: $color-primary-green-dark;
    padding-right: 26px;

    & + mat-icon {
        position: relative;
        left: -25px;
        font-size: 1.6rem;
        color: $color-primary-green-dark;
    }
}

.voucher-invalid {
    border-color: $color-status-border-error;
    padding-right: 26px;

    & + mat-icon {
        position: relative;
        left: -25px;
        font-size: 1.6rem;
        color: $color-status-border-error;
    }
}
