<div class="grid margin-b-lg middle">
    <div class="cell left">
        <app-breadcrumbs></app-breadcrumbs>
    </div>
</div>

<div class="grid grid-gap">
    <div class="cell padding-b-md">
        <app-plan-overview [activePlan]="activePlan$ | async"
                           [activeAddons]="activeAddons$ | async"
                           [selectedPlan]="selectedPlan$ | async"
                           [plans]="plans$ | async"
                           [numberOfUsers]="numberOfUsers$ | async"
                           [subscriptionChanged]="subscriptionChanged$ | async"
                           [preview]="preview$ | async"
                           [previewLoaded]="previewLoaded$ | async"
                           [params]="queryParams$ | async"
                           [isOverviewProductOptionsSelectCountValid]="isOverviewProductOptionsSelectCountValid$ | async"
                           (initOptions)="onInitOptions()"
                           (changeSubscriptionPlan)="onChangeSubscriptionPlan($event)"
                           (redirect)="onRedirect($event)">
            <app-users-overview *ngIf="!(activePlan$ | async).isMiniPlan" data-users-overview
                                [numberOfUsers]="numberOfUsers$ | async"
                                [user]="planUser$ | async"></app-users-overview>
            <app-addons-overview *ngIf="!(activePlan$ | async).isMiniPlan" data-addons-overview
                                 [addons]="activePaidAddons$ | async"
                                 [preview]="preview$ | async"
                                 [previewLoaded]="previewLoaded$ | async"></app-addons-overview>
            <app-plan-options-overview *ngIf="!(activePlan$ | async).isMiniPlan" data-plan-options-overview
                                       [activePlan]="activePlan$ | async"
                                       [addons]="addons$ | async"
                                       [activeAddons]="activeAddons$ | async"
                                       [payrollInfo]="payrollInfo$ | async"
                                       [activatedProductOptionsAttributes]="overviewProductOptionsAttributes$ | async"></app-plan-options-overview>
            <app-plan-options *ngIf="!(activePlan$ | async).isMiniPlan" data-plan-options
                              [activePlan]="selectedPlan$ | async"
                              [addons]="addons$ | async"
                              [activeAddons]="activeAddons$ | async"
                              [activatedProductOptions]="overviewProductOptions$ | async"
                              [activatedProductOptionsAttributes]="overviewProductOptionsAttributes$ | async"
                              scope="overview"
                              (checkProductOption)="onCheckProductOption($event)"
                              (uncheckProductOption)="onUncheckProductOption($event)"
                              (payrollAttributesEndingUnitChange)="onPayrollAttributesEndingUnitChange($event)"></app-plan-options>
        </app-plan-overview>
    </div>
</div>

<hr>

<div class="grid grid-gap padding-t-sm">
    <div class="cell">
        <app-payment-method [creditCard]="creditCard$ | async"
                            [paymentMethod]="paymentMethod$ | async"
                            [billingInfo]="billingInfo$ | async"
                            [plan]="activePlan$ | async"
                            (paymentMethodChange)="onChangePaymentMethod($event)"></app-payment-method>

        <app-payment-history [invoices]="invoices$ | async" [invoicesLoaded]="invoicesLoaded$ | async"></app-payment-history>
    </div>
    <div class="cell">
        <app-billing-info-overview [billingInfo]="billingInfo$ | async"
                                   [countries]="countries$ | async"
                                   (changeBillingAddress)="onChangeBillingAddress($event)"></app-billing-info-overview>
        <app-danger-zone></app-danger-zone>
    </div>
</div>
