@import "variables/variables";
@import "placeholders/typography.placeholder";

#zuora_payment > iframe { // sass-lint:disable-line no-ids
    height: 340px;
}

.first-column {
    min-width: 80px;
}

.radio-group label {
    @extend %typography-dark-primary;
}
