$avatar-background: #ced8af;
$base-table-font-color: #444444;
$image-wrapper: #c30b02;
$red-font-color: #bc0000;
$search-border-color: #dddddd;
$chart-border-color: #0085b8;
$no-client-background-color: #ebeced;
$warning-background-color: #c81919;
$warning-font-color: #ffffff;
$error-code-color: #e9e9e9;
$error-message-color: #888888;
$navigation-link-color: #adb5b7;
$progress-bar-buffer-background-color: #dedfdd;
$dotted-border-color: #cccccc;

