@import "variables/variables";
@import "placeholders/typography.placeholder";

:host {
    display: block;
}

.add-user-label {
    display: inline-block;
    margin-bottom: 6px;
}

input {
    box-sizing: border-box;
}

.dialog-actions {
    border-top: none;
}

.add-user-info-additional {
    margin-bottom: 0.6rem;
}
