<form novalidate [formGroup]="form">
    <div class="dialog-title">
        {{ 'billing.user_management.invite_user' | translate}}
    </div>
    <div class="padding-b-md padding-t-lg">
        <label>
            <span
                class="add-user-label caption text-strong">{{"billing.user_management.invite_user_email" | translate}}</span>
            <input type="email" tabindex="0" formControlName="email"/>
        </label>
        <div class="text-center margin-t-md" *ngIf="!isTrial && !!userProduct">
            <p class="add-user-info-additional text-subtle">{{'billing.user_management.additional_user' |
                translate}}</p>
            <p class="margin-b-lg subheading">{{userProduct.currency}} {{userProduct.periodPrice | number: '1.2-2'}}
                {{userProduct.billingPeriod | per_billing_period | translate}}</p>
            <p class="no-margin text-subtle">{{'billing.user_management.additional_user_payment' | translate}}</p>
        </div>
    </div>
    <div class="dialog-actions">
        <div class="grid grid-gap">
            <div class="cell cell-shrink">
                <button mat-raised-button
                        id="billing.user_menager.invite_user"
                        tabindex="0"
                        color="primary"
                        [attr.data-status]="invitingUserStatus"
                        [disabled]="form.invalid"
                        (click)="inviteUser()">
                    <mat-progress-spinner diameter="22" mode="indeterminate"></mat-progress-spinner>
                    <span>{{ 'billing.user_management.invite_user' | translate}}</span>
                </button>
            </div>
            <div class="cell cell-shrink">
                <button [disabled]="invitingUser" mat-dialog-close type="button" mat-raised-button
                        id="billing.user_menager.invite_user_cancel"
                        tabindex="0"
                        color="secondary">
                    <span>{{ 'globals.cancel' | translate }}</span>
                </button>
            </div>
        </div>
    </div>
</form>
