<main class="container">
    <header class="header-container">
        <h1 class="heading">{{'accountant_portal.setup.password.join_company' | translate}}</h1>
    </header>

    <app-join-existing-company [autocompleteCompanies]="accountantPortalStateService.companies$ | async"
                               (newCompanyRedirect)="onNewCompanyRedirect()"
                               (joinCompany)="onJoinCompany($event)"></app-join-existing-company>
</main>
