<div class="dialog-image padding-v-lg">
    <mat-icon fontSet="fal" fontIcon="fa-hand-paper" class="reject-icon"></mat-icon>
</div>
<div class="dialog-title">{{'accountant_portal.clients.reject_pending_client_invite_dialog.reject' | translate}}</div>

<div class="dialog-content">
    <span [innerHTML]="'accountant_portal.clients.reject_pending_client_invite_dialog.explanation' | translate:{email: pendingClientInvite.client.email, clientName: pendingClientInvite.client.name} | safeHtml"></span>
</div>

<div class="margin-t-lg">
    <button mat-raised-button
            (click)="rejectPendingClientInvite()"
            id="accountant_portal.clients.reject_pending_client_invite_dialog.reject"
            tabindex="0"
            color="primary"
            class="margin-r-md">{{'globals.reject' | translate}}
    </button>
    <button mat-dialog-close mat-raised-button
            type="button"
            id="accountant_portal.clients.reject_pending_client_invite_dialog.cancel"
            tabindex="0"
            color="secondary">
        <span>{{'globals.cancel' | translate}}</span>
    </button>
</div>
