@import "variables/variables";

@import "../../../shared/accountant-portal-variables";

.dialog-image {
    background-color: $image-wrapper;
}

.reject-icon {
    width: 100%;
    height: 100%;
    color: $color-typ-special;
    font-size: 6rem;
}
