<section class="grid margin-b-lg middle">
    <div class="cell left">
        <app-breadcrumbs></app-breadcrumbs>
    </div>
    <div class="cell right">
        <app-user-controls [users]="users$ | async"
                           [plan]="plan$ | async"
                           [companyProfile]="companyProfile$ | async"
                           (addUser)="onAddUser()"></app-user-controls>
    </div>
</section>
<mat-card class="no-padding">
    <app-user-list [users]="users$ | async" [currentUser]="currentUser$ | async" [columnConfig]="columnConfig$ | async"
                   [companyProfile]="companyProfile$ | async" (sort)="onSort($event)"
                   (remove)="onRemove($event)"></app-user-list>
</mat-card>
