<mat-list-item>
    <img mat-list-avatar [src]="addon.logoUrl" [attr.alt]="addon.name | translate">
    <h3 mat-line class="title">{{addon.name | translate}}</h3>
    <p mat-line class="text-disabled">
        <span>{{addon.description | translate}}</span>
    </p>
    <div class="list-actions">
        <a target="_blank" class="list-action" *ngIf="isActive && instructionsUrl" [href]="instructionsUrl">{{'billing.addons.setup_instructions'
            | translate}}</a>
        <mat-slide-toggle class="list-action list-action-right"
                         [checked]="isActive"
                         [disabled]="isDisabled"
                         (change)="onChange(addon, $event)"></mat-slide-toggle>
        <span *ngIf="addon.isPaid" class="list-action list-action-right text-disabled">{{addon.currency}} {{addon.price | number: '1.2-2'}} {{'billing.period.per_month' | translate}}</span>
        <span *ngIf="!addon.isPaid"
              class="list-action list-action-right text-disabled">{{'billing.free' | translate}}</span>
    </div>
</mat-list-item>
