@import "color";

// base variables
$base-radius-card: 2px;
$base-margin: 1.6rem;
$base-padding: 2.4rem;

// base-font-size
$base-font-family: "Lato", sans-serif;
$base-font-size: 1.3rem;
$base-font-weight: 400;
$base-font-weight-strong: 700;
$base-font-line-height: 1.0;
$base-font-size-caption: 1.1rem;

$html-font-size: 62.5%;
$hr-margin: 0.8rem 0 1.6rem;

// base container variables
$base-container-max-width: 136rem;
$base-container-min-width: 94rem;
$base-container-padding: 0 10px 66px;

html {
    font-size: $html-font-size;
}

body {
    background-color: $color-canvas;
    min-width: inherit;
    height: inherit;
}

hr {
    margin: $hr-margin;
    border: none;
    border-top: 1px solid $color-hr;
}

p {
    margin-top: 0;
    margin-bottom: $base-margin;
}

strong,
b {
    font-weight: $base-font-weight-strong;
}

