@import "variables/variables";
@import "placeholders/typography.placeholder";
@import "breakpoints.mixin";
@import "table/table.placeholder";

$list-padding: $base-padding;
$list-margin: $base-padding;
$list-margin-p: 0;
$list-footer-height: 5.6rem;

$list-font-size: $typo-font-base-size;
$list-font-weight: $typo-font-base-weight;
$list-line-height: $typo-font-base-line-height;
$list-tbody-font-size-small: 1.1rem;

$list-color: $color-character-secondary-light;

$list-table-body-item-hover: $color-table-hover;
$list-table-body-item-selected: $table-row-updated;
$list-table-body-item-selected-hover: rgba(220, 167, 31, 0.36);

:host {
    display: block;
    margin-right: -24px;
    margin-left: -24px;
    // table by default without hover

    strong {
        display: block;
        margin-bottom: 3px;
        line-height: $list-line-height;
        font-size: $list-font-size;
        font-weight: $list-font-weight;
    }

    p {
        margin: $list-margin-p;
        line-height: $list-line-height;

        &:last-child:not(:first-child) {
            color: $list-color;
        }
    }

    .fa {
        margin-top: 2px;
        color: $list-color;
        font-size: $list-font-size;
    }

    %booking-list-header-data-column-width {
        &:nth-last-child(9) {
            width: 75px;
            white-space: nowrap;
        }

        &:nth-last-child(8) {
            width: 160px;
        }
    }

    %booking-list-entry-row-data-column-width {
        &:first-child {
            padding-right: 12px;
            padding-left: 12px;
        }

        &:nth-last-child(7),
        &:nth-last-child(6) {
            @include media-breakpoint-up("xl") {
                width: 200px;
            }
            width: 120px;
        }

        &:nth-last-child(5) {
            width: auto;
        }

        &:nth-last-child(4) {
            width: 80px;
        }

        &:nth-last-child(3) {
            width: 80px;
            white-space: nowrap;
        }

        &:nth-last-child(2) {
            width: 50px;
            white-space: nowrap;
        }

        &:last-child {
            width: 120px;
            white-space: nowrap;
        }
    }

    %booking-list-state {
        &:hover,
        &:focus {
            cursor: pointer;

            th,
            td {
                background-color: $list-table-body-item-hover;
            }
        }

        &:focus {
            outline: 0;
        }

        &:active {
            th,
            td {
                animation: table-active-row 0.5s;
            }
        }
    }

    tbody {
        tr {
            th,
            td {
                small {
                    display: block;
                    line-height: $list-line-height;
                    color: $list-color;
                    font-size: $list-tbody-font-size-small;
                }
            }
        }

        &[data-booking-type="manual_compound_entry"],
        &[data-booking-type="manual_single_entry"],
        &[data-booking-type="manual_group_entry"] {
            tr {
                th,
                td {
                    @extend %booking-list-header-data-column-width;
                    @extend %booking-list-entry-row-data-column-width;
                }
            }
            // states
            @extend %booking-list-state;
        }

        &[data-status="selected"] {
            tr > th,
            tr > td {
                background-color: $list-table-body-item-selected;
            }

            &:hover tr {
                > th,
                > td {
                    background-color: $list-table-body-item-selected-hover;
                }
            }
        }

        &[data-status="updated"] {
            tr > th,
            tr > td {
                animation: table-update-row 3s;
            }

            &:hover tr {
                > th,
                > td {
                    background-color: $list-table-body-item-hover;
                }
            }
        }

        &[data-booking-type="manual_compound_entry"] {
            tr:not(:last-of-type) > td {
                &:nth-child(0),
                &:nth-child(1),
                &:nth-child(2) {
                    border: none;
                }
            }
        }
    }
}
