<table class="bx-table">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>
            <app-list-sort [column]="'date'" [title]="'globals.date' | translate" [columnConfig]="columnConfig"
                           (sort)="this.sort.emit($event)"></app-list-sort>
        </th>
        <th>
            <app-list-sort [column]="'reference_nr'" [title]="'entry_header.narration' | translate"
                           [columnConfig]="columnConfig" (sort)="this.sort.emit($event)"></app-list-sort>
        </th>
        <th>
            <span>{{'entry_row.debit' | translate}}</span>
        </th>
        <th>
            <span>{{'entry_row.credit' | translate}}</span>
        </th>
        <th>
            <span>{{'entry_row.description' | translate}}</span>
        </th>
        <th>
            <span>{{'entry_row.vat' | translate}}</span>
        </th>
        <th>
            <span>{{'entry_row.ex_rate' | translate}}</span>
        </th>
        <th colspan="2">
            <span>{{'entry_row.amount' | translate}}</span>
        </th>
    </tr>
    </thead>
    <tbody *ngFor="let manualEntryCollection of listEntries" tabindex="0" [attr.data-booking-type]="manualEntryCollection.type"
           [attr.data-status]="manualEntryCollection.status" (mousedown)="select.emit(manualEntryCollection)"
           (keydown.enter)="select.emit(manualEntryCollection)">
    <tr *ngFor="let manualEntry of manualEntryCollection.entries; let isFirstEntry = first">
        <td *ngIf="manualEntryCollection.isCompoundEntry && !isFirstEntry">&nbsp;</td>
        <td *ngIf="!manualEntryCollection.isCompoundEntry || isFirstEntry"><i *ngIf="manualEntry.files.length" class="fa fa-paperclip" aria-hidden="true"></i></td>
        <td [attr.data-title]="'globals.date' | translate"><span
            *ngIf="!manualEntryCollection.isCompoundEntry || isFirstEntry">{{manualEntryCollection.date | date: 'dd.MM.yyyy'}}</span>
        </td>
        <td [attr.data-title]="'entry_header.narration' | translate"><span
            *ngIf="!manualEntryCollection.isCompoundEntry || isFirstEntry">{{manualEntryCollection.referenceNr}}</span>
        </td>
        <td [attr.data-title]="'entry_row.debit' | translate">
            <strong>{{manualEntry.debitAccount?.accountNo}}</strong>
            <small>{{manualEntry.debitAccount?.name}}</small>
        </td>
        <td [attr.data-title]="'entry_row.credit' | translate">
            <strong>{{manualEntry.creditAccount?.accountNo}}</strong>
            <small>{{manualEntry.creditAccount?.name}}</small>
        </td>
        <td [attr.data-title]="'entry_row.description' | translate">
            <p>{{manualEntry.description}}</p>
        </td>
        <td [attr.data-title]="'entry_row.vat' | translate">
            <span *ngIf="manualEntry.tax">{{manualEntry.tax.format()}}</span>
        </td>
        <td [attr.data-title]="'entry_row.ex_rate' | translate">
            <span *ngIf="manualEntry.isDifferentCurrency">{{manualEntry.currencyFactor | number: '1.2-6'}}</span>
        </td>
        <td [attr.data-title]="'entry_row.currency' | translate">
            <p>{{manualEntry.baseCurrency?.name}}</p>
            <p *ngIf="manualEntry.isDifferentCurrency">{{manualEntry.currency?.name}}</p>
        </td>
        <td [attr.data-title]="'entry_row.amount' | translate">
            <p>{{getFormatedAmount(manualEntry.baseCurrencyAmount)}}</p>
            <p *ngIf="manualEntry.isDifferentCurrency">{{getFormatedAmount(manualEntry.amount)}}</p>
        </td>
    </tr>
    </tbody>
</table>
