@import "variables/color";

.container {
    margin: 0 auto;
    max-width: 752px;
}

.wrapper-card {
    background-color: $color-card-container;
}

.content {
    display: flex;
}

.explanation {
    flex: 0 0 192px;
    width: 192px;
}

.input-wrapper {
    flex-grow: 1;
}

.error-container {
    min-height: 29px;
}

.label-message {
    padding-bottom: 16px;
}
