<main class="container">
    <header class="header-container">
        <h1 class="heading">{{'accountant_portal.setup.password.join_company' | translate}}</h1>
    </header>

    <form novalidate [formGroup]="form">
        <mat-card class="wrapper-card padding-t-xl padding-b-lg">
            <p class="subheading">{{'accountant_portal.setup.password.form.create_password' | translate}}</p>
            <mat-card class="padding-t-lg padding-b-xl">
                <div class="content">
                    <div class="explanation margin-t-sm text-subtle">
                        {{'accountant_portal.setup.password.form.password_requirements' | translate}}
                    </div>
                    <div class="input-wrapper margin-l-xl">
                        <label data-required="true" [attr.data-invalid]="isAriaInvalid('password') || form.hasError('notSame')">
                            <div class="label-container">
                                <span class="label-text">{{'accountant_portal.setup.password.form.password_label' | translate}}</span>
                            </div>
                            <input formControlName="password"
                                   tabindex="1"
                                   type="password"
                                   [attr.aria-invalid]="isAriaInvalid('password') || form.hasError('passwordNotStrong')"
                                   id="accountant_portal.setup.password.form.password_label">
                            <div class="label-message error-container">
                                <span [attr.aria-live]="ariaLive('password', 'passwordNotStrong')">{{'accountant_portal.setup.not_strong_password' | translate}}</span>
                            </div>
                        </label>
                        <label data-required="true" [attr.data-invalid]="isAriaInvalid('password') || form.hasError('notSame')">
                            <div class="label-container">
                                <span class="label-text">{{'accountant_portal.setup.password.form.password_repeat_label' | translate}}</span>
                            </div>
                            <input formControlName="passwordRepeat"
                                   tabindex="2"
                                   type="password"
                                   [attr.aria-invalid]="isAriaInvalid('password') || form.hasError('notSame')"
                                   id="accountant_portal.setup.password.form.password_repeat_label">
                            <span class="label-message">
                                <span [attr.aria-live]="passwordsNotSame">{{'accountant_portal.setup.passwords_dont_match' | translate}}</span>
                            </span>
                        </label>
                    </div>
                </div>
            </mat-card>

            <div class="text-right">
                <button mat-raised-button
                        id="accountant_portal.setup.password.form.submit"
                        tabindex="3"
                        color="primary"
                        class="margin-t-md"
                        [disabled]="form.invalid"
                        (click)="saveSettings()">
                    <span>{{'accountant_portal.setup.password.form.submit' | translate}}</span>
                </button>
            </div>
        </mat-card>
    </form>
</main>
