@import "mat-tab.placeholder";

.bx-tab {
    &.mat-tab-group /deep/ {
        @extend %mat-tab-group;
    }

    &.bx-tab-active-text-blue {
        .mat-tab-label-active {
            color: $color-secondary-blue-light;
        }
    }
}
