@import "variables/variables";

%mat-tab-group {
    .mat-tab-label {
        padding: 0 12px;
        min-width: 96px;
        height: 42px;
        font-weight: normal;
        font-size: 1.3rem;
    }

    .mat-ink-bar {
        background-color: $color-secondary-blue-light;
        height: 3px;
    }
}