<ng-container *ngIf="activePlan.isMiniPlan; then miniView; else standardView"></ng-container>

<ng-template #miniView>
    <mat-card class="card attached-card no-padding">
        <section class="card-header">
            <div class="plan-mini-card">
                {{"billing.plan_mini.introduction" | translate}}
            </div>
        </section>
    </mat-card>
</ng-template>

<ng-template #standardView>
    <mat-card class="card attached-card no-padding">
        <section *ngIf="!activePlan.isAccountantPlan" class="card-header">
            <h1 class="card-title">{{"billing.subscription_type" | translate}}</h1>
        </section>
        <section *ngIf="!activePlan.isAccountantPlan" class="card-content">
            <div class="grid">
                <div class="cell cell-shrink">
                    <div class="radio-group">
                        <mat-radio-group [ngModel]="activePlan.billingPeriod"
                                         (ngModelChange)="onBillingPeriodChange($event)">
                            <mat-radio-button value="month" class="radio-button margin-b-md">
                                {{'billing.billing_period_subscription_month' | translate}}
                            </mat-radio-button>
                            <mat-radio-button value="annual" class="radio-button no-b-margin">
                                {{'billing.billing_period_subscription_annual' | translate}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="cell cell-shrink bottom">
                    <p class="yearly-discount">{{'billing.checkout.10_off' | translate}}</p>
                </div>
                <div class="cell bottom">
                    <p class="billing-period-info"
                       [innerHTML]="'billing.billing_period_info_sentence' | translate | safeHtml"></p>
                </div>
            </div>
        </section>
    </mat-card>
</ng-template>

<mat-card *ngIf="!activePlan.isAccountantPlan" class="card plan-cards-container attached-card">
    <div class="radio-group">
        <mat-radio-group [ngModel]="activePlan.identifier" (ngModelChange)="onPlanChange($event)">
            <section class="grid grid-flex grid-gap">
                <app-plan-card class="cell"
                               *ngFor="let plan of filteredPlans"
                               [active]="plan.id === activePlan.id"
                               [checked]="plan.identifier === activePlan.identifier"
                               [plan]="plan"
                               [disabled]="!arePlanConditionsSatisfied(plan)"></app-plan-card>
            </section>
        </mat-radio-group>
    </div>
</mat-card>

<mat-card class="card attached-card plan-cards-container" *ngIf="(isProPlan && !isMaxNumberOfUsersSatisfied(starterPlan)) || (isProPlusPlan && !isMaxNumberOfUsersSatisfied(proPlan))">
    <section *ngIf="isProductVersionV2" class="text-center">
        <div *ngIf="isProPlan && !isMaxNumberOfUsersSatisfied(starterPlan)">
            <p class="margin-b-sm">{{'billing.activated_users' | translate:{users: numberOfUsers | pluralize:'users'} }}</p>
            <p [innerHTML]="'billing.remove_users_starter' | translate:{users: removeNumberOfUsersForStarter | pluralize:'users'} | safeHtml"></p>
        </div>
        <div *ngIf="isProPlusPlan && !isMaxNumberOfUsersSatisfied(proPlan)">
            <p class="margin-b-sm">{{'billing.activated_users' | translate:{users: numberOfUsers | pluralize:'users'} }}</p>
            <p [innerHTML]="'billing.remove_users_pro' | translate:{users: removeNumberOfUsersForPro | pluralize:'users'} | safeHtml"></p>
        </div>
    </section>
</mat-card>

<mat-card class="card attached-card no-padding" *ngIf="showOptions">
    <ng-content select="[data-checkout-options]"></ng-content>
</mat-card>

<mat-card class="card attached-card no-padding" *ngIf="showActiveAddons">
    <ng-content select="[data-checkout-addon-list]"></ng-content>
</mat-card>

<mat-card class="card attached-card no-padding">
    <ng-content select="[data-checkout-voucher]"></ng-content>
</mat-card>

<mat-card class="card no-padding">
    <ng-content select="[data-checkout-summary]"></ng-content>
</mat-card>
