@import "variables/variables";
@import "placeholders/typography.placeholder";

.plans-section {
    background: #f1f2f1;
    padding: 2.4rem;
    display: flex;
    justify-content: space-around;
}

.plan-card {
    margin: 0 .8rem;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
}

.plan-mini-card {
    padding: 0 20%;
    text-align: center;
}

.plan-card:first-child {
    margin-left: 0;
}

.plan-card:last-child {
    margin-right: 0;
}

.checkout-navigation {
    background: $color-canvas;
}

.plan-cards-container {
    background-color: $color-intermediate;
    padding-bottom: 0;
    padding-top: 2.4rem;
    display: flex;
    justify-content: center;
}

.radio-button {
    display: block;
    margin-bottom: 0.8rem;
}

.billing-period-info {
    margin-left: 4rem;
    line-height: 19px;
    margin-bottom: -3px;
}

.option-description {
    line-height: 2.4rem;
}

.yearly-discount {
    font-family: 'Amatic SC', cursive;
    font-size: 1.8rem;
    font-weight: bold;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    color: #66b245;
    margin-bottom: 0;
    margin-left: 0.8rem;
}
