$spinner-margin: 15vh auto;
$spinner-border-color: #00a1df;
$spinner-size: 32px !default;
$spinner-border-width: 3px !default;
$spinner-left-margin-center: calc(50% - 16px);

@-webkit-keyframes bx-loadinganimation {
    100% {
        transform: rotate(360deg);

        -webkit-transform: rotate(360deg);
    }
}

@keyframes bx-loadinganimation {
    100% {
        transform: rotate(360deg);

        -webkit-transform: rotate(360deg);
    }
}

:host {
    display: inline-block;
    position: relative;
    left: $spinner-left-margin-center;
    animation: bx-loadinganimation 0.7s cubic-bezier(0.5, 0.7, 0.6, 0.5) infinite;
    margin: $spinner-margin;
    border: $spinner-border-width solid $spinner-border-color;
    border-bottom: $spinner-border-width solid transparent;
    border-radius: 100%;
    width: $spinner-size;
    height: $spinner-size;
    box-sizing: border-box;

    -webkit-animation: bx-loadinganimation 0.7s cubic-bezier(0.5, 0.7, 0.6, 0.5) infinite;

    &.context-spinner {
        left: 0;
        margin: 0;
    }

    &.spinner-lg {
        border-width: 3px;
        width: 24px;
        height: 24px;
    }
}
