<main class="container">
    <header class="header-container">
        <h1 class="heading">{{'accountant_portal.accountant' | translate}}</h1>

        <button type="button" mat-raised-button
                id="add_accountant"
                tabindex="0"
                color="special"
                (click)="onAddNewAccountant()">
            <span>{{'accountant_portal.button.add_new_accountant' | translate}}</span>
        </button>
    </header>

    <app-accountants-list [accountantsList]="accountantPortalStateService.accountants$ | async"
                          [accountantUser]="accountantPortalStateService.accountantUser$ | async"
                          [idsOfAccountantsWithConnectedClients]="accountantPortalStateService.idsOfAccountantsWithConnectedClients$ | async"
                          (roleChange)="onRoleChange($event)"
                          (acceptInvitation)="onAcceptAccountantInvitation($event)"
                          (rejectInvitation)="onRejectAccountantInvitation($event)"
                          (revokeInvitation)="onRevokeAccountantInvitation($event)"
                          (resendInvitation)="onResendAccountantInvitation($event)"></app-accountants-list>
</main>
