<form novalidate [formGroup]="form">
    <div class="dialog-title">
        {{'accounting_reports.account_ledger.excel_download_options' | translate}}
    </div>

    <div class="dialog-content padding-b-sm">
        <mat-progress-spinner *ngIf="isExportPending" aria-hidden="true" diameter="24"
                              mode="indeterminate" class="spinner margin-b-md"></mat-progress-spinner>
        <div *ngIf="!isExportPending">
            <mat-radio-group formControlName="exportAllAccounts">
                <mat-radio-button [value]="true" class="radio-button margin-t-sm">
                    <span class="centered-radio-label">{{'accounting_reports.account_ledger.all_accounts_for_excel' | translate}}</span>
                </mat-radio-button>
                <br>
                <mat-radio-button [value]="false" class="radio-button margin-t-md" [disabled]="!fromAccount">
                    <span class="centered-radio-label">{{selectedAccountsForExcel}}</span>
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div class="dialog-actions">
        <div class="grid grid-gap">
            <div class="cell cell-shrink">
                <button mat-raised-button
                        id="accounting_reports.account_ledger.download_excel"
                        tabindex="0"
                        color="primary"
                        (click)="waitForExcelFileDownload()"
                        [disabled]="isExportPending">
                    <span>{{'globals.download' | translate}}</span>
                </button>
            </div>
            <div class="cell cell-shrink">
                <button mat-dialog-close mat-raised-button
                        type="button"
                        id="accounting_reports.account_ledger.export_excel_cancel"
                        tabindex="0"
                        color="secondary">
                    <span>{{'globals.cancel' | translate}}</span>
                </button>
            </div>
        </div>
    </div>
</form>
