<form novalidate [formGroup]="form">
    <div class="dialog-title">
          {{'accounting_reports.account_ledger.pdf_download_options' | translate}}
    </div>

    <div class="dialog-content">
        <mat-progress-spinner *ngIf="isExportPending" aria-hidden="true" diameter="24"
                              mode="indeterminate" class="spinner margin-b-md"></mat-progress-spinner>
        <div *ngIf="!isExportPending">
            <div>
                <mat-radio-group formControlName="exportAllAccounts">
                    <mat-radio-button [value]="true" class="radio-button margin-t-sm">
                        <span class="text-strong centered-radio-label">{{'accounting_reports.account_ledger.all_accounts' | translate}}</span>
                    </mat-radio-button>
                    <br>
                    <mat-radio-button [value]="false" class="radio-button margin-t-md" [disabled]="!fromAccount">
                        <span class="text-strong centered-radio-label">{{'accounting_reports.account_ledger.selected_accounts' | translate}}</span>
                    </mat-radio-button>
                    <br>
                    <ng-container *ngIf="fromAccount; else noAccountsSelected">
                        <span class="margin-l-xl" *ngIf="toAccount; else oneAccountSelected">{{'globals.accounts' | translate}} {{fromAccount}} - {{toAccount}}</span>
                        <ng-template #oneAccountSelected>
                            <span class="margin-l-xl">{{'globals.account' | translate}} {{fromAccount}}</span>
                        </ng-template>
                    </ng-container>
                    <ng-template #noAccountsSelected>
                        <span class="margin-l-xl text-subtle">{{'accounting_reports.account_ledger.no_accounts_selected' | translate}} {{fromAccount}}</span>
                    </ng-template>
                </mat-radio-group>
            </div>
            <hr>
            <div class="padding-b-sm">
                <mat-radio-group formControlName="paperOrientation">
                    <mat-radio-button [value]="'portrait'" class="radio-button">
                        <span class="text-strong centered-radio-label">{{'accounting_reports.account_ledger.a4_portrait' | translate}}</span>
                    </mat-radio-button>
                    <br>
                    <span class="margin-l-xl">{{'accounting_reports.account_ledger.a4_portrait_description' | translate}}</span>
                    <br>
                    <mat-radio-button [value]="'landscape'" class="radio-button margin-t-sm">
                        <span class="text-strong centered-radio-label">{{'accounting_reports.account_ledger.a4_landscape' | translate}}</span>
                    </mat-radio-button>
                    <br>
                    <span class="margin-l-xl">{{'accounting_reports.account_ledger.a4_landscape_description' | translate}}</span>
                </mat-radio-group>
            </div>
            <!-- hr>
            <div class="padding-b-sm">
                <mat-checkbox formControlName="forcePageBreak" class="text-strong label-margin-xs">
                    {{'accounting_reports.account_ledger.force_page_break' | translate}}
                </mat-checkbox>
                <span class="margin-l-xl">{{'accounting_reports.account_ledger.force_page_break_description' | translate}}</span>
            </div -->
        </div>
    </div>

    <div class="dialog-actions">
        <div class="grid grid-gap">
            <div class="cell cell-shrink">
                <button mat-raised-button
                        id="accounting_reports.account_ledger.download_pdf"
                        tabindex="0"
                        color="primary"
                        (click)="waitForPdfFileDownload()"
                        [disabled]="isExportPending">
                    <span>{{'globals.download' | translate}}</span>
                </button>
            </div>
            <div class="cell cell-shrink">
                <button mat-dialog-close mat-raised-button
                        type="button"
                        id="accounting_reports.account_ledger.export_pdf_cancel"
                        tabindex="0"
                        color="secondary">
                    <span>{{'globals.cancel' | translate}}</span>
                </button>
            </div>
        </div>
    </div>
</form>
