<div class="dialog-content row-with-border">
    <p class="text-strong">Contact</p>
    <p class="margin-b-xl">
        <span>{{client.fullName}}</span>
        <a class="margin-l-lg" [href]="'mailto:' + client.email">{{client.email}}</a>
    </p>
</div>

<!--Originally connected accountants-->
<div *ngFor="let accountant of connectedAccountants" class="dialog-section row-with-border padding-v-sm">
    <div class="account-wrapper">
        <span>{{accountant.fullName}}</span>
        <button type="button" mat-raised-button
                class="no-v-padding"
                id="accountant_portal.manage_contact.disconnect_accountant"
                tabindex="0"
                color="secondary"
                (click)="onDisconnect(accountant)">
            <span>{{'globals.disconnect' | translate}}</span>
        </button>
    </div>
</div>

<!--Originally accountants with pending invite-->
<div *ngFor="let accountant of accountantsWithPendingInvite" class="dialog-section row-with-border padding-v-sm">
    <div class="account-wrapper">
        <span>{{accountant.fullName}}</span>
        <div>
            <button type="button" mat-raised-button
                    class="no-v-padding"
                    id="accountant_portal.manage_contact.resend_invite"
                    tabindex="0"
                    color="secondary"
                    (click)="onResendInvite(accountant)">
                <span>{{'globals.resend' | translate}}</span>
            </button>
            <button type="button" mat-icon-button
                    class="cancel-button margin-l-sm"
                    color="secondary"
                    id="accountant_portal.manage_contact.cancel_existing_invite"
                    tabindex="0"
                    [matTooltip]="'globals.cancel' | translate"
                    mdTooltipPosition="below"
                    (click)="onCancelExistingInvite(accountant)">
                <mat-icon fontSet="fas" fontIcon="fa-times" class="cancel-icon"></mat-icon>
            </button>
        </div>
    </div>
</div>

<!--Accountants to connect-->
<div *ngFor="let accountant of accountantsToConnect" class="dialog-section row-with-border padding-v-sm">
    <div class="account-wrapper">
        <span>{{accountant.fullName}}</span>
        <div>
            <button type="button" mat-raised-button disabled
                    class="no-v-padding"
                    tabindex="0"
                    color="secondary">
                <span>{{'globals.resend' | translate}}</span>
            </button>
            <button type="button" mat-icon-button
                    class="cancel-button margin-l-sm"
                    color="secondary"
                    id="accountant_portal.manage_contact.cancel_new_invite"
                    tabindex="0"
                    [matTooltip]="'globals.cancel' | translate"
                    mdTooltipPosition="below"
                    (click)="onCancelConnecting(accountant)">
                <mat-icon fontSet="fas" fontIcon="fa-times" class="cancel-icon"></mat-icon>
            </button>
        </div>
    </div>
</div>


<!------------------------------------------------------------------------------------->

<div class="dialog-section row-with-border padding-t-xl" *ngIf="hasDisconnectedAccountants">
    <span class="text-strong">No access</span>
</div>

<!--Originally not connected accountants-->
<div *ngFor="let accountant of notConnectedAccountants" class="dialog-section row-with-border padding-v-sm">
    <div class="account-wrapper">
        <span>{{accountant.fullName}}</span>
        <button type="button" mat-raised-button
                class="no-v-padding"
                id="accountant_portal.manage_contact.connect_accountant"
                tabindex="0"
                color="secondary"
                (click)="onConnect(accountant)">
            <span>{{'globals.connect' | translate}}</span>
        </button>
    </div>
</div>

<!--Accountants to cancel invitation-->
<div *ngFor="let accountant of accountantsToCancelInvitation" class="dialog-section row-with-border padding-v-sm">
    <div class="account-wrapper">
        <span>{{accountant.fullName}}</span>
        <button type="button" mat-raised-button
                class="no-v-padding"
                id="accountant_portal.manage_contact.cancel_invitation_canceling"
                tabindex="0"
                color="secondary"
                (click)="onCancelInvitationCanceling(accountant)">
            <span>{{'globals.connect' | translate}}</span>
        </button>
    </div>
</div>

<!--Accountants to disconnect-->
<div *ngFor="let accountant of accountantsToDisconnect" class="dialog-section row-with-border padding-v-sm">
    <div class="account-wrapper">
        <span>{{accountant.fullName}}</span>
        <button type="button" mat-raised-button
                class="no-v-padding"
                id="accountant_portal.manage_contact.cancel_connecting"
                tabindex="0"
                color="secondary"
                (click)="onCancelDisconnecting(accountant)">
            <span>{{'globals.connect' | translate}}</span>
        </button>
    </div>
</div>

<div class="dialog-section warning-message margin-t-xl" *ngIf="!hasConnectedAccountants">
    <span [innerHTML]="'accountant_portal.clients.manage_client_warning' | translate | safeHtml"></span>
</div>


<!--Dialog actions-->
<div class="dialog-actions">
    <button mat-raised-button
            id="accountant_portal.manage_contact.save"
            tabindex="0"
            color="primary"
            class="margin-r-md"
            (click)="onSave()">{{'globals.save' | translate}}
    </button>
    <button mat-dialog-close mat-raised-button
            type="button"
            id="accountant_portal.manage_contact.cancel"
            tabindex="0"
            color="secondary">
        <span>{{'globals.cancel' | translate}}</span>
    </button>
</div>