@import "variables/variables";

@import "../../../shared/accountant-portal-variables";

.row-with-border {
    border-top: 1px solid $color-hr;
}

.account-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.warning-message {
    background-color: $warning-background-color;
    color: $warning-font-color;
}

.cancel-button {
    width: 22px;
    height: 22px;
}

.cancel-icon {
    margin-top: -2px;
    width: 22px;
    height: 22px;
    font-size: 18px;
}
