<mat-card class="card no-padding">
    <section class="card-header">
        <h1 class="card-title card-title-large">{{"billing.overview.delete_account" | translate}}</h1>
    </section>
    <section class="card-content">
        <a href="/license_manager/delete">{{"billing.overview.cancel_subscription" | translate}}</a>
    </section>
</mat-card>
