@import "variables/variables";
@import "placeholders/typography.placeholder";

:host {
    display: block;
    background-color: #f1f2f1;
    padding: 24px 20px;
}

table {
    width: 100%;
}

td {
    @extend %typography-dark-primary;
    padding-bottom: 16px;
}

td:last-child {
    text-align: right;
}

.total {
    text-align: right;
    margin: 0;
    border-top: solid 1px rgba(121, 132, 102, 0.14);
    padding-top: 16px;
    font-size: 1.5rem;
    font-weight: bold;
}

.spinner {
    margin: 0 auto;
    margin-left: -3px;
}

.price-description {
    width: 100%;
}

