<bx-spinner class="spinner" *ngIf="!previewLoaded"></bx-spinner>
<section *ngIf="previewLoaded">
    <ng-container *ngIf="!plan.isAccountantPlan">
        <table>
            <tr>
                <td class="text-strong text-nowrap">{{plan.name | translate}}</td>
                <td class="text-disabled text-right price-description padding-r-xl"
                    *ngIf="plan.isBillingPeriodAnnual">
                    (12 x {{plan.currency}} {{plan.price | number: '1.2-2'}})
                </td>
                <td class="text-strong text-nowrap">{{plan.currency}} {{plan.totalPrice | number: '1.2-2'}}</td>
            </tr>

            <tr *ngFor="let addon of addons">
                <td class="text-nowrap">{{addon.name | translate}}</td>
                <td class="text-disabled text-right price-description padding-r-xl"
                    *ngIf="plan.isBillingPeriodAnnual">
                    (12 x {{addon.currency}} {{addon.price | number: '1.2-2'}})
                </td>
                <td class="text-nowrap">{{addon.currency}} <span>{{addon.totalPrice | number: '1.2-2'}}</span></td>
            </tr>

            <tr *ngFor="let discount of discounts">
                <td class="text-nowrap">{{getDiscountKey(discount.name) | translate}}</td>
                <td *ngIf="plan.isBillingPeriodAnnual"></td>
                <td class="text-nowrap">{{discount.currency}} {{discount.totalPrice | number: '1.2-2'}}</td>
            </tr>
        </table>
        <div class="total">
            {{total.billingPeriod | billing_period_total | translate}} {{total.currency}} {{total.totalPrice | number:
            '1.2-2'}}
        </div>
        <div class="text-small text-right margin-t-sm">
            {{"billing.checkout.declare_vat" | translate}}
        </div>
    </ng-container>
    <ng-container *ngIf="plan.isAccountantPlan">
        <table>
            <tr>
                <td class="text-strong text-nowrap">{{plan.name | translate}}</td>
                <td class="text-disabled text-right price-description padding-r-xl">
                    (12 x {{plan.currency}} {{addonsPriceWithoutDiscount | number: '1.2-2'}})
                </td>
                <td class="text-strong text-nowrap">{{plan.currency}} {{addonsTotalWithoutDiscount | number: '1.2-2'}}</td>
            </tr>

            <tr *ngFor="let discount of discounts">
                <td class="text-nowrap">{{getDiscountKey(discount.name) | translate}}</td>
                <td>&nbsp;</td>
                <td class="text-nowrap">{{discount.currency}} {{discount.totalPrice | number: '1.2-2'}}</td>
            </tr>
        </table>
        <div class="total">
            {{total.billingPeriod | billing_period_total | translate}} {{total.currency}} {{total.totalPrice | number:
            '1.2-2'}}
        </div>
        <div class="text-small text-right margin-t-sm">
            {{"billing.checkout.declare_vat" | translate}}
        </div>
    </ng-container>
</section>
