<div class="dialog-title" *ngIf="title">
    {{title | translate}}
</div>
<div>
    <div class="confirm-content" [innerHTML]="content| translate:data | safeHtml"></div>
</div>
<div class="dialog-actions">
    <div class="grid grid-gap">
        <div class="cell cell-shrink">
            <button type="button" mat-raised-button
                    id="dialog_confirm_ok"
                    tabindex="0"
                    color="primary"
                    [attr.data-status]="loadingStatus"
                    (click)="closeModal(true)">
                <mat-progress-spinner diameter="22" mode="indeterminate"></mat-progress-spinner>
                <span>{{confirmButtonText | translate}}</span>
            </button>
        </div>
        <div class="cell cell-shrink">
            <button type="button" mat-raised-button
                    id="dialog_confirm_cancel"
                    tabindex="0"
                    color="secondary"
                    (click)="closeModal(false)">
                <span>{{ 'globals.cancel' | translate }}</span>
            </button>
        </div>
    </div>
</div>
