// hover mixin

// button status
$mixin-status-hover: 3%;
$mixin-status-focus: 8%;
$mixin-status-active: 3%;

@mixin mixin-status($status-color, $status-hover) {
    // sass-lint:disable variable-for-property
    color: darken($status-color, $status-hover);
}
