<div class="dialog-title">
    {{'accountant_portal.clients.add_new_client' | translate}}
</div>
<div class="dialog-content padding-b-md">
    <p class="explanation">{{'accountant_portal.clients.add_new_client_explanation' | translate}}</p>

    <div class="margin-t-md">
        <button mat-raised-button
                id="accountant_portal.add_new_client_dialog.add"
                tabindex="0"
                color="primary"
                class="margin-r-lg"
                [attr.data-status]="dialogStatus"
                [disabled]="disableAddNewButton"
                (click)="addNewClient()">
            <span>{{'accountant_portal.clients.add_new_client' | translate}}</span>
            <mat-progress-spinner diameter="22" mode="indeterminate"></mat-progress-spinner>
        </button>
        <button mat-dialog-close mat-raised-button
                type="button"
                id="accountant_portal.add_new_client_dialog.cancel"
                tabindex="0"
                color="secondary">
            <span>{{'globals.cancel' | translate}}</span>
        </button>
    </div>
</div>