@import "variables/variables";
@import "placeholders/typography.placeholder";

.plan-title {
    display: inline-flex;
    font-size: 2.4rem;
    font-weight: normal;
    margin: 0;
    margin-right: 24px;
    line-height: 3.2rem;
    color: rgba(0, 0, 0, 0.87);

}

.plan-description {
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.54);
    position: relative;
    top: 50%;
}

.flex-item {
    display: inline-flex;
    align-self: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.plan-cards-container {
    background-color: $color-intermediate;
    padding-bottom: 0;
    padding-top: 2.4rem;
}

.price-container {
    @extend %typography-dark-primary;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    flex-grow: 1;
}

.additional-info-container {
    display: block;
    text-align: right;
}

.period {
    @extend %typography-dark-secondary;
    font-size: 1.1rem;
    margin-bottom: 0;
    margin-right: 2.4rem;
}

.period-switch {
    margin-bottom: 0;
    margin-right: 2.4rem;
    font-size: 1.1rem;
}

.active-plan-description {
    line-height: 32px;
}

.plan-overview-item-description {
    line-height: 1.8rem;
}

.plan-overview-card {
    overflow: visible;

    &::after {
        content: ' ';
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        height: 4px;
        background: $color-card;
        z-index: 1;
    }
}

mat-card.card.attached-card.total-card {
    background-color: $color-table-hover;
    border-bottom: none;
}

.custom-plan-change-subscription {
    line-height: 32px;
}

.annual-total-info {
    margin-bottom: 0.3rem;
}

.discount {
    display: inline;
    padding-left: 0;
}
