<mat-card class="card attached-card padding-b-md total-card">
    <div class="grid">
        <div class="cell">
            <div class="heading">{{"billing.overview.your_total" | translate}}</div>
        </div>
        <div class="cell cell-shrink bottom margin-r-md" *ngIf="previewLoaded && preview.total.isBillingPeriodAnnual">
            <div class="annual-total-info">12 x {{preview.netTotal.currency}} {{preview.netTotal.price | number: '1.2-2'}}
            </div>
        </div>
        <div class="cell cell-shrink middle right">
            <div *ngIf="!previewLoaded">
                <bx-spinner class="context-spinner spinner-lg" mode="indeterminate"></bx-spinner>
            </div>
            <div class="heading" *ngIf="previewLoaded">
                {{preview.netTotal.currency}} {{preview.netTotal.totalPrice | number: '1.2-2'}} {{preview.total.billingPeriod
                | per_billing_period
                | translate}}
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="cell cell-shrink right" *ngIf="previewLoaded">
            <div class="text-small text-disabled">
                {{"billing.overview.declare_vat" | translate}}
            </div>
        </div>
    </div>
</mat-card>

<mat-card class="card no-padding attached-card plan-overview-card" *ngIf="!editMode && !activePlan.isMiniPlan">
    <section class="card-header">
        <h1 class="card-title card-title-large">{{"billing.overview.your_plan" | translate}}</h1>
    </section>
    <section class="card-content">
        <hr>
        <div class="grid">
            <div class="cell cell-shrink first-column">
                <span class="subheading text-strong">{{activePlan.name | translate}}</span>
            </div>
            <div class="cell cell-shrink margin-l-sm">
                <span class="text-emphasis text-disabled plan-overview-item-description" *ngIf="!activePlan.isAccountantPlan">
                    {{activePlan.billingPeriod | paid_billing_period | translate}}
                </span>
                <span class="text-emphasis text-disabled plan-overview-item-description" *ngIf="activePlan.isAccountantPlan">
                    {{activeAddons | accountant_product_options | translate}}
                </span>
            </div>
            <div class="cell cell-shrink right">
                <span class="subheading" *ngIf="!activePlan.isAccountantPlan">
                    {{activePlan.currency}} {{activePlan.price | number: '1.2-2'}} {{'billing.period.per_month' | translate}}
                </span>

                <span class="subheading" *ngIf="activePlan.isAccountantPlan">
                    {{activePlan.currency}} {{activePlan.totalPrice + addonsTotalWithoutDiscount | number: '1.2-2'}} {{'billing.period.per_year' | translate}}
                </span>
            </div>
        </div>
        <hr class="margin-t-md">
        <ng-content *ngIf="!activePlan.isAccountantPlan" select="[data-plan-options-overview]"></ng-content>
    </section>
</mat-card>

<mat-card class="card attached-card no-padding" *ngIf="editMode && !activePlan.isAccountantPlan && !activePlan.isMiniPlan">
    <section class="card-header">
        <h1 class="card-title card-title-large">{{"billing.overview.your_plan" | translate}}</h1>
    </section>
    <section class="card-content">
        <div class="grid">
            <div class="cell">
                <div class="subheading text-strong">{{"billing.subscription_type" | translate}}</div>
            </div>
            <div class="cell cell-shrink right">
                <div>{{selectedPlan.currency}} {{selectedPlan.price | number: '1.2-2'}} {{'billing.period.per_month' |
                    translate}}
                </div>
            </div>
        </div>
        <mat-radio-group [ngModel]="selectedPlan.billingPeriod" (ngModelChange)="onBillingPeriodChange($event)">
            <div class="grid radio-group margin-t-lg">
                <div class="cell cell-shrink">
                    <mat-radio-button value="month" class="radio-button">
                        {{'billing.billing_period_subscription_month' | translate}}
                    </mat-radio-button>
                </div>
                <div class="cell cell-shrink padding-l-lg">
                    <mat-radio-button value="annual" class="radio-button">
                        {{'billing.billing_period_subscription_annual' | translate}}
                        <span class="text-disabled discount">({{'billing.overview.10_discount' | translate}})</span>
                    </mat-radio-button>
                </div>
            </div>
        </mat-radio-group>
    </section>
</mat-card>

<mat-card class="card attached-card plan-cards-container" *ngIf="editMode && !activePlan.isAccountantPlan && !activePlan.isMiniPlan">
    <div>
        <mat-radio-group [ngModel]="selectedPlan.identifier" (ngModelChange)="onPlanChange($event)"
                        class="radio-group margin-b-lg">
            <section class="grid grid-flex grid-gap center">
                <app-plan-card class="cell cell-shrink"
                               *ngFor="let plan of filteredPlans"
                               [active]="plan.id === activePlan.id"
                               [checked]="plan.identifier === selectedPlan.identifier"
                               [plan]="plan"
                               [disabled]="!arePlanConditionsSatisfied(plan)"></app-plan-card>
            </section>
        </mat-radio-group>
    </div>
    <section *ngIf="isProductVersionV2" class="text-center">
        <div *ngIf="isProPlan && !isMaxNumberOfUsersSatisfied(starterPlan)">
            <p class="margin-b-sm">{{'billing.activated_users' | translate:{users: numberOfUsers | pluralize:'users'} }}</p>
            <p [innerHTML]="'billing.remove_users_starter' | translate:{users: removeNumberOfUsersForStarter | pluralize:'users'} | safeHtml"></p>
        </div>
        <div *ngIf="isProPlusPlan && !isMaxNumberOfUsersSatisfied(proPlan)">
            <p class="margin-b-sm">{{'billing.activated_users' | translate:{users: numberOfUsers | pluralize:'users'} }}</p>
            <p [innerHTML]="'billing.remove_users_pro' | translate:{users: removeNumberOfUsersForPro | pluralize:'users'} | safeHtml"></p>
        </div>
    </section>
</mat-card>

<mat-card class="card attached-card no-padding" *ngIf="activePlan.isProductVersionV1 && !editMode && !activePlan.isMiniPlan">
    <ng-content select="[data-users-overview]"></ng-content>
</mat-card>

<mat-card class="card attached-card no-padding" *ngIf="editMode && !activePlan.isMiniPlan">
    <ng-content select="[data-plan-options]"></ng-content>
</mat-card>

<mat-card class="card attached-card no-padding" *ngIf="!activePlan.isAccountantPlan && !activePlan.isMiniPlan">
    <ng-content select="[data-addons-overview]"></ng-content>
</mat-card>


<mat-card class="card padding-t-lg no-b-margin" *ngIf="!activePlan.isMiniPlan">
    <div class="grid">
        <div *ngIf="!editMode" class="cell cell-shrink">
            <button mat-raised-button
                    (click)="enterEditMode()"
                    [disabled]="activePlan.isCustomPlan"
                    type="button"
                    id="billing.overview.change_subscription"
                    tabindex="0"
                    color="primary">
                <div>{{'billing.overview.change_subscription' | translate }}</div>
            </button>
        </div>
        <div *ngIf="editMode" class="cell cell-shrink">
            <button mat-raised-button
                    (click)="openSwitchPlanModal()"
                    [disabled]="disableChangePlanSubmit"
                    type="button"
                    id="billing.overview.change_subscription_save"
                    tabindex="0"
                    color="primary">
                <div>{{'billing.overview.save_subscription' | translate }}</div>
            </button>
        </div>
        <div *ngIf="editMode" class="cell cell-shrink margin-l-md">
            <button mat-raised-button
                    (click)="exitEditMode()"
                    type="button"
                    id="billing.overview.change_subscription_cancel"
                    tabindex="0"
                    color="secondary">
                <div>{{'globals.cancel' | translate }}</div>
            </button>
        </div>
        <div class="cell cell-shrink margin-l-lg margin-b-md" *ngIf="activePlan.isCustomPlan">
            <span class="custom-plan-change-subscription"> {{'billing.overview.custom_plan_change_subscription' | translate}} </span>
            <span class="custom-plan-change-subscription" [innerHTML]="'billing.sales_team' | translate | safeHtml"></span>
        </div>
    </div>
</mat-card>
