@import "variables/variables";

.loading-overlay {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background: $color-character-secondary-dark;
    padding: 70px 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
