<div class="loading-overlay" *ngIf="(loaderService.isLoading$ | async) && !disable" [@triggerAnimation]="'in'">
    <mat-progress-spinner aria-hidden="true" diameter="24" mode="indeterminate"></mat-progress-spinner>
</div>
