<section>
    <div class="card-header">
        <div class="grid">
            <div class="cell cell-shrink">
                <h1 class="card-title card-title-large">{{"billing.overview.active_addons" | translate}}</h1>
            </div>
            <div class="cell bottom">
                <a class="card-header-link" href="/admin/apps">{{"billing.overview.manage_addons" |
                    translate}}</a>
            </div>
            <div class="cell cell-shrink right" *ngIf="filteredAddons.length">
                {{filteredAddons[0].currency}} {{addonsTotal | number: '1.2-2'}} {{"billing.period.per_month" | translate}}
            </div>
        </div>
    </div>
    <div class="card-content padding-b-sm">
        <div class="grid">
            <div class="cell cell-shrink text-center margin-r-lg"
                 *ngFor="let addon of filteredAddons">
                <img [src]="addon.logoUrl" [attr.alt]="addon.name | translate" class="addon-logo">
                <p class="text-strong no-margin">{{addon.name | translate}}</p>
                <p class="text-subtle">{{addon.currency}} {{addon.price | number: '1.2-2'}} {{'billing.period.per_month' | translate}}</p>
            </div>
        </div>
    </div>
</section>
<section *ngIf="!filteredAddons.length">
    <div class="card-content">
        <div class="grid grid-gap">
            <div class="cell cell-shrink">
                <p class="card-message text-disabled text-emphasis">
                    {{'billing.overview.active_addons_sentence' | translate}}</p>
            </div>
        </div>
    </div>
</section>
