// helper classes

.invisible {
    visibility: hidden;
}

%hidden {
    display: none !important;
}

.hidden {
    @extend %hidden;
}

%noselect {
    user-select: none;
}

.noselect {
    @extend %noselect;
}
