@import "../variables/variables";

// typography
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

// base-font-size
$typo-font-base-family: "Lato", sans-serif;
$typo-font-base-size: 1.3rem;
$typo-font-base-weight: 400;
$typo-font-base-strong-weight: 700;
$typo-font-base-line-height: 1.0;

// font-size
$typo-font-size-display-4: 11.2rem;
$typo-font-size-display-3: 5.6rem;
$typo-font-size-display-2: 4.5rem;
$typo-font-size-display-1: 3.4rem;
$typo-font-size-heading: 2.4rem;
$typo-font-size-title: 2.0rem;
$typo-font-size-subheading: 1.5rem;
$typo-font-size-body-emphasis: 1.3rem;
$typo-font-size-body-regular: 1.3rem;
$typo-font-size-caption: 1.1rem;
$typo-font-size-label-emphasis: 1.1rem;
$typo-font-size-label-valitation: 1.1rem;
$typo-font-size-form-placeholders: 1.3rem;

// typography colors

// dark color
$typo-color-dark-primary: $color-character-primary-light;
$typo-color-dark-secondary: $color-character-secondary-light;
$typo-color-dark-disabled: $color-character-disabled-light;
// light color
$typo-color-light-primary: $color-character-primary-dark;
$typo-color-light-secondary: $color-character-secondary-dark;
$typo-color-light-disabled: $color-character-disabled-dark;
$color-input-placeholder: $color-character-disabled-light;

%typography-light-primary {
    color: $typo-color-light-primary;
}

%typography-light-secondary {
    color: $typo-color-light-secondary;
}

%typography-light-disabled {
    color: $typo-color-light-disabled;
}

%typography-dark-primary {
    color: $typo-color-dark-primary;
}

%typography-dark-secondary {
    color: $typo-color-dark-secondary;
}

%typography-dark-disabled {
    color: $typo-color-dark-disabled;
}

//typography dimensions

%display-4 {
    line-height: 13.5rem;
    letter-spacing: -5rem;
    font-family: $typo-font-base-family;
    font-size: $typo-font-size-display-4;
    font-weight: 300;
}

%display-3 {
    line-height: 6.7rem;
    letter-spacing: -1rem;
    font-family: $typo-font-base-family;
    font-size: $typo-font-size-display-3;
    font-weight: 400;
}

%display-2 {
    line-height: 5.4rem;
    letter-spacing: -1rem;
    font-family: $typo-font-base-family;
    font-size: $typo-font-size-display-2;
    font-weight: 400;
}

%display-1 {
    line-height: 4.1rem;
    font-family: $typo-font-base-family;
    font-size: $typo-font-size-display-1;
    font-weight: 400;
}

%heading {
    line-height: 2.9rem;
    font-family: $typo-font-base-family;
    font-size: $typo-font-size-heading;
    font-weight: 400;
}

%title {
    line-height: 2.4rem;
    font-family: $typo-font-base-family;
    font-size: $typo-font-size-title;
    font-weight: 700;
}

%subheading {
    line-height: 1.9rem;
    font-family: $typo-font-base-family;
    font-size: $typo-font-size-subheading;
    font-weight: 400;
}

%body-emphasis {
    line-height: 1.6rem;
    letter-spacing: 0.1rem;
    font-family: $typo-font-base-family;
    font-size: $typo-font-size-body-emphasis;
    font-weight: 700;
}

%body-regular {
    line-height: 1.6rem;
    letter-spacing: 0;
    font-family: $typo-font-base-family;
    font-size: $typo-font-size-body-regular;
    font-weight: 400;
}

%caption {
    line-height: 1.3rem;
    letter-spacing: 0.1rem;
    font-family: $typo-font-base-family;
    font-size: $typo-font-size-caption;
    font-weight: 400;
    // ie11 fix
    @media all and (-ms-high-contrast: none) {
        line-height: 14px;
    }
}

%label-emphasis {
    line-height: 1.3rem;
    letter-spacing: 0.1rem;
    font-family: $typo-font-base-family;
    font-size: $typo-font-size-label-emphasis;
    font-weight: 700;
}

%form-labels {
    @extend %caption;
    display: block;
    margin-bottom: 0.8rem;
    letter-spacing: 0;
    font-weight: 700;

}

%form-labels-validation {
    line-height: 1.2rem;
    letter-spacing: 0;
    font-family: $typo-font-base-family;
    font-size: $typo-font-size-label-valitation;
    font-weight: 400;
}

%form-placeholders {
    color: $color-input-placeholder;
    font-family: $typo-font-base-family;
    font-size: $typo-font-size-form-placeholders;
}
