@import "variables/color";

@import "../../../shared/accountant-portal-variables";

.table-name {
    color: $color-character-primary-light;
}

.red-text {
    color: $red-font-color;
}

.search-input {
    display: inline-block;
    border-color: $search-border-color;
    background-color: $color-card;
    padding-left: 28px;
    color: $color-character-primary-light;
}

.search-icon {
    position: relative;
    left: 22px;
    font-size: 13px;
}

.detail-row {
    height: 0;
}

.expanded {
    background-color: $color-canvas;
    padding-top: 0;
    padding-bottom: 0;
}

.collapsed {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
}

.client-details {
    overflow: hidden;
}

.expanded-client > td {
    border-bottom: none;
    background-color: $color-canvas;
}

.spinner {
    left: calc(50% - 12px);
}

.hidden {
    display: none;
}

.details-button {
    margin-right: -8px;
}

.charts-panel {
    display: flex;
}

.amounts-container {
    display: flex;
}

::ng-deep {
    .ngx-charts {
        display: grid;
        border: 1px solid $chart-border-color;
        border-radius: 3px;
        width: 480px;
        height: 260px;
    }

    .chart-legend .legend-wrap .legend-labels {
        background: none;
    }

    .tick {
        fill: $color-character-secondary-light;
    }
}
