<mat-card class="margin-md margin-t-xl no-padding">
    <div class="bx-data-table">
        <table matSort mat-table
               [dataSource]="dataSource" multiTemplateDataRows
               [matSortActive]="'name'"
               [matSortDirection]="'asc'"
               [matSortDisableClear]="true">

            <!--Header with search-->

            <ng-container matColumnDef="tableName">
                <th mat-header-cell *matHeaderCellDef colspan="2">
                    <span class="subheading table-name"> {{'accountant_portal.clients' | translate}}</span>
                </th>
            </ng-container>

            <ng-container matColumnDef="search">
                <th mat-header-cell *matHeaderCellDef colspan="2"
                    class="text-right padding-v-sm padding-h-md">
                    <div>
                        <i class="fas fa-search search-icon"></i>
                        <input id="accountant_portal.clients.search"
                               class="search-input"
                               type="text"
                               [placeholder]="'globals.search' | translate"
                               (keyup)="filter($event.target.value)"/>
                    </div>
                </th>
            </ng-container>

            <!--Table content-->

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'accountant_portal.table_column.name' | translate}}
                </th>
                <td mat-cell *matCellDef="let client" class="text-strong">
                    {{client.name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="trial">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'accountant_portal.table_column.trial' | translate}}
                </th>
                <td mat-cell *matCellDef="let client">
                    {{client.isTrial ? (client.trialEndDate | date: dateFormat) : ''}}
                </td>
            </ng-container>

            <ng-container matColumnDef="lastLogin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'accountant_portal.table_column.clients_last_login' | translate}}
                </th>
                <td mat-cell *matCellDef="let client">
                    <ng-container *ngIf="client.lastLogin; then loggedInDate; else notLoggedIn"></ng-container>
                    <ng-template #loggedInDate>
                        {{client.lastLogin | date: dateFormat}}
                    </ng-template>
                    <ng-template #notLoggedIn>
                        <span class="red-text">{{'accountant_portal.clients.not_logged_in_yet' | translate}}</span>
                    </ng-template>

                </td>
            </ng-container>

            <ng-container matColumnDef="accountants">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'accountant_portal.table_column.accountants' | translate}}
                </th>
                <td mat-cell *matCellDef="let client">
                    {{getClientAccountantsNames(client)}}
                </td>
            </ng-container>

            <!-- Expandable details -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let client"
                    [attr.colspan]="displayedColumns.length"
                    [class]="expandedClient.id === client.id ? 'expanded' : 'collapsed'">
                    <div [@detailExpand]="client.id === expandedClient.id ? 'expanded' : 'collapsed'"
                         [style.height]="client.id === expandedClient.id ? 'unset' : '0 !important'"
                         class="client-details">
                        <hr class="no-t-margin">
                        <ng-container *ngIf="!!client.keyPerformanceIndicators; then indicators; else loadingSpinner"></ng-container>
                        <ng-template #indicators>
                            <div class="padding-b-sm">
                                <span>{{'accountant_portal.clients.documents_in_inbox' | translate}} {{client.keyPerformanceIndicators.amountInboxDocuments}}</span>
                                <span class="margin-l-xl">{{'accountant_portal.clients.number_of_users' | translate}} {{client.keyPerformanceIndicators.amountUsers}}</span>
                                <span class="margin-l-xl">{{'accountant_portal.clients.last_vat_report' | translate}} {{formatLastClosedTaxPeriod(client.keyPerformanceIndicators.lastClosedTaxPeriod)}}</span>
                            </div>
                            <hr>
                            <div class="charts-panel">
                                <div>
                                    <span>{{'accountant_portal.clients.debtors' | translate}}</span>
                                    <mat-card class="margin-t-md margin-b-lg padding-b-md">
                                        <div class="amounts-container">
                                            <div>
                                                <span class="text-small text-subtle">{{'accountant_portal.clients.open_invoices' | translate}}</span>
                                                <br>
                                                <span class="subheading">{{client.keyPerformanceIndicators.clientCurrency}} {{getLastKeyPerformanceEntry(client, 'debtorBalance')?.openAmount | number: '1.2-2'}}</span>
                                            </div>
                                            <div class="margin-l-lg">
                                                <span class="text-small text-subtle">{{'accountant_portal.clients.overdue' | translate}}</span>
                                                <br>
                                                <span class="subheading red-text">{{client.keyPerformanceIndicators.clientCurrency}} {{getLastKeyPerformanceEntry(client, 'debtorBalance')?.overdueAmount | number: '1.2-2'}}</span>
                                            </div>
                                        </div>
                                        <div class="chart-container margin-t-sm">
                                            <ngx-charts-line-chart [results]="getChartData(client, 'debtorBalance')"
                                                                   [scheme] = "chartsColors"
                                                                   [view]="[470, 250]"
                                                                   [xAxis]="true"
                                                                   [yAxis]="true"
                                                                   [legend]="true"
                                                                   [legendTitle]="null"
                                                                   [legendPosition]="'below'"></ngx-charts-line-chart>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="margin-l-lg">
                                    <span>{{'accountant_portal.clients.creditors' | translate}}</span>
                                    <mat-card class="margin-t-md margin-b-lg padding-b-md">
                                        <div class="amounts-container">
                                            <div>
                                                <span class="text-small text-subtle">{{'accountant_portal.clients.open_bills' | translate}}</span>
                                                <br>
                                                <span class="subheading">{{client.keyPerformanceIndicators.clientCurrency}} {{getLastKeyPerformanceEntry(client, 'creditorBalance')?.openAmount | number: '1.2-2'}}</span>
                                            </div>
                                            <div class="margin-l-lg">
                                                <span class="text-small text-subtle">{{'accountant_portal.clients.overdue' | translate}}</span>
                                                <br>
                                                <span class="subheading red-text">{{client.keyPerformanceIndicators.clientCurrency}} {{getLastKeyPerformanceEntry(client, 'creditorBalance')?.overdueAmount | number: '1.2-2'}}</span>
                                            </div>
                                        </div>
                                        <div class="chart-container margin-t-sm">
                                            <ngx-charts-line-chart [results]="getChartData(client, 'creditorBalance')"
                                                                   [scheme] = "chartsColors"
                                                                   [view]="[470, 250]"
                                                                   [xAxis]="true"
                                                                   [yAxis]="true"
                                                                   [legend]="true"
                                                                   [legendTitle]="null"
                                                                   [legendPosition]="'below'"></ngx-charts-line-chart>
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #loadingSpinner>
                            <div class="padding-v-lg">
                                <mat-progress-spinner aria-hidden="true" diameter="24" mode="indeterminate" class="spinner"></mat-progress-spinner>
                            </div>
                        </ng-template>
                    </div>
                </td>
            </ng-container>

            <!-- Actions -->
            <ng-container matColumnDef="actionsMyClients">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let client;" class="text-right">
                    <button *ngIf="isOwner" type="button" mat-raised-button
                            id="clients_page.my_clients.manage_client"
                            tabindex="0"
                            color="secondary"
                            (click)="onManageClient(client)">
                        <span>{{'accountant_portal.clients.manage' | translate}}</span>
                    </button>
                    <button *ngIf="!isOwner" type="button" mat-raised-button
                            id="clients_page.my_clients.disconnect"
                            tabindex="0"
                            color="secondary"
                            (click)="onDisconnect(client)"
                            [disabled]="!client.hasOtherConnectedAccountants(accountantUser)">
                        <span>{{'accountant_portal.clients.disconnect' | translate}}</span>
                    </button>
                    <button type="button" mat-raised-button
                            class="margin-l-md"
                            id="client_page.my_clients.login"
                            tabindex="0"
                            color="primary"
                            (click)="onLogin(client.id)">
                        <span>{{'globals.login' | translate}}</span>
                    </button>
                    <button type="button" mat-icon-button
                            class="margin-l-sm details-button"
                            id="client_page.my_clients.details"
                            tabindex="0"
                            color="secondary"
                            (click)="onOpenClientDetails(client)">
                        <mat-icon fontSet="fas" fontIcon="fa-chevron-up"
                                  [@detailsTrigger]="client.id === expandedClient.id ? 'expanded' : 'collapsed'"></mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="actionsAllClients">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let client" class="text-right">
                    <button type="button" mat-raised-button
                            id="clients_page.all_clients.edit_connections"
                            tabindex="0"
                            color="secondary"
                            (click)="onManageClient(client)">
                        <span>{{'accountant_portal.clients.edit_connections' | translate}}</span>
                    </button>
                </td>
            </ng-container>


            <!-- Row definitions -->
            <tr mat-header-row *matHeaderRowDef="['tableName', 'search']"></tr>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <tr mat-row *matRowDef="let client; columns: displayedColumns;"
                [class]="client.id === expandedClient.id && type === 'myClients' ? 'expanded-client' : ''"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" [class]="type === 'myClients' ? 'detail-row' : 'hidden'"></tr>
        </table>
    </div>
</mat-card>
