<mat-card class="margin-md margin-t-xl pending-accountant">
    <div class="flex-container margin-md">
        <img src="{{assetUrl}}/images/mail-icon.png"/>
    </div>
    <div class="flex-container margin-md info">
        {{'accountant_portal.pending_accountant.info' | translate:{ companyName: accountantUser.company.name} }}
    </div>
</mat-card>
