@import "../../../shared/accountant-portal-variables";

.pending-accountant {
    box-shadow: none;
    background-color: $no-client-background-color;

    .flex-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info {
        text-align: center;
    }
}

