<section *ngIf="filteredAddons.length">
    <div class="card-header">
        <h1 class="card-title">{{'billing.checkout.choose_addons' | translate}}</h1>
        <p>
            {{'billing.checkout.choose_addons_description' | translate}}
            <a href="/admin/apps">{{'billing.checkout.visit_addons_manager' | translate}}</a>
            {{'billing.checkout.choose_addons_description_additional' | translate}}
        </p>
    </div>

    <mat-list class="card-content-list">
        <mat-list-item *ngFor="let addon of filteredAddons">
            <img mat-list-avatar [src]="addon.logoUrl" [attr.alt]="addon.name | translate">
            <h3 mat-line>{{addon.name | translate}}</h3>
            <p mat-line class="caption text-subtle">
                <span>{{addon.currency}} {{addon.price | number: '1.2-2'}} {{'billing.period.per_month' | translate}}</span>
            </p>
        </mat-list-item>
    </mat-list>
</section>
