// select
@import "md-select.placeholder";
@import "menu.md-select";
@import "validation.md-select";

$select-margin: 0;
$select-padding: 0;
$select-arrow-font-size: 1.3rem;
$select-custom-trigger-font-size: 1.1rem;
$select-custom-trigger-color: rgba(0, 0, 0, 0.54);
$select-custom-trigger-background-color: rgba(0, 0, 0, 0.05);

// base
.bx-mat-select {
    display: inline-block;
    margin: $select-margin;
    padding: $select-padding;
    min-height: $select-min-height;

    &:not(.mat-select--link) {
        @extend %input-base;

        &:not([disabled]) .mat-select-trigger,
        &:not([disabled="disabled"]) .mat-select-trigger,
        .mat-select-trigger {
            .mat-select-arrow,
            .mat-select-value {
                border: none;
            }
        }
    }

    &:focus {
        outline: 0;

        .mat-select-trigger .mat-select-value {
            outline: 0;
        }
    }

    .mat-select-trigger {
        display: flex;
        align-items: center;
        border: none;
        min-width: 0;
        height: 3.2rem;

        .mat-select-arrow {
            border: none;
            padding-left: 3.8rem;
            margin-right: 2.0rem;
            width: 1.0rem;
            height: 2.0rem;
            color: $select-caret-color;

            &::after {
                display: inline;
                text-rendering: auto;
                font: normal bold normal 1.4rem/1 "Font Awesome 5 Pro";
                font-size: $select-arrow-font-size;
                content: "\f0d7";

                -webkit-font-smoothing: antialiased;
            }
        }

        .mat-select-value {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            max-width: none;
            overflow: hidden;
            font-size: $select-font-size;
        }

        .mat-select-value-text,
        .mat-select-placeholder {
            line-height: 3rem;
        }

        .mat-select-underline {
            display: none;
        }

        .mat-select-placeholder {
            font-style: italic;
        }
    }

    &:focus:not(.mat-select-disabled) {
        .mat-select-trigger {
            border: none;

            .mat-select-arrow {
                color: $select-caret-color;
            }
        }
    }

    &[placeholder],
    &[placeholder].mat-select-placeholder {
        // sass-lint:disable no-important
        color: $select-character-color !important;
        font-size: $select-font-size;
        font-weight: $select-font-weight;
    }

    &:not([disabled]):focus .mat-select-value,
    &:not([disabled="disabled"]):focus .mat-select-value {
        border: 0.1rem solid transparent;
    }

    &[disabled],
    &[disabled="disabled"],
    &[readonly] {
        @extend %disabled-select;
    }
}

.mat-select-panel {
    @extend %select-panel;
}

// validation
mat-select:not(.mat-select--link) {
    @extend %validate-select;
}

.mat-select-more-count {
    padding-left: 6px;
    color: $color-button-text-disabled;
    font-size: $select-custom-trigger-font-size;
}

.mat-select-custom-trigger {
    border-radius: 2px;
    background-color: $select-custom-trigger-background-color;
    padding: 4px 6px;
    color: $select-custom-trigger-color;
    font-size: $select-custom-trigger-font-size;
}

// TODO this should be refactored/removed after results we have done BX-7447
.bx-select-arrow .mat-select-trigger .mat-select-arrow {
    position: absolute;
    top: 6px;
    right: -12px;
}

.mat-selected > .mat-pseudo-checkbox-checked {
    background-color: $color-secondary-blue-light;
    &::after {
        height: 4px;
    }
}

.mat-option > .mat-pseudo-checkbox {
    height: 16px;
    width: 16px;
    margin-right: 16px;
}
