$service-card-height: 240px;
$service-card-padding: 24px;

$service-card-header-logo-width: 110px;
$service-card-header-logo-height: 50px;
$service-card-header-background: linear-gradient(to left, rgba(221, 238, 249, 0.2), rgba(185, 216, 240, 0.3));
$service-card-header-sepeartor: 1px solid rgba(122, 133, 102, 0.14);
