<mat-card class="service-card">
    <header class="service-card-header">
        <div class="service-logo-container">
            <img class="service-logo" [src]="serviceLogoPath" alt="Logo of {{serviceName}}"/>
        </div>
        <mat-card-subtitle>{{serviceAbstractI18nKey | translate}}</mat-card-subtitle>
    </header>

    <mat-card-content>
        <p>{{serviceDescriptionI18nKey | translate}}</p>
    </mat-card-content>

    <mat-card-actions>
        <a [href]="marketplaceUrl" target="_blank">{{'accountant_portal.services.about' | translate}}</a>
        <button mat-raised-button color="primary" (click)="onOpenService()">{{'accountant_portal.services.open' | translate}}</button>
    </mat-card-actions>
</mat-card>
