@import "variables/base";
@import "./service-card.variables";

.service-card {
    margin: 0;
    padding: $service-card-padding;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .service-card-header {
        display: flex;
        align-items: center;
        margin: (-$service-card-padding) (-$service-card-padding) (2 / 3 * $service-card-padding);
        border-bottom: $service-card-header-sepeartor;
        border-top-left-radius: $base-radius-card;
        border-top-right-radius: $base-radius-card;
        padding: $service-card-padding;
        background-image: $service-card-header-background;

        .service-logo-container {
            height: $service-card-header-logo-height;
            display: flex;
            align-items: center;
        }

        .service-logo {
            order: -1;
            width: $service-card-header-logo-width;
            font-size: $service-card-header-logo-height;
            color: $color-character-disabled-light;
        }

        img.service-logo {
            font-size: unset;
            color: unset;
            max-width: 110px;
        }

        mat-card-subtitle {
            margin: 0 0 0 $service-card-padding;
            font-size: 1.3rem;
            line-height: 1.8rem;
            color: $color-character-primary-light;
        }
    }

    mat-card-content {
        font-size: 1.3rem;
        line-height: 1.8rem;
        flex-grow: 1;
    }

    mat-card-actions {
        justify-content: space-between;
        align-items: center;

        button {
            margin-right: 0;
        }
    }
}
