<a class="active" (click)="onSort()" (keydown.enter)="onSort()" [attr.data-sort]="columnStatus.status" tabindex="0">
    <span class="list-sort-title">{{title}}</span>
    <i class="fa fa-caret-down" aria-hidden="true"></i>
    <i class="fa fa-caret-up" aria-hidden="true"></i>
    <mat-progress-spinner aria-hidden="true" diameter="16" mode="indeterminate"></mat-progress-spinner>
</a>
