<app-credit-card [rsaSignature$]="rsaSignature$" [width]="550" [creditCardFormSubmit$]="creditCardFormSubmit$"
                 (fetchSignature)="onFetchSignature()" (creditCardClear)="onCreditCardClear()"
                 (creditCardChange)="onCreditCardChange($event)" (creditCardError)="onCreditCardError($event)"
                 (creditCardLoadError)="onCreditCardLoadError($event)" (creditCardFormLoaded)="onCreditCardFormLoaded()"></app-credit-card>

<div class="dialog-actions">
    <div class="grid grid-gap">
        <div class="cell cell-shrink">
            <button mat-raised-button
                    tabindex="-1"
                    color="primary"
                    [attr.data-status]="creditCardFormSubmitStatus"
                    [disabled]="!creditCardFormLoaded || creditCardFormSubmitted"
                    (click)="submitCreditCard()">
                <span>{{'billing.overview.update_credit_card' | translate}}</span>
                <mat-progress-spinner diameter="22" mode="indeterminate"></mat-progress-spinner>
            </button>
        </div>
        <div class="cell cell-shrink">
            <button mat-dialog-close mat-raised-button tabindex="-1" color="secondary">
                <span>{{ 'globals.cancel' | translate }}</span>
            </button>
        </div>
    </div>
</div>
