<main class="container">
    <section class="error-wrapper">
        <span class="error-code">403</span>

        <div class="margin-t-lg margin-b-lg">
            <img class="error-image " src="{{assetUrl}}/images/logo_bexio.png">
        </div>

        <footer>
            <p class="error-message">{{"accountant_portal.access_forbidden.message" | translate}}</p>
            <a class="error-link" href="/logout">{{"accountant_portal.access_forbidden.link" | translate}}</a>
        </footer>
    </section>
</main>
