@import "placeholders/typography.placeholder";

@import "../../../../shared/accountant-portal-variables";

.container {
    margin: 0 auto;
    max-width: 1168px;

    .error-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: center;
        height: 80vh;
        min-height: 100%;
        text-align: center;

        .error-code {
            color: $error-code-color;
            font-size: 19.4rem;
            font-weight: 400;
        }

        .error-image {
            width: 108px;
        }

        .error-message {
            @extend %subheading;
            color: $error-message-color;
        }

        .error-link {
            @extend %subheading;
        }
    }
}
