.mat-chip-list > .mat-chip-list-wrapper {
  margin-top: 4px;
}

.mat-basic-chip {
  background-color: #869297;
  color: $color-typ-special;
  border-radius: 2px;
  font-size: 11px;
  font-weight: normal;
  padding: 4px 4px 4px 8px;
  margin: 4px;

  &:focus {
    outline: none;
  }

  mat-icon.mat-chip-remove {
    font-weight: normal;
    font-size: 13px !important;
    height: 13px;
    width: 13px;
    margin-left: 8px;
    position: relative;
    top: 1px;

    &:hover {
      cursor: pointer;
    }
  }
}