<mat-card class="card no-margin plan-container text-center padding-t-xl padding-b-xl" [class.disabled-card]="disabled">
    <div class="margin-t-sm">
        <mat-icon class="checked-icon" *ngIf="active" fontSet="fa" fontIcon="fa-check"></mat-icon>
        <h1 class="name">{{plan.name | translate}}</h1>
        <p class="text-spaced" [innerHTML]="plan.description | translate | safeHtml"></p>
    </div>

    <section *ngIf="plan.isProductVersionV1">
        <hr>
        <span class="text-subtle">{{"billing.checkout.additional_user" | translate}}</span>
        <br>
        <span *ngIf="user" class="text-subtle">{{user.currency}} {{user.price | number: '1.2-2'}} {{"billing.period.per_month" | translate}}</span>
        <hr class="margin-t-md">
        <div>
            <mat-radio-button class="radio-button" [value]="plan.identifier" [checked]="checked">
                <strong>{{plan.currency}} {{plan.price | number: '1.2-2'}}</strong> {{"billing.period.per_month" | translate}}
            </mat-radio-button>
        </div>
        <div *ngIf="plan.isBillingPeriodAnnual" class="text-subtle text-emphasis margin-t-md">
            {{"billing.billed_annually" | translate}}
        </div>

        <hr class="margin-t-md">
        <div class="text-center">
            <app-learn-more></app-learn-more>
        </div>
    </section>

    <section *ngIf="plan.isProductVersionV2" class="margin-t-sm">
        <div class="text-emphasis margin-t-sm">
            <p class="margin-t-sm no-b-margin">
                <span>{{plan.maxNumberOfUsers | pluralize:'users'}}</span>
            </p>
            <p class="margin-t-sm" [ngSwitch]="true" *ngIf="!plan.isMiniPlan">
                <span *ngSwitchCase="plan.hasPayroll">{{'billing.checkout.banking_payroll_included' | translate}}</span>
                <span *ngSwitchCase="!plan.hasPayroll">{{'billing.checkout.banking_included' | translate}}</span>
                <span *ngSwitchCase="!plan.hasBanking && plan.hasPayroll">{{'billing.checkout.payroll_included' | translate}}</span>
                <span *ngSwitchDefault>&nbsp;</span>
            </p>
        </div>
        <div class="margin-t-xl">
            <mat-radio-button class="radio-button" [value]="plan.identifier" [checked]="checked" [disabled]="disabled">
                <strong>{{plan.currency}} {{plan.price | number: '1.2-2'}}</strong> {{"billing.period.per_month" | translate}}
            </mat-radio-button>
        </div>
        <ng-container *ngIf="!plan.isMiniPlan">
            <div *ngIf="plan.isBillingPeriodAnnual" class="text-subtle text-emphasis margin-t-md">
                {{"billing.billed_annually" | translate}}
            </div>
            <div *ngIf="plan.isBillingPeriodMonth" class="text-subtle text-emphasis margin-t-md">
                {{"billing.billed_monthly" | translate}}
            </div>
        </ng-container>
        <div class="text-center caption margin-t-md margin-b-sm learn-more">
            <app-learn-more></app-learn-more>
        </div>
    </section>

</mat-card>
