@import "variables/variables";
@import "placeholders/typography.placeholder";

.name {
    @extend %typography-dark-primary;
    margin-top: 8px;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

.mat-radio-button {
    @extend %typography-dark-primary;
    font-size: 1.5rem;
    text-align: center;

    .mat-radio-container {
        top: 2px !important;
    }
}

.plan-container {
    width: 100%;
    max-width: 216px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.radio-group label {
    @extend %typography-dark-primary;
}

.checked-icon {
    font-size: 2.4rem;
    height: 2.4rem;
    color: $color-secondary-blue-light;
}

.radio-button {
    font-size: 1.5rem;
}

.learn-more {
    font-size: 1.1rem !important;
}
