<main class="container">
    <header class="header-container">
        <h1 class="heading">{{'accountant_portal.clients' | translate}}</h1>

        <button *ngIf="!accessPermissions.isPendingAccountant"
                type="button" mat-raised-button
                id="add_client"
                tabindex="0"
                color="special"
                (click)="onAddNewClient()">
            <span>{{'accountant_portal.clients.add_new_client' | translate}}</span>
        </button>
    </header>
    <mat-card class="no-padding clients-card">
        <ng-container *ngIf="accessPermissions.isOwner; then ownerView; else accountantView"></ng-container>
        <ng-template #ownerView>
            <mat-tab-group class="bx-tab bx-tab-active-text-blue">
                <mat-tab [label]="'accountant_portal.clients.my_clients' | translate">
                    <ng-template matTabContent>
                        <app-no-clients *ngIf="myClients.length < 1 && pendingClientInvites.length < 1"
                                        (addNewClient)="onAddNewClient()"></app-no-clients>

                        <app-clients-list *ngIf="myClients.length > 0"
                                          [tableType]="'myClients'"
                                          [clientsList]="myClients"
                                          [accountantUser]="accountantPortalStateService.accountantUser$ | async"
                                          [dateFormat]="dateFormat"
                                          [isOwner]="accessPermissions.isOwner"
                                          (login)="onLogin($event)"
                                          (manageClient)="onManageClient($event)"
                                          (loadKeyPerformanceIndicators)="onLoadKeyPerformanceIndicators($event)"></app-clients-list>

                        <app-pending-client-invites-list *ngIf="pendingClientInvites.length > 0"
                                                         [pendingClientInvitesList]="pendingClientInvites"
                                                         [dateFormat]="dateFormat"
                                                         (acceptPendingClientInvite)="onAcceptPendingClientInvite($event)"
                                                         (rejectPendingClientInvite)="onRejectPendingClientInvite($event)"></app-pending-client-invites-list>
                    </ng-template>
                </mat-tab>
                <mat-tab [label]="'accountant_portal.clients.all_clients' | translate">
                    <ng-template matTabContent>
                        <app-no-clients *ngIf="(accountantPortalStateService.clients$ | async)?.length < 1"
                                        (addNewClient)="onAddNewClient()"></app-no-clients>

                        <app-clients-list *ngIf="(accountantPortalStateService.clients$ | async)?.length > 0"
                                          [tableType]="'allClients'"
                                          [accountants]="accountantPortalStateService.accountants$ | async"
                                          [clientsList]="accountantPortalStateService.clients$ | async"
                                          [accountantUser]="accountantPortalStateService.accountantUser$ | async"
                                          [dateFormat]="dateFormat"
                                          (manageClient)="onManageClient($event)"></app-clients-list>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </ng-template>
        <ng-template #accountantView>
            <div class="accountant-view-container">
                <ng-container
                    *ngIf="accessPermissions.isPendingAccountant; then pendingView; else acceptedView"></ng-container>

                <ng-template #pendingView>
                    <app-pending-accountant
                        [accountantUser]="accountantPortalStateService.accountantUser$ | async"></app-pending-accountant>
                </ng-template>

                <ng-template #acceptedView>
                    <app-no-clients *ngIf="(accountantPortalStateService.clients$ | async)?.length < 1 && pendingClientInvites.length < 1"
                                    (addNewClient)="onAddNewClient()"></app-no-clients>

                    <app-clients-list *ngIf="(accountantPortalStateService.clients$ | async)?.length > 0"
                                      [tableType]="'myClients'"
                                      [clientsList]="accountantPortalStateService.clients$ | async"
                                      [accountantUser]="accountantPortalStateService.accountantUser$ | async"
                                      [dateFormat]="dateFormat"
                                      [isOwner]="accessPermissions.isOwner"
                                      (login)="onLogin($event)"
                                      (disconnectClient)="onDisconnectClient($event)"
                                      (loadKeyPerformanceIndicators)="onLoadKeyPerformanceIndicators($event)"></app-clients-list>

                    <app-pending-client-invites-list *ngIf="pendingClientInvites.length > 0"
                                                     [pendingClientInvitesList]="pendingClientInvites"
                                                     [dateFormat]="dateFormat"
                                                     (acceptPendingClientInvite)="onAcceptPendingClientInvite($event)"
                                                     (rejectPendingClientInvite)="onRejectPendingClientInvite($event)"></app-pending-client-invites-list>
                </ng-template>
            </div>
        </ng-template>
    </mat-card>
</main>
