@import "variables/color";

.container {
    margin: 0 auto;
    max-width: 1168px;
}

.clients-card {
    background-color: $color-card-container;
}

.accountant-view-container {
    overflow: auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
}