@import "variables/variables";
@import "placeholders/placeholders";

@import "placeholder.toast";
@import "../assets/styles/bx-dialog";

$app-container-text-color: $color-character-primary-light;
$app-container-font-family: $typo-font-base-family;
$app-container-font-size: $typo-font-base-size;
$app-container-font-weight: $typo-font-base-weight;
$app-container-line-height: $typo-font-base-line-height;

$app-container-margin: 0 auto;
$app-container-entries-header-padding: 1.6rem 2.4rem 1.6rem 1.6rem;

.angular-app-container {
    display: block;
    margin: $app-container-margin;
    padding: $base-container-padding;
    width: 100%;
    min-width: $base-container-min-width;
    max-width: $base-container-max-width;
    overflow: visible;
    line-height: $app-container-line-height;
    color: $app-container-text-color;
    font-family: $app-container-font-family;
    font-size: $app-container-font-size;
    font-weight: $app-container-font-weight;
    box-sizing: border-box;

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    .entries-header {
        padding: $app-container-entries-header-padding;

        h3 {
            @extend %subheading;
        }
    }

}

// sass-lint:disable no-ids
#toast-container {
    @extend %toast;
}

