<div class="dialog-title">
    <span class="title">
        {{'billing.overview.add' | translate}}
        {{addon.name | translate}}
    </span>
</div>

<div class="dialog-content">
    <img class="addon-logo margin-b-md" [src]="addon.logoUrl" [attr.alt]="addon.name | translate">
    <p class="text-subtle no-margin">{{"billing.overview.this_addon_costs" | translate}}</p>
    <p class="">{{addon.currency}} {{addon.totalPrice | number: '1.2-2'}} {{addon.billingPeriod | per_billing_period |
        translate}}</p>


    <p *ngIf="addon.isBillingPeriodAnnual" class="text-subtle no-margin">{{"billing.overview.addon_billing_info.yearly"
        | translate}}</p>
    <p *ngIf="addon.isBillingPeriodMonth" class="text-subtle no-margin">{{"billing.overview.addon_billing_info.monthly"
        | translate}}</p>
</div>

<div class="dialog-actions">
    <div class="grid grid-gap">
        <div class="cell cell-shrink">
            <button mat-raised-button
                    tabindex="-1"
                    color="primary"
                    (click)="closeModal()">
                <span>
                    {{'billing.overview.add' | translate}}
                    {{addon.name | translate}}
                </span>
            </button>
        </div>
        <div class="cell cell-shrink">
            <button mat-dialog-close mat-raised-button tabindex="-1" color="secondary">
                <span>{{ 'globals.cancel' | translate }}</span>
            </button>
        </div>
    </div>
</div>
