<section class="grid margin-b-lg middle">

    <div *ngIf="showPreviousStepBtn" class="cell left cell-shrink">
        <button mat-raised-button
                type="button"
                id="billing.checkout.previous_step"
                tabindex="0"
                color="secondary"
                (click)="changeStep(-1)">
            <span>{{ 'billing.navigation.previous_step' | translate }}</span>
        </button>
    </div>

    <div class="cell right" *ngIf="showNextStepBtn">
        <button mat-raised-button
                type="button"
                id="billing.checkout.next_step"
                tabindex="0"
                color="primary"
                (click)="changeStep(1)"
                [disabled]="disableOrderNow">
            <span>{{ 'billing.navigation.next_step' | translate }}</span>
        </button>
    </div>

    <div *ngIf="showOrderNowBtn" class="cell right">
        <div class="text-right">
            <label>
                <mat-checkbox [checked]="areTermsAccepted"
                              (change)="areTermsAccepted = !areTermsAccepted"
                              class="margin-r-sm terms-checkbox">
                </mat-checkbox>
                <p class="terms-label caption text-subtle margin-r-md text-left"
                   [innerHTML]="'billing.checkout.terms_and_conditions' | translate | safeHtml"></p>
            </label>
        </div>
    </div>
    <div class="cell right cell-shrink" *ngIf="showOrderNowBtn">
        <div [matTooltip]="areTermsAccepted ? '' : 'billing.checkout.accept_terms_and_conditions' | translate"
             matTooltipPosition="above">
            <button mat-raised-button
                    type="button"
                    id="billing.checkout.order_now"
                    tabindex="0"
                    color="special"
                    (click)="onOrderNow()"
                    [attr.data-status]="submitStatus"
                    [disabled]="disableOrderNow || !areTermsAccepted">
                <span>{{ 'billing.navigation.order_now' | translate }}</span>
                <mat-progress-spinner diameter="22" mode="indeterminate"></mat-progress-spinner>
            </button>
        </div>
    </div>

</section>
