<div class="grid" *ngIf="payrollAddon">
    <div class="cell cell-shrink first-column">
        <span class="subheading text-strong">{{"billing.addon_payroll.name" | translate}}</span>
    </div>
    <div class="cell bottom">
        <span class="text-disabled margin-l-sm" *ngIf="payrollChecked">
            <i>{{"billing.overview.up_to_employees" | translate:{employees: maxNumberOfPayrollEmployees | pluralize:'employees'} }}</i>
        </span>
    </div>
    <div class="cell cell-shrink right">
        <span *ngIf="showTrialDaysLeft(activePayrollAddon)" [innerHTML]="'billing.trial_days_remaining' | translate:{days: activePayrollAddon.trialDaysLeft | pluralize:'days'} | safeHtml"></span>
    </div>
    <div class="cell cell-shrink right padding-l-xl margin-l-xl">
        <span *ngIf="!planHasPayroll && payrollChecked && activePlan.isProductVersionV1" class="option-description">{{payrollAddon.currency}} {{payrollAddon.getScalePrice(numberOfPayrollEmployees).price | number: '1.2-2'}} {{'billing.period.per_month' | translate}}</span>
        <span *ngIf="!planHasPayroll && payrollChecked && activePlan.isProductVersionV2" class="option-description">{{payrollAddon.currency}} {{payrollAddon.getScalePrice(activePlan.maxNumberOfPayrollEmployees).price | number: '1.2-2'}} {{'billing.period.per_month' | translate}}</span>
        <span *ngIf="planHasPayroll && payrollChecked" class="option-description text-emphasis text-disabled">{{'billing.included_in_plan' | translate}}</span>
        <span *ngIf="!payrollChecked" class="option-description text-emphasis text-disabled">{{'billing.overview.not_activated' | translate}}</span>
    </div>
</div>
