<mat-card class="card no-padding">
    <section class="card-header">
        <h1 class="card-title card-title-large">
            {{'billing.overview.payment_method' | translate}}
        </h1>
    </section>
    <section class="card-content">

        <div class="payment-method-select">
            <mat-radio-group [ngModel]="paymentMethod.type" (ngModelChange)="onPaymentTypeChange($event)">
                <mat-radio-button id="billing.overview.payment_credit_card" value="card">{{'billing.overview.payment_credit_card' | translate}}
                </mat-radio-button>
                <mat-radio-button id="billing.overview.payment_esr" value="invoice">{{(plan.isLocalCurrency ? 'billing.overview.payment_esr' : 'billing.payment_method.bank_transfer') | translate}}
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <div *ngIf="paymentMethod.isCard">
            <div *ngIf="creditCard.hasDetails" class="credit-card-content">
                <div class="card-info-row">
                    <span>{{creditCard.name}}</span>
                    <span
                        class="credit-card-expiration">{{creditCard.expirationMonth}}/{{creditCard.expirationYear}}</span>
                </div>
                <div class="card-info-row">
                    <span class="card-number">{{creditCard.forrmatedCardNumber}}</span>
                    <img [src]="creditCardLogo" class="credit-card-logo">
                </div>
            </div>
            <div class="link-wrap">
                <a (click)="openCreditCardDialog()">{{'billing.overview.update_credit_card' | translate}}</a>
            </div>
        </div>
        <div *ngIf="paymentMethod.isInvoice">
            <div class="esr-message">
                <img class="payment-method-img" src="{{assetUrl}}/images/bx_illustrations_orange_payment_slip.svg"
                     [attr.alt]="'billing.checkout.payment_esr' | translate">
                {{'billing.overview.invoice_sending_info' | translate}}
            </div>
        </div>
    </section>
</mat-card>
