@import "variables/variables";
@import "placeholders/typography.placeholder";

.payment-method-img {
    height: 22px;
    margin-right: 1.6rem;
    float: left;
}

mat-radio-button {
    margin-right: 4rem;
}

.payment-method-select {
    margin-bottom: 3.2rem;
}

.esr-message {
    @extend %typography-dark-secondary;
    font-size: 1.3rem;
    line-height: 2.2rem;
    font-style: italic;
    margin: 0;
}

.credit-card-content {
    @extend %typography-dark-primary;
    font-family: "Share Tech Mono", monospace;
    width: 60%;
}

.link-wrap {
    margin-top: 16px;
}

.credit-card-logo {
    height: 16px;
    float: right;
}

.credit-card-expiration {
    float: right;
}

.card-number {
    line-height: 24px;
}

.card-info-row {
    margin-bottom: 8px;
}
