@import "variables/variables";
@import "../../../shared/accountant-portal-variables";

@mixin flex-center-contents($justify: center) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: $justify;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.postcode-city-wrapper {
    display: flex;

    .tripple-width {
        flex-grow: 3;
    }
}

.checkbox-container {
    display: flex;

    &.align-center {
        align-items: center;
    }

    &.align-baseline {
        align-items: baseline;
    }
}

.accountant-directory-terms {
    width: 309px;
}

.bx-upload-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;

    .flex-item {
        margin-right: 25px;
    }

    .bx-upload-actions {
        .mat-raised-button {
            margin-right: 20px;
        }
    }

    .bx-upload-container {
        border: 2px dotted $dotted-border-color;
        border-radius: 8px;
        width: 170px;
        height: 130px;

        color: $color-character-disabled-light;

        .bx-upload {
            @include flex-center-contents(center);

            .icon {
                margin: 23% 40%;
                font-size: 4rem;
            }

            img {
                display: block;
                max-width: 150px;
                max-height: 105px;
            }
        }

        .bx-upload-filename {
            padding: 4px;
            text-align: center;
        }
    }

    .bx-file-drop-zone {
        padding: 1rem;
        width: 160px;
        height: 100%;

        &.is-file-over {
            border: 3px dotted $color-secondary-blue-light;
            background-color: $color-character-disabled-light;
            cursor: copy;
        }
    }

    .bx-upload-input {
        position: absolute;
        opacity: 0;
        z-index: -1;
        width: 0.1px;
        height: 0.1px;
        overflow: hidden;
    }

    .bx-upload-info {
        margin: 15px 5px;
    }
}

.form-group {
    display: flex;
}

.info-wrapper {
    flex: 0 0 234px;
    width: 234px;
}

.input-wrapper {
    flex-grow: 1;
}

