<div
    class="form-container"
    [formGroup]="companyForm"
>
    <div class="form-group">
        <div
            *ngIf="moreInfo"
            class="info-wrapper margin-r-lg text-subtle"
        >
            {{'accountant_portal.company_address_form.info' | translate}}
        </div>
        <div class="input-wrapper">
            <label
                data-required="true"
                [attr.data-invalid]="isAriaInvalid('name')"
            >
                <div class="label-container">
                    <span class="label-text">
                        {{'accountant_portal.company_address_form.name' | translate}}
                    </span>
                </div>
                <input
                    appTrimOnBlur
                    [attr.aria-invalid]="isAriaInvalid('name')"
                    formControlName="name"
                    tabindex="0"
                    type="text"
                    id="accountant_portal.company_address_form.name"
                >
                <span class="label-message">
                    <span [attr.aria-live]="ariaLive('name', 'required')">
                        {{'accountant_portal.company_address_form.name_required' | translate}}
                    </span>
                </span>
            </label>
            <label>
                <div class="label-container">
                    <span class="label-text margin-t-sm">
                        {{'accountant_portal.company_address_form.legal' | translate}}
                    </span>
                </div>
                <mat-select
                    formControlName="legal"
                    class="bx-mat-select bx-select-arrow"
                    id="accountant_portal.company_address_form.legal"
                >
                    <mat-option
                        *ngFor="let legalEntity of legalEntities"
                        [value]="legalEntity"
                    >
                        {{'accountant_portal.company_address_form.legal_' + legalEntity | translate}}
                    </mat-option>
                </mat-select>
            </label>

            <label>
                <div class="label-container">
                    <span class="label-text margin-t-sm">
                        {{'accountant_portal.company_address_form.address' | translate}}
                    </span>
                </div>
                <textarea
                    formControlName="address"
                    tabindex="0"
                    id="accountant_portal.company_address_form.address"
                ></textarea>
            </label>

            <section class="postcode-city-wrapper margin-t-sm">
                <div class="margin-r-lg">
                    <label>
                        <div class="label-container">
                            <span class="label-text">
                                {{'accountant_portal.company_address_form.postcode' | translate}}
                            </span>
                        </div>
                        <input
                            formControlName="postcode"
                            tabindex="0"
                            type="text"
                            id="accountant_portal.company_address_form.postcode"
                        >
                    </label>
                </div>

                <div class="tripple-width">
                    <label>
                        <div class="label-container">
                            <span class="label-text">
                                {{'accountant_portal.company_address_form.city' | translate}}
                            </span>
                        </div>
                        <input
                            formControlName="city"
                            tabindex="0"
                            type="text"
                            id="accountant_portal.company_address_form.city"
                        >
                    </label>
                </div>
            </section>

            <label>
                <div class="label-container">
                    <span class="label-text margin-t-sm">
                        {{'accountant_portal.company_address_form.country' | translate}}
                    </span>
                </div>
                <mat-select
                    formControlName="country"
                    class="bx-mat-select bx-select-arrow form-input"
                    id="accountant_portal.company_address_form.country"
                >
                    <mat-option
                        *ngFor="let country of countries"
                        [value]="country"
                    >
                        {{'accountant_portal.company_address_form.country_' + country | translate}}
                    </mat-option>
                </mat-select>
            </label>

            <label
                data-required="true"
                [attr.data-invalid]="isAriaInvalid('email')"
            >
                <div class="label-container">
                    <span class="label-text margin-t-sm">
                        {{'accountant_portal.company_address_form.email' | translate}}
                    </span>
                </div>
                <input
                    [attr.aria-invalid]="isAriaInvalid('email')"
                    formControlName="email"
                    tabindex="0"
                    type="text"
                    id="accountant_portal.company_address_form.email"
                >
                <span class="label-message">
                    <span [attr.aria-live]="ariaLive('email', 'required')">
                        {{'accountant_portal.company_address_form.email_required' | translate}}
                    </span>
                    <span [attr.aria-live]="ariaLive('email', 'email')">
                        {{'accountant_portal.company_address_form.email_invalid' | translate}}
                    </span>
                </span>
            </label>

            <label
                data-required="true"
                [attr.data-invalid]="isAriaInvalid('phone')"
            >
                <div class="label-container">
                    <span class="label-text margin-t-sm">
                        {{'accountant_portal.company_address_form.phone' | translate}}
                    </span>
                </div>
                <input
                    [attr.aria-invalid]="isAriaInvalid('phone')"
                    formControlName="phone"
                    tabindex="0"
                    type="tel"
                    id="accountant_portal.company_address_form.phone"
                >
                <span class="label-message">
                    <span [attr.aria-live]="ariaLive('phone', 'required')">
                        {{'accountant_portal.company_address_form.phone_required' | translate}}
                    </span>
                    <span [attr.aria-live]="ariaLive('phone', 'phone')">
                        {{'accountant_portal.company_address_form.phone_invalid' | translate}}
                    </span>
                </span>
            </label>

            <label
                [attr.data-invalid]="isAriaInvalid('website')"
                *ngIf="!isSetupForm"
            >
                <div class="label-container">
                    <span class="label-text margin-t-sm">
                        {{'accountant_portal.company_address_form.website' | translate}}
                    </span>
                </div>
                <input
                    [attr.aria-invalid]="isAriaInvalid('website')"
                    formControlName="website"
                    tabindex="0"
                    type="text"
                    id="accountant_portal.company_address_form.website"
                >
                <span class="label-message">
                    <span [attr.aria-live]="ariaLive('website', 'url')">
                        {{'accountant_portal.company_address_form.url_invalid' | translate}}
                    </span>
                </span>
            </label>
        </div>
    </div>

    <div class="form-group">
        <div *ngIf="moreInfo"
            class="info-wrapper margin-t-lg margin-r-lg text-subtle"
        >
            <span
                [innerHTML]="'accountant_portal.company_information_form.accountant_directory_terms_info' | translate | safeHtml"></span>
        </div>
        <div class="input-wrapper">
            <label class="margin-t-lg margin-b-lg checkbox-container align-baseline">
                <mat-checkbox
                    (change)="!isPublic"
                    formControlName="isPublic"
                    class="margin-r-sm"
                >
                </mat-checkbox>
                <span
                    class="accountant-directory-terms"
                    [innerHTML]="'accountant_portal.company_information_form.accountant_directory_terms' | translate | safeHtml"
                ></span>
            </label>
        </div>
    </div>

    <div
        *ngIf="moreInfo && !isSetupForm"
        class="text-subtle margin-t-xl margin-b-lg"
    >
        {{'accountant_portal.company_information_form.info' | translate}}
    </div>

    <div
        class="form-group"
        *ngIf="!isSetupForm"
    >
        <div
            *ngIf="moreInfo"
            class="info-wrapper margin-t-lg margin-r-lg text-subtle"
        >
            {{'accountant_portal.company_information_form.description_info' | translate}}
        </div>
        <div class="input-wrapper">
            <label>
                <div class="label-container">
                    <span class="label-text margin-t-sm">
                        {{'accountant_portal.company_information_form.description' | translate}}
                    </span>
                </div>
                <textarea
                    maxlength="500"
                    formControlName="description"
                    tabindex="0"
                    id="accountant_portal.company_information_form.description"
                ></textarea>
            </label>
        </div>
    </div>

    <div
        class="form-group"
        *ngIf="!isSetupForm"
    >
        <div
            *ngIf="moreInfo"
            class="info-wrapper margin-t-lg margin-r-lg text-subtle"
        >
            {{'accountant_portal.company_information_form.quote_info' | translate}}
        </div>
        <div class="input-wrapper">
            <label>
                <div class="label-container">
                    <span class="label-text margin-t-sm">
                        {{'accountant_portal.company_information_form.quote' | translate}}
                    </span>
                </div>
                <textarea
                    maxlength="500"
                    formControlName="quote"
                    tabindex="0"
                    id="accountant_portal.company_information_form.quote"
                ></textarea>
            </label>
        </div>
    </div>

    <!-- company pdf - -->
    <div
        class="form-group"
        *ngIf="!isSetupForm"
    >
        <div
            *ngIf="moreInfo"
            class="info-wrapper margin-t-lg margin-r-lg text-subtle"
        >
            {{'accountant_portal.company_settings.file_upload.pdf_info' | translate}}
        </div>
        <div class="input-wrapper">
            <label>
                <div class="label-container">
                    <span class="label-text margin-t-sm">
                        {{'accountant_portal.company_information_form.pdf' | translate}}
                    </span>
                </div>
            </label>
            <ng-container>
                <div class="bx-upload-content">
                    <div
                        class="bx-upload-container flex-item"
                        ng2FileDrop
                        [uploader]="pdfUploader"
                        (fileOver)="onPdfFileOver($event)"
                    >
                        <div
                            class="bx-file-drop-zone"
                            *ngIf="!pdfUploader.isUploading"
                            [class.is-file-over]="isPdfFileOver"
                        >
                            <div class="bx-upload">
                                <ng-container *ngIf="!pdf.hasFile()">
                                    <mat-icon
                                        fontSet="far"
                                        fontIcon="fa-file-pdf"
                                        class="icon"
                                    ></mat-icon>
                                </ng-container>
                                <ng-container *ngIf="pdf.hasFile()">
                                    <mat-icon
                                        fontSet="fas"
                                        fontIcon="fa-file-pdf"
                                        class="icon"
                                    ></mat-icon>
                                </ng-container>
                            </div>
                        </div>
                        <div
                            class="bx-upload-filename"
                            *ngIf="pdf.hasName()"
                        >
                            {{pdf.name| truncate : 40 : '…'}}
                        </div>
                    </div>
                    <div class="bx-upload-actions flex-item">
                        <div class="cell">
                            <button
                                mat-raised-button
                                (keyup)="uploadPdf.focus()"
                                (click)="uploadPdf.click()"
                                color="secondary"
                                tabindex="-1"
                            >
                                <span *ngIf="!pdf.hasFile()">
                                    {{'accountant_portal.company_settings.file_upload.pdf.choose_file' | translate}}
                                </span>
                                <span *ngIf="pdf.hasFile()">
                                    {{'accountant_portal.company_settings.file_upload.pdf.replace_file' | translate}}
                                </span>

                                <input
                                    type="hidden"
                                    formControlName="pdf"
                                >
                                <input
                                    class="bx-upload-input"
                                    id="accountant_portal.company_information_form.pdf"
                                    #uploadPdf
                                    [accept]="validPdfMimeTypes"
                                    type="file"
                                    ng2FileSelect
                                    [uploader]="pdfUploader"
                                >
                            </button>

                            <button
                                *ngIf="companyPdfChanged && originalPdf.hasFile()"
                                mat-raised-button
                                (click)="resetPdfFile()"
                                color="secondary"
                                tabindex="-1"
                            >
                                <span>
                                    {{'accountant_portal.company_settings.file_upload.pdf.revert_file' | translate}}
                                </span>
                            </button>
                        </div>

                        <div class="bx-upload-info">
                            {{'accountant_portal.company_settings.file_upload.pdf_information' | translate}}
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <!-- company logo - -->
    <div
        class="form-group"
        *ngIf="!isSetupForm"
    >
        <div
            *ngIf="moreInfo"
            class="info-wrapper margin-t-lg margin-r-lg text-subtle"
        >
            {{'accountant_portal.company_settings.file_upload.logo_info' | translate}}
        </div>
        <div class="input-wrapper">
            <label>
                <div class="label-container">
                    <span class="label-text margin-t-sm">
                        {{'accountant_portal.company_information_form.logo' | translate}}
                    </span>
                </div>
            </label>
            <ng-container>
                <div class="bx-upload-content">
                    <div
                        class="bx-upload-container flex-item"
                        ng2FileDrop
                        [uploader]="logoUploader"
                        (fileOver)="onLogoFileOver($event)"
                    >
                        <div
                            class="bx-file-drop-zone"
                            *ngIf="!logoUploader.isUploading"
                            [class.is-file-over]="isLogoFileOver"
                        >
                            <div class="bx-upload">
                                <img
                                    *ngIf="logo.hasFile()"
                                    class="preview"
                                    src="{{logo.base64}}"
                                >
                                <mat-icon
                                    *ngIf="!logo.hasFile()"
                                    fontSet="far"
                                    fontIcon="fa-file-image"
                                    class="icon"
                                ></mat-icon>
                            </div>
                        </div>
                        <div
                            class="bx-upload-filename"
                            *ngIf="logo.hasName()"
                        >
                            {{logo.name | truncate : 40 : '…'}}
                        </div>
                    </div>
                    <div class="bx-upload-actions flex-item">
                        <div class="cell">
                            <button
                                mat-raised-button
                                (keyup)="uploadLogo.focus()"
                                (click)="uploadLogo.click()"
                                color="secondary"
                                tabindex="-1"
                            >
                                <span *ngIf="!logo.hasFile()">
                                    {{'accountant_portal.company_settings.file_upload.logo.choose_file' | translate}}
                                </span>
                                <span *ngIf="logo.hasFile()">
                                    {{'accountant_portal.company_settings.file_upload.logo.replace_file' | translate}}
                                </span>

                                <input
                                    type="hidden"
                                    formControlName="logo"
                                >
                                <input
                                    class="bx-upload-input"
                                    id="accountant_portal.company_information_form.logo"
                                    #uploadLogo
                                    [accept]="validLogoMimeTypes"
                                    type="file"
                                    ng2FileSelect
                                    [uploader]="logoUploader"
                                >
                            </button>

                            <button
                                *ngIf="companyLogoChanged && originalLogo.hasFile()"
                                mat-raised-button
                                (click)="resetLogoFile()"
                                color="secondary"
                                tabindex="-1"
                            >
                                <span>
                                    {{'accountant_portal.company_settings.file_upload.logo.revert_file' | translate}}
                                </span>
                            </button>
                        </div>

                        <div class="bx-upload-info text-small">
                            {{'accountant_portal.company_settings.file_upload.logo_information' | translate}}
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <label class="margin-t-lg margin-b-lg checkbox-container align-center">
        <mat-checkbox
            (change)="!hasAssociation"
            formControlName="association"
            class="margin-r-sm"
        >
        </mat-checkbox>
        <span>
            {{'accountant_portal.company_information_form.association' | translate}}
        </span>
    </label>
</div>
