<form novalidate [formGroup]="form">

    <div class="dialog-title">
        {{'accountant_portal.add_new_accountant_dialog.title' | translate}}
    </div>

    <div class="dialog-content padding-b-sm">
        <p class="explanation">{{'accountant_portal.add_new_accountant_dialog.explanation_text' | translate}}</p>
        <label data-required="true" [attr.data-invalid]="isAriaInvalid('firstName')">
            <div class="label-container">
                <span class="label-text">{{'accountant_portal.add_new_accountant_dialog.first_name' | translate}}</span>
            </div>
            <input id="accountant_portal.add_new_accountant_dialog.first_name" appTrimOnBlur type="text" tabindex="0"
                   class="form-input"
                   [attr.aria-invalid]="isAriaInvalid('firstName')" formControlName="firstName"/>
            <span class="label-message">
                <span [attr.aria-live]="ariaLive('firstName', 'required')">{{'globals.required' | translate}}</span>
            </span>
        </label>

        <label data-required="true" [attr.data-invalid]="isAriaInvalid('lastName')">
            <div class="label-container">
                <span class="label-text margin-t-sm">{{'accountant_portal.add_new_accountant_dialog.last_name' | translate}}</span>
            </div>
            <input id="accountant_portal.add_new_accountant_dialog.last_name" appTrimOnBlur type="text" tabindex="0"
                   class="form-input"
                   [attr.aria-invalid]="isAriaInvalid('lastName')" formControlName="lastName"/>
            <span class="label-message">
                <span [attr.aria-live]="ariaLive('lastName', 'required')">{{'globals.required' | translate}}</span>
            </span>
        </label>

        <label data-required="true" [attr.data-invalid]="isAriaInvalid('email')">
            <div class="label-container">
                <span class="label-text margin-t-sm">{{'accountant_portal.add_new_accountant_dialog.email' | translate}}</span>
            </div>
            <input id="accountant_portal.add_new_accountant_dialog.email" type="text" tabindex="0" class="form-input"
                   [attr.aria-invalid]="isAriaInvalid('email')" formControlName="email"/>
            <span class="label-message">
                <span [attr.aria-live]="ariaLive('email', 'required')">{{'globals.required' | translate}}</span>
                <span [attr.aria-live]="ariaLive('email', 'email')">{{'accountant_portal.add_new_accountant_dialog.email_invalid' | translate}}</span>
            </span>
        </label>

        <label>
            <div class="label-container">
                <span class="label-text margin-t-sm">{{'accountant_portal.add_new_accountant_dialog.role_form_label' | translate}}</span>
            </div>
            <mat-select formControlName="role" class="bx-mat-select bx-select-arrow form-input"
                        id="accountant_portal.add_new_accountant_dialog.role">
                <mat-option *ngFor="let role of roles" [value]="role">
                    {{'accountant_portal.add_new_accountant_dialog.role_' + role | translate}}
                </mat-option>
            </mat-select>
        </label>
        <label>
            <div class="label-container">
                <span class="label-text margin-t-sm">{{'accountant_portal.add_new_accountant_dialog.language_form_label' | translate}}</span>
            </div>
            <mat-select formControlName="language" class="bx-mat-select bx-select-arrow form-input"
                        id="accountant_portal.add_new_accountant_dialog.language">
                <mat-option *ngFor="let language of languages" [value]="language.value">
                    {{'accountant_portal.add_new_accountant_dialog.language_' + language.name | translate}}
                </mat-option>
            </mat-select>
        </label>
    </div>

    <div class="margin-t-md">
        <button mat-raised-button
                id="accountant_portal.add_new_accountant_dialog.invite"
                tabindex="0"
                color="primary"
                class="margin-r-lg"
                (click)="addNewAccountant()"
                [disabled]="form.invalid">
            <span>{{'accountant_portal.add_new_accountant_dialog.invite' | translate}}</span>
        </button>
        <button mat-dialog-close mat-raised-button
                type="button"
                id="accountant_portal.add_new_accountant_dialog.cancel"
                tabindex="0"
                color="secondary">
            <span>{{'globals.cancel' | translate}}</span>
        </button>
    </div>
</form>
