<div class="overlay-menu" *ngIf="hasActions">
    <button type="button" mat-icon-button
            class="ellipsis-right-aligned"
            matTooltipPosition="below"
            tabindex="0"
            aria-disabled="true"
            [matTooltip]="'globals.tooltip.more_options' | translate"
            [matMenuTriggerFor]="overlayMenu"
            (click)="openMenu()">
        <img src="{{assetUrl}}/icons/contextmenu-icon.svg" alt="menu-trigger">
    </button>
    <mat-menu #overlayMenu="matMenu" [overlapTrigger]="false" x-position="before">
        <button mat-menu-item *ngFor="let action of actions"
                (click)="onMenuItemClick(action)">
            <span>{{action.displayName | translate}}</span>
        </button>
    </mat-menu>
</div>
