<mat-card class="card no-padding">
    <section class="card-header">
        <h1 class="card-title card-title-large">{{"billing.overview.billing_info" | translate}}</h1>
    </section>
    <section class="card-content">
        <div *ngIf="!showBillingForm">
            <p class="card-message">{{billingInfo.name}}</p>
            <p class="card-message">{{billingInfo.firstname}} {{billingInfo.lastname}}</p>
            <p class="card-message">{{billingInfo.address}} {{billingInfo.addressNr}}</p>
            <p class="card-message">{{billingInfo.postcode}} {{billingInfo.city}}</p>
            <p class="card-message">{{getCountryName(billingInfo.countryCode)}}</p>
            <p class="card-message card-message-spaced">{{billingInfo.phoneMobile}}</p>
            <p class="card-message card-message-spaced">{{billingInfo.mail}}</p>
        </div>

        <app-billing-address-form [companyProfile]="billingInfo"
                                  [countries]="countries"
                                  (changeFormValidity)="onChangeFormValidity($event)"
                                  *ngIf="showBillingForm"></app-billing-address-form>

    </section>
    <section class="card-actions">
        <button mat-raised-button
                type="button"
                id="billing.overview.change_billing_address"
                tabindex="0"
                color="primary"
                (click)="toggleBillingForm()"
                *ngIf="!showBillingForm">
            <span>{{ 'billing.change_billing_address' | translate }}</span>
        </button>

        <button mat-raised-button
                type="button"
                id="billing.overview.change_billing_address_save"
                tabindex="0"
                color="primary"
                (click)="onSaveBillingAddress()"
                [disabled]="!billingInfoFormValidity"
                *ngIf="showBillingForm">
            <span>{{ 'globals.save' | translate }}</span>
        </button>

        <button mat-raised-button
                class="margin-l-md"
                type="button"
                id="billing.overview.change_billing_address_cancel"
                tabindex="0"
                color="secondary"
                (click)="toggleBillingForm()"
                *ngIf="showBillingForm">
            <span>{{ 'globals.cancel' | translate }}</span>
        </button>
    </section>
</mat-card>
