@import "variables/variables";
@import "placeholders/typography.placeholder";
@import "mixins/shadow.mixin";

$toast-container-width: 94rem;
$toast-container-position-left: 50%;
$toast-container-left-margin: -$toast-container-width / 2;
$toast-color: $color-typ-special;
$toast-color-error: #c81919;
$toast-text-opacity: 0.3;
$toast-width: 100%;
$toast-padding: 16px;
$toast-close-button-margin: 16px;
$toast-line-height: 19px;

%toast {
    left: $toast-container-position-left;
    margin-left: $toast-container-left-margin;
    width: $toast-container-width;

    &.toast-top-left,
    &.toast-top-right {
        top: 0;
        z-index: 1000;
    }

    .toast {
        @include mix-shadow(1, null);
        display: flex;
        justify-content: center;
        // sass-lint:disable no-important
        border-radius: 0 0 3px 3px !important;
        // sass-lint:disable no-important
        background-image: none !important;
        padding: $toast-padding;
        width: $toast-width;
        line-height: $toast-line-height;
        color: $toast-color;
        font-family: $typo-font-base-family;
        font-size: $typo-font-base-size;
        font-weight: $typo-font-base-weight;
        box-sizing: border-box;
        cursor: pointer;

        &.toast-error {
            background-color: $toast-color-error;
        }
    }

    .toast-message {
        order: 1;
        max-width: 616px;
    }

    .toast-title {
        order: 2;
        float: right;
        margin-left: 6px;
        font-weight: normal;

        &:hover {
            text-decoration: underline;
        }
    }

    .toast-close-button {
        position: absolute;
        right: 0;
        opacity: $toast-text-opacity;
        padding: $toast-padding;
        text-shadow: none;
    }

    .toast-dismiss-text,
    .toast-dismiss-icon {
        font-size: 1.1rem;
        font-weight: normal;
    }

    .toast-dismiss-icon {
        padding-left: 20px;
    }

    .toast-close-button:before {
        margin-right: $toast-close-button-margin;
        content: attr(data-content);
    }

    // Use double class selector to override @ng2-toastr !important ID selector.
    > .toast-info.toast-info,
    > .toast-error.toast-error,
    > .toast-success.toast-success,
    > .toast-warning.toast-warning {
        background-image: none !important;
        text-align: center;
    }
}
