<div class="toast-title" *ngIf="title" [attr.aria-label]="title">
    {{ title | translate }}
</div>
<div class="toast-message" *ngIf="message" role="alert" aria-live="polite" [attr.aria-label]="message">
    {{ message | translate:translateParams }}
</div>
<div *ngIf="options.closeButton" (click)="close($event)">
    <div class="toast-close-button">
        <span class="toast-dismiss-text">{{ 'globals.dismiss_message' | translate }}</span>
        <span class="toast-dismiss-icon">X</span>
    </div>
</div>
