<mat-list class="no-padding">
    <app-addons-list-item *ngFor="let addon of filteredAddons"
                          [isActive]="isActive(addon)"
                          [addon]="addon"
                          [isDisabled]="isLoading(addon.key)"
                          (addonActivate)="onAddonActivate(addon)"
                          (addonDeactivate)="onAddonDeactivate(addon)"></app-addons-list-item>
</mat-list>
