<table class="bx-table centered">
    <thead>
    <tr>
        <th>
            <app-list-sort [column]="'lastname'" [title]="'billing.user_permission.list.title.name' | translate"
                           [columnConfig]="columnConfig" (sort)="this.sort.emit($event)"></app-list-sort>
        </th>
        <th>
            <app-list-sort [column]="'email'" [title]="'billing.user_permission.list.title.mail' | translate"
                           [columnConfig]="columnConfig" (sort)="this.sort.emit($event)"></app-list-sort>
        </th>
        <th>
            <app-list-sort [column]="'is_superadmin'" [title]="'billing.user_permission.list.title.type' | translate"
                           [columnConfig]="columnConfig" (sort)="this.sort.emit($event)"></app-list-sort>
        </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
        <td>{{user.fullName}}</td>
        <td><a [href]="'mailto:'+user.email">{{user.email}}</a></td>
        <td><span class="text-subtle"
                  *ngIf="user.isSuperadmin">{{'billing.user_permission.list.admin' | translate}}</span></td>
        <td class="text-right">
            <a [href]="'/user_manager/editRights/id/'+user.id">
                <button type="button" mat-raised-button
                        id="dialog_confirm_cancel"
                        tabindex="0"
                        color="secondary">
                    <span>{{'billing.user_permission.list.action.edit_user_permissions' | translate}}</span>
                </button>
            </a>
        </td>
        <td class="delete-user">
            <button [disabled]="user.id===currentUser.id" type="button" mat-icon-button
                    color="secondary"
                    class="icon-button-switch"
                    [matTooltip]="'billing.user_management.remove_user' | translate"
                    matTooltipPosition="below"
                    (click)="openRemoveUserConfirmationModal(user)">
                <mat-icon fontSet="fa" fontIcon="fa-trash-alt" class="delete-icon"></mat-icon>
            </button>
        </td>

    </tr>
    </tbody>
</table>
