<div class="dialog-title">
    {{'entry_row-dialog.save_template.title' | translate}}
</div>

<div class="dialog-content">
    <div class="cell cell-shrink">
        <label>
            <span class="label-text">{{'entry_row-dialog.save_template.name.title' | translate}}</span>
            <input type="text"
                   autofocus
                   tabindex="0"
                   [(ngModel)]="templateName"
                   (keyup)="checkName(templateName)"
            />
        </label>
        <span class="label-message message">
            <span class="warning" *ngIf="nameExists && !isLoadedTemplate">
                <mat-icon fontSet="fa" fontIcon="fa-exclamation-triangle"></mat-icon>
                {{'entry_row-dialog.save_template.name.existing.title' | translate}}
            </span>
            <span class="warning-message" [innerHtml]="'entry_row-dialog.save_template.name.existing.message' | translate | safeHtml" *ngIf="nameExists"></span>
        </span>
    </div>
</div>

<div class="dialog-actions">
    <div class="grid grid-gap">
        <div class="cell cell-shrink">
            <button mat-raised-button id="fibu.manual.form.submit_edit"
                    tabindex="0"
                    color="primary"
                    [disabled]="!canSave"
                    (click)="closeDialog()">
                <span>{{'entry_row-dialog.save_template.submit' | translate}}</span>
            </button>
        </div>
        <div class="cell cell-shrink">
            <button mat-dialog-close mat-raised-button id="fibu.manual.form.cancel_edit" tabindex="0" color="secondary">
                <span>{{ 'globals.cancel' | translate }}</span>
            </button>
        </div>
    </div>
</div>
