// Save template dialog
@import "variables/color";

$dialog-label-message-fa-color: #dca720;

input {
    box-sizing: border-box;
}

.dialog-content,
.dialog-section {

    input[type="text"] {
        width: 100%;
    }
}

:host {
    .label-message {
        display: block;
        margin-top: 1em;
        width: 100%;
        box-sizing: border-box;

        .warning {
            display: block;

            .fa {
                color: $dialog-label-message-fa-color;
            }
        }

        .warning-message {
            color: $color-character-secondary-light;
        }
    }

    .dialog-actions {
        border-top: none;
    }
}
