@import "variables/variables";
@import "placeholders/typography.placeholder";

%typography {

  .heading {
    @extend %heading;
    letter-spacing: 0.01rem;
  }

  .title {
    @extend %title;
    letter-spacing: 0.01rem;
  }

  .subheading {
    @extend %subheading;
    letter-spacing: 0.01rem;
  }

  .caption {
    @extend %caption;
    letter-spacing: 0.01rem;
    > * {
      font-size: inherit;
    }
  }

  .text-subtle {
    @extend %typography-dark-secondary;
  }

  .text-disabled {
    @extend %typography-dark-disabled;
  }

  .text-emphasis {
    @extend %body-emphasis;
    letter-spacing: 0.01rem;
    font-weight: 400;
    font-style: italic;
  }

  .text-small {
    font-size: $typo-font-size-label-emphasis;
  }

  .text-strong {
    letter-spacing: 0.01rem;
    font-weight: 700;
  }

  .text-spaced {
    line-height: 1.46;
  }

  .text-nowrap {
    white-space: nowrap;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .text-center {
    text-align: center;
  }

}
