@import "variables/variables";
@import "placeholder.toast";
@import "../assets/styles/card";
@import "../assets/styles/list";
@import "../assets/styles/table";
@import "../assets/styles/tooltip";
@import "../assets/styles/utils";
@import "../assets/styles/dialog";
@import "../assets/styles/slide-toggle";
@import "../assets/styles/autocomplete";
@import "typography/typography";

$app-checkout-container-width: 744px;

.angular-app-container {
    font-family: $typo-font-base-family;
    font-size: $typo-font-base-size;
    font-weight: $typo-font-base-weight;
    line-height: $typo-font-base-line-height;

    display: block;
    overflow: visible;

    box-sizing: border-box;
    min-width: $base-container-min-width;
    max-width: $base-container-max-width;
    margin: 0 auto;
    padding: $base-container-padding;

    color: $color-character-primary-light;

    @extend %tooltip;

    @extend %typography;
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
}

.cdk-overlay-container {
    @extend %typography;

    @extend %dialog;
}

#toast-container {
    @extend %toast;
}

.mat-tooltip {
    height: auto !important;

    text-align: center !important;
}

app-checkout {
    display: block;

    width: $app-checkout-container-width;
    margin: 0 auto;
}
