// vat assign
@import "variables/color";

$vat-assign-dialog-section-color: $color-character-secondary-light;
$vat-assign-dialog-section-line-height: 1.2;
$vat-assign-background-color: rgba(0, 0, 0, 0.05);

:host {
    .dialog-section {
        background-color: $vat-assign-background-color;
        line-height: $vat-assign-dialog-section-line-height;
        color: $vat-assign-dialog-section-color;
    }

    .dialog-actions {
        border-top: none;
    }

}
