<div class="dialog-title" *ngIf="title" [innerHtml]="title | translate | safeHtml"></div>

<div *ngIf="!isContentArray" class="dialog-content" [innerHtml]="content | translate:data | safeHtml"></div>

<div class="dialog-content" *ngIf="isContentArray">
    <ng-container *ngFor="let contents of content; let index = index">
        <p [hidden]="!contents" [innerHtml]="contents | translate:data | safeHtml"></p>
    </ng-container>
</div>

<div class="dialog-actions">
    <div class="grid grid-gap">
        <div class="cell cell-shrink">
            <button *ngIf="!switchButtons" mat-raised-button id="fibu.manual.dialog.submit_delete" tabindex="0" color="primary" (click)="closeDialog(true)">
                <span>{{submit | translate}}</span>
            </button>

            <button *ngIf="switchButtons" mat-raised-button id="fibu.manual.dialog.switched_cancel_delete" tabindex="0" color="primary" (click)="closeDialog(false)">
                <span>{{'globals.cancel' | translate}}</span>
            </button>
        </div>
        <div class="cell cell-shrink">
            <button *ngIf="!switchButtons" mat-raised-button id="fibu.manual.dialog.cancel_delete" tabindex="0" color="secondary" (click)="closeDialog(false)">
                <span>{{'globals.cancel' | translate}}</span>
            </button>

            <button *ngIf="switchButtons" mat-raised-button id="fibu.manual.dialog.switched_submit_delete" tabindex="0" color="secondary" (click)="closeDialog(true)">
                <span>{{submit | translate}}</span>
            </button>
        </div>
    </div>
</div>
