@import 'variables/variables';
@import 'placeholders/typography.placeholder';
@import "mixins/shadow.mixin";

%tooltip {

    .tooltip {
        position: absolute;
        z-index: 1070;
        display: block;
        font-family: $typo-font-base-family;
        font-size: $typo-font-base-size;
        font-style: normal;
        font-weight: $typo-font-base-weight;
        text-align: left;
        text-align: start;
        text-decoration: none;
        text-shadow: none;
        text-transform: none;
        letter-spacing: normal;
        word-break: normal;
        word-spacing: normal;
        word-wrap: normal;
        white-space: normal;
        filter: alpha(opacity=0);
        opacity: 0;

        line-break: auto;

    }
    .tooltip.in {
        filter: alpha(opacity=90);
        opacity: 1;
    }
    .tooltip.top {
        padding: 5px 0;
        margin-top: -3px;
    }
    .tooltip.right {
        padding: 0 5px;
        margin-left: 3px;
    }
    .tooltip.bottom {
        padding: 5px 0;
        margin-top: 3px;
    }
    .tooltip.left {
        padding: 0 5px;
        margin-left: -3px;
    }
    .tooltip-inner {
        width: 272px;
        padding: 1.6rem;
        color: $typo-color-dark-primary;
        text-align: justify;
        background-color: $color-card;
        border-radius: 2px;
        @include mix-shadow(1, null);
    }
    .tooltip-arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        &::before {
            z-index: -1;
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            background: $color-card;
            @include mix-shadow(1, 1);
        }
    }
    .tooltip.top .tooltip-arrow {
        bottom: 0;
        left: 50%;
        margin-left: -5px;
        border-width: 5px 5px 0;
        border-top-color: $color-card;
        &::before {
            transform: translateX(-50%) translateY(-50%) translateY(-6px) rotate(45deg);
            top: 0;
            left: 50%;
        }
    }
    .tooltip.top-left .tooltip-arrow {
        right: 5px;
        bottom: 0;
        margin-bottom: -5px;
        border-width: 5px 5px 0;
        border-top-color: $color-card;
        &::before {
            transform: translateX(-50%) translateY(-50%) translateY(-6px) rotate(45deg);
            top: 0;
            left: 50%;
        }
    }
    .tooltip.top-right .tooltip-arrow {
        bottom: 0;
        left: 5px;
        margin-bottom: -5px;
        border-width: 5px 5px 0;
        border-top-color: $color-card;
        &::before {
            transform: translateX(-50%) translateY(-50%) translateY(-6px) rotate(45deg);
            top: 0;
            left: 50%;
        }
    }
    .tooltip.right .tooltip-arrow {
        top: 50%;
        left: 0;
        margin-top: -5px;
        border-width: 5px 5px 5px 0;
        border-right-color: $color-card;
        &::before {
            transform: translateX(-50%) translateX(6px) translateY(-50%) rotate(45deg);
            top: 0;
            left: 50%;
        }
    }
    .tooltip.left .tooltip-arrow {
        top: 50%;
        right: 0;
        margin-top: -5px;
        border-width: 5px 0 5px 5px;
        border-left-color: $color-card;
        &::before {
            transform: translateX(-50%) translateX(-6px) translateY(-50%) rotate(45deg);
            top: 0;
            left: 50%;
        }
    }
    .tooltip.bottom .tooltip-arrow {
        top: 0;
        left: 50%;
        margin-left: -5px;
        border-width: 0 5px 5px;
        border-bottom-color: $color-card;
        &::before {
            transform: translateX(-50%) translateY(-50%) translateY(6px) rotate(45deg);
            top: 0;
            left: 50%;
        }
    }
    .tooltip.bottom-left .tooltip-arrow {
        top: 0;
        right: 5px;
        margin-top: -5px;
        border-width: 0 5px 5px;
        border-bottom-color: $color-card;
        &::before {
            transform: translateX(-50%) translateY(-50%) translateY(6px) rotate(45deg);
            top: 0;
            left: 50%;
        }
    }
    .tooltip.bottom-right .tooltip-arrow {
        top: 0;
        left: 5px;
        margin-top: -5px;
        border-width: 0 5px 5px;
        border-bottom-color: $color-card;
        &::before {
            transform: translateX(-50%) translateY(6px) translateY(-50%) rotate(45deg);
            top: 0;
            left: 50%;
        }
    }

    .no-inner-padding > .tooltip > .tooltip-inner {
        padding: 0;
    }
}
