<ul class="navigation-list" *ngIf="accountantUser.isAcceptedAccountant">
    <li class="navigation-item" routerLinkActive="active"><a routerLink="/clients">{{'accountant_portal.clients' | translate}}</a></li>
    <li *ngIf="accessPermissions.isOwner" class="navigation-item" routerLinkActive="active"><a routerLink="/accountants">{{'accountant_portal.accountant' | translate}}</a></li>
    <li *ngIf="accessPermissions.isOwner" class="navigation-item" routerLinkActive="active"><a routerLink="/services">{{'accountant_portal.services' | translate}}</a></li>
    <li *ngIf="accessPermissions.isOwner" class="navigation-item" routerLinkActive="active"><a routerLink="/company/{{accountantUser.companyId}}">{{'accountant_portal.company' | translate}}</a></li>
</ul>
