@import "variables/color";

@import "../../../shared/accountant-portal-variables";

.navigation-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-item {
    float: left;

    a {
        display: block;
        padding: 8px 16px 12px;
        text-decoration: none;
        color: $navigation-link-color;

        &:hover {
            color: $warning-font-color;
        }
    }

    &.active {
        border-bottom: 4px solid $color-secondary-blue-light;

        a {
            color: $warning-font-color;
        }
    }
}
