<div class="dialog-title">
    {{'entry_row-dialog.vat-assign.title' | translate}}
</div>
<div class="dialog-content">
    <div *ngFor="let row of rows">
            <p *ngIf="row.bothAccountsHaveTax"
               [innerHtml]="'entry_row-dialog.vat-assign.description-multiple-vat' | translate:{vat: row.tax.displayName} | safeHtml"></p>
            <p *ngIf="!row.bothAccountsHaveTax"
               [innerHtml]="'entry_row-dialog-vat-assign.description-single-vat' | translate:{vat: row.tax.displayName} | safeHtml"></p>
            <mat-radio-group class="grid grid-gap" [(ngModel)]="row.taxAccountId">
                <mat-radio-button [value]="row.debitAccount.id" class="cell bx-radio-top">
                    <span>{{ 'entry_row.debit' | translate }}</span>
                    <span>{{row.debitAccount.accountNo}} - {{row.debitAccount.name}}</span>
                </mat-radio-button>
                <mat-radio-button [value]="row.creditAccount.id" class="cell bx-radio-top">
                    <span>{{ 'entry_row.credit' | translate }}</span>
                    <span>{{row.creditAccount.accountNo}} - {{row.creditAccount.name}}</span>
                </mat-radio-button>
            </mat-radio-group>
    </div>
</div>

<div class="dialog-section" [innerHtml]="'entry_row-dialog-vat-assign.caption.link-vat-to-account' | translate | safeHtml"></div>

<div class="dialog-actions">
    <div class="grid grid-gap">
        <div class="cell cell-shrink">
            <button mat-raised-button id="fibu.manual.form.submit_edit" tabindex="0" color="primary"
                    (click)="closeDialog()">
                <span>{{'entry_row-dialog.vat-assign.submit' | translate}}</span>
            </button>
        </div>
        <div class="cell cell-shrink">
            <button mat-dialog-close mat-raised-button id="fibu.manual.form.cancel_edit" tabindex="0" color="secondary">
                <span>{{ 'globals.cancel' | translate }}</span>
            </button>
        </div>
    </div>
</div>
