<mat-card class="margin-md margin-t-xl no-padding">
    <div class="bx-data-table">
        <table matSort mat-table
               [dataSource]="dataSource"
               [matSortActive]="'name'"
               [matSortDirection]="'asc'"
               [matSortDisableClear]="true">

            <!--Header-->

            <ng-container matColumnDef="tableName">
                <th mat-header-cell *matHeaderCellDef colspan="4">
                    <span class="subheading table-name">{{'accountant_portal.table_header.pending_client_invites' | translate}}</span>
                    <p class="margin-t-sm">{{'accountant_portal.table_header.pending_client_invites_description' | translate}}</p>
                </th>
            </ng-container>

            <!--Table content-->

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'accountant_portal.table_column.name' | translate}}
                </th>
                <td mat-cell *matCellDef="let invite" class="text-strong">
                    {{invite.client.name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="contact">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'accountant_portal.table_column.contact' | translate}}
                </th>
                <td mat-cell *matCellDef="let invite">
                    <a [href]="'mailto:' + invite.client.email">{{invite.client.email}}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="inviteRecived">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'accountant_portal.table_column.pending_client_invite_recived' | translate}}
                </th>
                <td mat-cell *matCellDef="let invite">
                    {{invite.createdAt | date: dateFormat}}
                </td>
            </ng-container>

            <ng-container matColumnDef="actionsInvites">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let invite" class="text-right">
                    <button type="button" mat-raised-button
                            id="accountant_portal.clients.accept_pending_client_invite"
                            tabindex="0"
                            color="secondary"
                            (click)="onAcceptPendingClientInvite(invite)">
                        <span>{{'accountant_portal.clients.accept_pending_client_invite' | translate}}</span>
                    </button>
                    <button type="button" mat-raised-button
                            id="accountant_portal.clients.reject_pending_client_invite"
                            class="margin-l-md"
                            tabindex="0"
                            color="secondary"
                            (click)="onRejectPendingClientInvite(invite)">
                        <span>{{'accountant_portal.clients.reject_pending_client_invite' | translate}}</span>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['tableName']"></tr>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</mat-card>
