@import "variables/variables";
@import "placeholders/typography.placeholder";

.option-description {
    line-height: 2.4rem;
}

.option-checkbox {
    display: inline-block;
}

.options-explanation {
    line-height: 2.4rem;
}

.old-payroll-option {
    padding-left: 1.3rem;
    color: $typo-color-dark-primary;
}

.new-payroll-option {
    padding-left: 1.2rem;
    width: 100%;
}

.option-info {
    position: relative;
    top: 1px;
}

.full-width {
    width: 100%;
}
