<section class="card-header" *ngIf="isCheckoutScope">
    <h1 *ngIf="!activePlan.isAccountantPlan" class="card-title">{{"billing.checkout.choose_options" | translate}}</h1>
    <h1 *ngIf="activePlan.isAccountantPlan" class="card-title">{{"billing.checkout.accountant_headline" |
        translate:{companyName: companyProfile.name} }}</h1>
</section>

<section class="card-header" *ngIf="isOverviewScope">
    <div class="grid">
        <ng-container *ngIf="!activePlan.isAccountantPlan">
            <div class="cell cell-shrink option-info">
                <h1 class="card-title card-title-large">{{"billing.overview.options" | translate}}</h1>
            </div>
            <div class="cell">
                <div class="options-explanation margin-l-lg">{{'billing.overview.activating_option_explanation' |
                    translate}}
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="activePlan.isAccountantPlan">
            <div class="cell cell-shrink option-info">
                <h1 class="card-title card-title-large">{{"billing.overview.accountant_options" | translate}}</h1>
            </div>
        </ng-container>
    </div>
</section>

<hr *ngIf="isCheckoutScope">

<!--Payroll for old users-->
<section class="card-content padding-b-md margin-t-sm" *ngIf="activePlan.isProductVersionV1">
    <div class="grid">
        <div class="cell cell-shrink">
            <mat-checkbox [checked]="payrollChecked" class="option-checkbox"
                          (change)="onPayrollChange($event.checked)"></mat-checkbox>
        </div>
        <div class="cell cell-shrink margin-l-md">
            <span class="option-description text-strong" [class.subheading]="isOverviewScope">{{"billing.addon_payroll.name" | translate}}</span>
        </div>
        <div class="cell cell-shrink">
            <span class="option-description margin-l-lg option-info">
                <app-learn-more></app-learn-more>
            </span>
        </div>
        <div class="cell cell-shrink right option-info" *ngIf="payrollAddon">
            <span class="option-description" [class.text-disabled]="!payrollChecked">{{payrollAddon.currency}} {{payrollAddon.getScalePrice(numberOfPayrollEmployees).price | number: '1.2-2'}} {{'billing.period.per_month' | translate}}</span>
        </div>
    </div>
    <div class="radio-group" *ngIf="payrollAddon">
        <mat-radio-group [ngModel]="numberOfPayrollEmployees" (ngModelChange)="onPayrollAttributesChange($event)">
            <mat-radio-button [value]="1" class="radio-button margin-t-md" [disabled]="!payrollChecked">
                <span class="old-payroll-option text-nowrap">{{'billing.overview.payroll_up_to_1' | translate}} ({{payrollAddon.currency}} {{payrollAddon.getScalePrice(1).price | number: '1.2-2'}} {{'billing.period.per_month' | translate}})</span>
            </mat-radio-button>
            <br>
            <mat-radio-button [value]="5" class="radio-button margin-t-md" [disabled]="!payrollChecked">
                <span class="old-payroll-option text-nowrap">{{'billing.overview.payroll_up_to_5' | translate}} ({{payrollAddon.currency}} {{payrollAddon.getScalePrice(5).price | number: '1.2-2'}} {{'billing.period.per_month' | translate}})</span>
            </mat-radio-button>
            <br>
            <mat-radio-button [value]="25" class="radio-button margin-t-md" [disabled]="!payrollChecked">
                <span class="old-payroll-option text-nowrap">{{'billing.overview.payroll_up_to_25' | translate}} ({{payrollAddon.currency}} {{payrollAddon.getScalePrice(25).price | number: '1.2-2'}} {{'billing.period.per_month' | translate}})</span>
            </mat-radio-button>
        </mat-radio-group>
    </div>
</section>

<!--Payroll and banking for new users-->
<section class="card-content padding-b-md margin-t-sm"
         *ngIf="activePlan.isProductVersionV2 && !activePlan.isAccountantPlan">
    <div class="grid" *ngIf="payrollAddon">
        <div class="cell cell-shrink">
            <mat-checkbox [checked]="payrollChecked" [disabled]="planHasPayroll" class="option-checkbox"
                          (change)="onPayrollChange($event.checked)"></mat-checkbox>
        </div>
        <div class="cell cell-shrink margin-l-md">
            <span class="option-description text-strong" [class.subheading]="isOverviewScope">{{"billing.addon_payroll.name" | translate}}</span>
        </div>
        <div class="cell cell-shrink lg7 margin-l-xl option-info">
            <span class="option-description">
                <ng-container *ngIf="!isStarterPlan">
                    {{"billing.checkout.payroll_employees_number" | translate:{employees: payrollAddon.getScalePriceByPlan(this.activePlan).endingUnit | pluralize:'employees'} }}
                    <i>{{activePlan.name | translate}}</i>
                </ng-container>
            </span>
            <span class="option-description margin-l-md" *ngIf="!(isOverviewScope && isPlanProPlus)">
                <app-learn-more></app-learn-more>
            </span>
        </div>
        <div class="cell cell-shrink right option-info" *ngIf="showTrialDaysLeft(activePayrollAddon)">
            <span class="option-description"
                  [innerHTML]="'billing.trial_days_remaining' | translate:{days: activePayrollAddon.trialDaysLeft | pluralize:'days'} | safeHtml"></span>
        </div>
        <div class="cell cell-shrink right option-info">
            <span *ngIf="!planHasPayroll" class="option-description" [class.text-disabled]="!payrollChecked">{{payrollAddon.currency}} {{payrollAddonScalePrice | number: '1.2-2'}} {{'billing.period.per_month' | translate}}</span>
            <span *ngIf="planHasPayroll" class="option-description text-emphasis text-subtle">{{'billing.included_in_plan' | translate}}</span>
        </div>
    </div>

    <!--Payroll users for starter plan-->
    <div class="radio-group margin-t-sm" *ngIf="payrollChecked && isStarterPlan">
        <mat-radio-group [ngModel]="numberOfPayrollEmployees"
                         (ngModelChange)="onPayrollAttributesChange($event)">
            <div>
                <mat-radio-button [value]="1" class="radio-button margin-t-sm">
                    <span class="option-description new-payroll-option no-t-margin" [class.subheading]="isOverviewScope">{{'billing.checkout.payroll_employees_number_1' | translate}}</span>
                </mat-radio-button>
            </div>
            <div>
                <mat-radio-button [value]="5" class="radio-button margin-t-sm">
                    <span class="option-description new-payroll-option no-t-margin" [class.subheading]="isOverviewScope">{{'billing.checkout.payroll_employees_number_5' | translate}}</span>
                </mat-radio-button>
            </div>
        </mat-radio-group>
    </div>
</section>

<!-- Accountant plan -->
<section class="card-content padding-b-md margin-t-sm"
         *ngIf="activePlan.isProductVersionV2 && activePlan.isAccountantPlan">
    <div class="grid">
        <div class="cell cell-shrink">
            <mat-checkbox [checked]="accountantPayrollChecked" class="option-checkbox"
                          (change)="onAccountantPayrollChange($event.checked)"></mat-checkbox>
        </div>
        <div class="grid option-description margin-l-md option-info">
            <div class="cell cell-shrink">
                <span class="option-description text-strong" [class.subheading]="isOverviewScope">{{"billing.addon_accountant_payroll.name" | translate}}</span>
            </div>
            <div class="cell margin-l-lg">
                <span class="option-description">{{"billing.checkout.accountant_payroll_employees_number" | translate:{employees: accountantPayrollAddon.getScalePrice(1).endingUnit | pluralize:'employees'} }}</span>
            </div>
            <div class="cell cell-shrink">
                <span class="right option-description text-disabled">{{activePlan.currency}} {{accountantPayrollAddon.getScalePrice(1).price | number: '1.2-2'}} {{'billing.period.per_month' | translate}}</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="grid">
        <div class="cell cell-shrink">
            <mat-checkbox [checked]="accountantAccountingChecked" class="option-checkbox"
                          (change)="onAccountantAccountingChange($event.checked)"></mat-checkbox>
        </div>

        <div class="grid option-description margin-l-md option-info">
            <div class="cell cell-shrink">
                <span class="option-description text-strong" [class.subheading]="isOverviewScope">{{"billing.addon_accountant_accounting.name" | translate}}</span>
            </div>
            <div class="cell margin-l-lg">
                <span class="option-description">{{"billing.checkout.accounting_addon_description" | translate}}</span>
            </div>
            <div class="cell cell-shrink">
                <span class="option-description text-disabled">{{activePlan.currency}} {{accountantAccountingAddon.price | number: '1.2-2'}} {{'billing.period.per_month' | translate}}</span>
            </div>
        </div>
    </div>
</section>
